<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <title>{{if eq .site.HomeTitle ""}}{{.site.Title}}{{else}}{{.site.HomeTitle}}{{end}}</title>

    <meta name="Keywords" content="{{.article.SeoKeyword}}" />
    <meta name="description" content="{{.article.SeoDescription}}" />

    <script src="/views/themes/subIII/static/js/common/commonCss.js"></script>
    <script>
        var siteStatic = "{{.siteStatic}}";
        var categoryName = "{{.article.CategoryCallIndex}}";
    </script>
</head>

<body>
{{TemplateTheme $.siteTheme "_nav.html" .}}
<!-- main -->
<div class="body theme2">
    <div class="container show-margin" style="position: relative;">
        <div class="listCon clearfix">
            <div class="right" style="width: 100%;">
                {{TemplateTheme $.siteTheme "_nav_top_path.html" .}}
                <div class="subcon">
                    <div class="subcon-detail">
                        <p class="title">{{.article.Title}}</p>
                        <div class="sub-other">
                            <span>分类：{{.article.CategoryTitle}}</span>
                            <span>时间：{{dateformat .article.PublishTime "2006-01-02"}}</span>
                            <span>浏览：{{if eq .article.Click 0}}1{{else}}{{.article.Click}}{{end}}</span>
                        </div>
                        <div class="content">
                            {{str2html .article.Content}}
                            {{if gt (len .album) 0}}
                            <div class="news-list" id="divImg">
                                <ul>
                                    {{range $index, $item := .album}}
                                    <li>
                                        <img data-original="{{$item.OriginalPath}}" title="{{$item.Title}}" src="{{$item.OriginalPath}}" />
                                        <p class="title ellip">{{$item.Title}}</p>
                                    </li>
                                    {{end}}
                                </ul>
                            </div>
                            {{end}}
                            {{if gt (len .attach) 0}}
                            <div class="fj-box">
                                <span class="label">附件：</span>
                                <div>
                                    {{range $index, $item := .attach}}
                                    <p>
                                        <img src="{{$.siteStatic}}images/icon-fujian.png" />
                                        <a target="_blank" href="{{$item.OriginalPath}}">{{$item.Title}}</a>
                                    </p>
                                    {{end}}
                                </div>
                            </div>
                            {{end}}
                        </div>

                    </div>

                </div>
            </div>
        </div>


    </div>
</div>
<!-- footer -->
{{TemplateTheme $.siteTheme "_footer.html" .}}
<script type="text/javascript">
    $(function () {
        ArticleClick("{{.article.ArticleID}}");
    })
</script>
</body>

</html>