<style>
    .layui-form-label {
        width: 120px;
    }
</style>
<div class="layuimini-main">
    <form class="layui-form" method="get" lay-filter="frmEdit" id="frmEdit">
        <div class="layui-tab layui-tab-brief layui-tab-card">
            <ul class="layui-tab-title">
                <li class="layui-this">基本信息</li>
                <li>使用说明</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <div class="layui-form-item">
                        <label class="layui-form-label required">
                            <font color="red">*</font> 菜单
                        </label>
                        <div class="layui-input-inline" style="width: 500px;">
                            <input type="hidden" name="menu_id" value="{{.mdl.MenuID}}">
                            <input type="hidden" name="parent_id" value="{{.mdl.ParentID}}">
                            <input type="hidden" name="account_id" value="{{.mdl.AccountID}}">
                            <input type="text" name="name" value="{{.mdl.Name}}" maxlength="512" lay-verify="required" lay-reqtext="菜单为必填项" autocomplete="off" placeholder="" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label required">
                            <font color="red">*</font> 类型
                        </label>
                        <div class="layui-input-inline" style="width: 500px;">
                            <input type="text" name="type" value="{{.mdl.Type}}" maxlength="64" autocomplete="off" placeholder="" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label required">
                            <font color="red">*</font> 标识
                        </label>
                        <div class="layui-input-inline" style="width: 500px;">
                            <input type="text" name="key" value="{{.mdl.Key}}" autocomplete="off" lay-verify="required" lay-reqtext="Token为必填项" placeholder="" class="layui-input">
                        </div>
                        <!-- <div class="layui-form-mid layui-word-aux">ToKen值必须与公众平台对应</div> -->
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label required">
                            链接地址
                        </label>
                        <div class="layui-input-inline" style="width: 500px;">
                            <input type="text" name="url" value="{{.mdl.URL}}" autocomplete="off" placeholder="" class="layui-input">
                        </div>
                        <!-- <div class="layui-form-mid layui-word-aux">非必填，仅用于高级接口</div> -->
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">排序号</label>
                        <div class="layui-input-inline" style="width: 70px;">
                            <input type="number" name="sort_id" lay-verify="number" value="{{.mdl.SortID}}" class="layui-input">
                        </div>
                        <div class="layui-form-mid layui-word-aux">数字，越小越向前</div>
                    </div>
                </div>
                <div class="layui-tab-item">
                    <div class="layui-form-item">
                        <label class="layui-form-label required">
                            注意事项说明
                        </label>
                        <div class="layui-input-inline" style="width: 90%;">
                            1、自定义菜单最多包括3个一级菜单，每个一级菜单最多包含5个二级菜单。<br>
                            2、一级菜单最多4个汉字，二级菜单最多7个汉字，多出来的部分将会以“...”代替。<br>
                            3、创建自定义菜单后，由于微信客户端缓存，需要24小时微信客户端才会展现出来。测试时可以尝试取消关注公众账号后再次关注，则可以看到创建后的效果。
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label required">
                            按钮类型说明
                        </label>
                        <div class="layui-input-inline" style="width: 70%;">
                            1、click：点击推事件<br>
                            用户点击click类型按钮后，微信服务器会通过消息接口推送消息类型为event的结构给开发者（参考消息接口指南），并且带上按钮中开发者填写的key值，开发者可以通过自定义的key值与用户进行交互；<br>
                            2、view：跳转URL<br>
                            用户点击view类型按钮后，微信客户端将会打开开发者在按钮中填写的网页URL，可与网页授权获取用户基本信息接口结合，获得用户基本信息。<br>
                            3、scancode_push：扫码推事件<br>
                            用户点击按钮后，微信客户端将调起扫一扫工具，完成扫码操作后显示扫描结果（如果是URL，将进入URL），且会将扫码的结果传给开发者，开发者可以下发消息。<br>
                            4、scancode_waitmsg：扫码推事件且弹出“消息接收中”提示框<br>
                            用户点击按钮后，微信客户端将调起扫一扫工具，完成扫码操作后，将扫码的结果传给开发者，同时收起扫一扫工具，然后弹出“消息接收中”提示框，随后可能会收到开发者下发的消息。<br>
                            5、pic_sysphoto：弹出系统拍照发图<br>
                            用户点击按钮后，微信客户端将调起系统相机，完成拍照操作后，会将拍摄的相片发送给开发者，并推送事件给开发者，同时收起系统相机，随后可能会收到开发者下发的消息。<br>
                            6、pic_photo_or_album：弹出拍照或者相册发图<br>
                            用户点击按钮后，微信客户端将弹出选择器供用户选择“拍照”或者“从手机相册选择”。用户选择后即走其他两种流程。<br>
                            7、pic_weixin：弹出微信相册发图器<br>
                            用户点击按钮后，微信客户端将调起微信相册，完成选择操作后，将选择的相片发送给开发者的服务器，并推送事件给开发者，同时收起相册，随后可能会收到开发者下发的消息。<br>
                            8、location_select：弹出地理位置选择器<br>
                            用户点击按钮后，微信客户端将调起地理位置选择工具，完成选择操作后，将选择的地理位置发送给开发者的服务器，同时收起位置选择工具，随后可能会收到开发者下发的消息。<br>
                            9、media_id：下发消息（除文本消息）<br>
                            用户点击media_id类型按钮后，微信服务器会将开发者填写的永久素材id对应的素材下发给用户，永久素材类型可以是图片、音频、视频、图文消息。请注意：永久素材id必须是在“素材管理/新增永久素材”接口上传后获得的合法id。<br>
                            10、view_limited：跳转图文消息URL<br>
                            用户点击view_limited类型按钮后，微信客户端将打开开发者在按钮中填写的永久素材id对应的图文消息URL，永久素材类型只支持图文消息。请注意：永久素材id必须是在“素材管理/新增永久素材”接口上传后获得的合法id。
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block" style="text-align: center;">
                <!-- <button class="layui-btn" id="btnSubmit">立即提交</button> -->
                <button class="layui-btn layui-btn-radius" id="btnSubmit">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary layui-btn-radius">重置</button>
            </div>
        </div>
    </form>
</div>
<script>
    layui.use(['form', 'layer', 'wangEditor', 'upload', 'laydate', 'treeSelect'], function () {
        var form = layui.form;
        var $ = layui.jquery,
            layer = layui.layer,
            wangEditor = layui.wangEditor;
        var upload = layui.upload;
        var laydate = layui.laydate;
        var treeSelect = layui.treeSelect;

        //自定义验证规则
        form.verify({
        });

        // 提交事件
        form.on('submit(*)', function (data) {
            console.log(data)
            // alert(JSON.stringify(data.field));
            return false;
        });

        //方法提交
        $('#btnSubmit').on('click', function () {
            form.submit('frmEdit', function (data) {
                $.ajax({
                    type: "POST", //提交的方法
                    url: "/admin/weixin/MenuSave", //提交的地址
                    data: $('#frmEdit').serialize(), // 序列化表单值
                    async: false,
                    beforeSend: function () { //当一个Ajax请求开始时触发
                        this.layerIndex = layer.load(0, { shade: [0.5, '#393D49'] });
                    },
                    error: function (request) {  //失败的话
                    },
                    success: function (data) {  //成功
                        console.log(data);
                        layer.closeAll();
                        if (data.code == CodeSuccess) {
                            layer.msg("提交成功", { icon: 1, time: 1000 }, function () {
                                var index = parent.layer.getFrameIndex(window.name);
                                parent.layer.close(index);
                                parent.location.reload();
                            });
                        } else {
                            layer.msg(data.msg, { icon: 2, time: 1000 });
                        }
                    },
                    complete: function () {
                        layer.close(this.layerIndex);
                    },
                });
            });
            return false;
        });
    });
</script>