<style>
    .layui-form-label {
        width: 120px;
    }
</style>
<div class="layuimini-main">
    <form class="layui-form" method="get" lay-filter="frmEdit" id="frmEdit">
        <div class="layui-tab layui-tab-brief layui-tab-card">
            <ul class="layui-tab-title">
                <li class="layui-this">基本信息</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <div class="layui-form-item">
                        <label class="layui-form-label required">
                            公众账户
                        </label>
                        <div class="layui-input-inline" style="width: 500px;">
                            <input type="hidden" name="request_type" value="6">
                            <select name="account_id" lay-filter="account_id" lay-verify="required" lay-reqtext="微信公账号必选项">
                                {{range $index,$item := .accountList}}
                                <option value="{{$item.AccountID}}">{{$item.Name}}</option>
                                {{end}}
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label" style="width: 40px;">
                        </label>
                        <div class="layui-input-inline" style="width: 680px;">
                            <div class="layui-tab">
                                <ul class="layui-tab-title">
                                    <li class="layui-this">文本消息</li>
                                    <li>图文回复</li>
                                    <li>语音回复</li>
                                </ul>
                                <div class="layui-tab-content">
                                    <div class="layui-tab-item layui-show">
                                        <div class="layui-form-item">
                                            <label class="layui-form-label" style="width: 60px;margin-left: -10px;">
                                                回复内容
                                            </label>
                                            <div class="layui-input-inline" style="width: 590px;">
                                                <textarea name="content" placeholder="" style="height: 282px;" class="layui-textarea"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layui-tab-item">
                                        <div class="layui-form-item">
                                            <label class="layui-form-label" style="width: 60px;margin-left: -10px;">
                                                图文列表
                                            </label>
                                            <div class="layui-input-inline" style="width: 590px;">
                                                <button type="button" id="btnSelect" class="layui-btn layui-btn-sm layui-btn-primary"><i class="layui-icon layui-icon-addition"></i> 添加</button>
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <table class="layui-hide" id="tableContainer" lay-filter="currentTableFilter"></table>
                                        </div>
                                    </div>
                                    <div class="layui-tab-item">
                                        <div class="layui-form-item">
                                            <label class="layui-form-label" style="width: 60px;margin-left: -10px;">
                                                语音标题
                                            </label>
                                            <div class="layui-input-inline" style="width: 590px;">
                                                <input type="text" name="sound_title" autocomplete="off" placeholder="" class="layui-input">
                                            </div>
                                            <div class="layui-form-mid layui-word-aux" style="margin-left: 80px;">最多30个字符</div>
                                        </div>
                                        <div class="layui-form-item">
                                            <label class="layui-form-label" style="width: 60px;margin-left: -10px;">
                                                文件地址
                                            </label>
                                            <div class="layui-input-inline" style="width: 480px;">
                                                <input type="text" name="sound_url" autocomplete="off" placeholder="" class="layui-input">
                                            </div>
                                            <button type="button" class="layui-btn layui-btn-primary" id="btnUpload">
                                                <i class="layui-icon">&#xe67c;</i>浏览...
                                            </button>
                                            <div class="layui-form-mid layui-word-aux" style="margin-left: 80px;">MP3格式，填写链接或本地上传！</div>
                                        </div>
                                        <div class="layui-form-item">
                                            <label class="layui-form-label" style="width: 60px;margin-left: -10px;">
                                                语音描述
                                            </label>
                                            <div class="layui-input-inline" style="width: 590px;">
                                                <textarea name="sound_content" placeholder="" class="layui-textarea"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block" style="text-align: center;">
                <!-- <button class="layui-btn" id="btnSubmit">立即提交</button> -->
                <button class="layui-btn layui-btn-radius" id="btnSubmit">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary layui-btn-radius">重置</button>
            </div>
        </div>
    </form>
    <script type="text/html" id="currentTableBar">
        <div class="layui-btn-group">
            <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete">删除</a>
        </div>
    </script>
</div>
<div style="display: none" id="divSelect">
    <form class="layui-form" method="get" lay-filter="frmSelect" id="frmSelect">
        <div class="layui-form-item">
            <p>&nbsp;</p>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 60px;margin-left: -10px;">
                排序数字
            </label>
            <div class="layui-input-inline" style="width: 590px;">
                <input type="number" value="99" name="sort_id" autocomplete="off" placeholder="" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 60px;margin-left: -10px;">
                标题文字
            </label>
            <div class="layui-input-inline" style="width: 590px;">
                <input type="text" name="title" lay-verify="required" lay-reqtext="标题文字不允许为空" autocomplete="off" placeholder="" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 60px;margin-left: -10px;">
                上传图片
            </label>
            <div class="layui-input-inline" style="width: 480px;">
                <input type="text" name="img_url" lay-verify="required" lay-reqtext="上传一个图片文件" autocomplete="off" placeholder="" class="layui-input">
            </div>
            <button type="button" class="layui-btn layui-btn-primary" id="btnImg">
                <i class="layui-icon">&#xe67c;</i>浏览...
            </button>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 60px;margin-left: -10px;">
                链接地址
            </label>
            <div class="layui-input-inline" style="width: 590px;">
                <input type="text" name="link_url" autocomplete="off" placeholder="" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 60px;margin-left: -10px;">
                图片描述
            </label>
            <div class="layui-input-inline" style="width: 590px;">
                <textarea name="content" placeholder="" class="layui-textarea"></textarea>
            </div>
        </div>
        <button id="btnSelSubmit" style="display: none;">提交</button>
        <button id="btnSelReset" type="reset" style="display: none;">重置</button>
    </form>
</div>
<script>
    layui.use(['form', 'layer', 'upload', 'laydate', 'table'], function () {
        var form = layui.form;
        var $ = layui.jquery,
            layer = layui.layer;
        var upload = layui.upload;
        var table = layui.table;

        //执行实例
        var uploadInst = upload.render({
            elem: '#btnUpload' //绑定元素
            , url: '/admin/tools/Upload?path=weixin' //上传接口
            , exts: 'mp3' //限制上传文件的后缀名，用|分隔
            , done: function (res) {
                //上传完毕回调
                if (res.code == 0) {
                    $("input[name='sound_url']").val(res.file.url1);
                } else {
                    layer.msg(res.msg);
                }
            }
            , error: function () {
                //请求异常回调
            }
        });

        //执行实例
        var uploadInstx = upload.render({
            elem: '#btnImg' //绑定元素
            , url: '/admin/tools/ImageUpload?path=weixin' //上传接口
            , done: function (res) {
                //上传完毕回调
                if (res.code == 0) {
                    $("input[name='img_url']").val(res.file.url1);
                } else {
                    layer.msg(res.msg);
                }
            }
            , error: function () {
                //请求异常回调
            }
        });

        form.on('select(account_id)', function (data) {
            // console.log(data);
            loadContent();
        });

        table.render({
            elem: '#tableContainer',
            url: '/admin/weixin/EmptyImageReply',
            height: "229",
            defaultToolbar: ['filter', 'exports', 'print'],
            cols: [[
                // { type: "checkbox", width: 50 },
                { field: 'img_url', width: 80, title: '图片' },
                {
                    field: 'title', title: '标题'
                },
                { field: 'link_url', title: '链接' },
                {
                    field: 'sort_id', width: 100, align: "center", title: '排序'
                },
                { title: '操作', width: 120, toolbar: '#currentTableBar', align: "center", fixed: "right" }
            ]],
            limits: [10, 15, 20, 25, 50, 100],
            limit: 20,
            page: false,
            // skin: 'line',
            even: true,
            size: 'lg',
            done: function () {
                $(".layui-table-main tr").each(function (index, val) {
                    $(".layui-table-fixed").each(function () {
                        $($(this).find(".layui-table-body tbody tr")[index]).height($(val).height());
                    });
                });
                $(".layui-table-header tr").each(function (index, val) {
                    $(".layui-table-fixed").each(function () {
                        $($(this).find(".layui-table-header thead tr")[index]).height($(val).height());
                    });
                });
            }
        });

        //自定义验证规则
        form.verify({
        });

        // 提交事件
        form.on('submit(*)', function (data) {
            return false;
        });

        function loadContent() {
            if ($("select[name=account_id]").val() == undefined || $("select[name=account_id]").val() == "") {
                layer.msg("请选择公众号", { icon: 2, time: 1000 });
                return;
            }
            $.ajax({
                type: "GET", //提交的方法
                url: "/admin/weixin/ContentFindSubscribeOrDefault", //提交的地址
                data: {
                    "account_id": parseInt($("select[name=account_id]").val()),
                    "request_type": parseInt($("input[name=request_type]").val())
                }, // 序列化表单值
                async: false,
                beforeSend: function () { //当一个Ajax请求开始时触发
                    this.layerIndex = layer.load(0, { shade: [0.5, '#393D49'] });
                },
                error: function (request) {  //失败的话
                },
                success: function (data) {  //成功
                    console.log(data);
                    if (data.code == CodeSuccess) {

                    } else {
                        layer.msg(data.msg, { icon: 2, time: 1000 });
                    }
                },
                complete: function () {
                    layer.close(this.layerIndex);
                },
            });
        }

        loadContent();

        $("#btnSelect").on('click', function () {
            $("#btnSelReset").click();
            layer.open({
                type: 1,
                title: '添加图片',
                area: ['600', '620'],
                content: $('#divSelect'), //可以使用$('#id,.class')这种方式来指定模板，可以将其理解为指定一个组件，当然也是可以自己去写的,像'<div>我是一个内容</div>'
                btn: ['确认', '取消'],
                yes: function (index, layero) {
                    $('#btnSelSubmit').click()
                },
                btn2: function (index, layero) {
                    layer.close(index)
                },
                success: function () {
                },
            })
        })

        $("#btnSelSubmit").on('click', function () {
            form.submit('frmSelect', function (data) {
                console.log($('#frmSelect').serialize());
                layer.closeAll();
            });
            return false;
        });

        //方法提交
        $('#btnSubmit').on('click', function () {
            form.submit('frmEdit', function (data) {
                $.ajax({
                    type: "POST", //提交的方法
                    url: "/admin/weixin/ContentSaveSubscribeOrDefault", //提交的地址
                    data: $('#frmEdit').serialize(), // 序列化表单值
                    async: false,
                    beforeSend: function () { //当一个Ajax请求开始时触发
                        this.layerIndex = layer.load(0, { shade: [0.5, '#393D49'] });
                    },
                    error: function (request) {  //失败的话
                    },
                    success: function (data) {  //成功
                        if (data.code == CodeSuccess) {
                            layer.msg("提交成功", { icon: 1, time: 1000 }, function () {

                            });
                        } else {
                            layer.msg(data.msg, { icon: 2, time: 1000 });
                        }
                    },
                    complete: function () {
                        layer.close(this.layerIndex);
                    },
                });
            });
            return false;
        });
    });
</script>