<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{.title}} - {{.site.Title}}</title>
    <link href="/static/favicon.ico" rel="icon">
    <meta name="Keywords" content="{{.article.SeoKeyword}}" />
    <meta name="description" content="{{.article.SeoDescription}}" />
    <script src="{{.webroot}}js/common/common.js?r={{.time}}"></script>
    <link href="/static/plugins/loading/app.min.css?r={{.time}}" rel="stylesheet" />
    <script src="/static/plugins/loading/app.min.js?r={{.time}}"></script>
    <script src="/static/plugins/moment/moment.min.js?r={{.time}}"></script>
    <script src="/static/plugins/layui/layui.js?r={{.time}}"></script>
    <script src="/static/const.js?r={{.time}}"></script>
    <script>
        var webroot = "{{.webroot}}";
    </script>
</head>

<body>
    {{template "www/layout/header.html" .}}
    <div class="main">
        <div class="w1200 clearfix">
            <div class="breadcrumb">
                <img src="{{.webroot}}images/position.png" alt="" class="position" /> 您所在的位置：
                <a href="/">首页</a>&gt;
                <a href="javascript:void(0)">学校概况</a>&gt;
                <a href="javascript:void(0)" class="active">学校简介</a>
            </div>
            <div class="cont-detail">
                <div class="title">{{.article.Title}}</div>
                <div class="cont-info">
                    <div>发布时间：<span>{{dateformat .article.PublishTime "2006-01-02"}}</span></div>
                    <div>作者：<span>{{.article.Author}}</span></div>
                    <div>来源：<span>{{.article.Source}}</span></div>
                    <div>浏览次数：<span id="countnum">{{.article.Click}}</span></div>
                </div>
                <div class="detail-box">
                    {{str2html .article.Content}}
                </div>
                <div class="list-other">
                    <div class="left">
                        <ul>
                            <li id="liPrev"><a href="">上一条：【教师风采】杜江——防疫备考勇担当，管理教学善作为</a></li>
                            <li id="liNext"><a href="">下一条：【教师风采】杜江——防疫备考勇担当，管理教学善作为</a></li>
                        </ul>
                    </div>
                    <div class="right">
                        <a href="/jyjx/jsfc" class="btn-return">返回列表</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{template "www/layout/footer.html" .}}
    <script type="text/template" id="navTepl">
        <a href="/article/teacher/${article_id}" onclick="ArticleClick(${article_id})">${type}：【教师风采】${title} -- ${sub_title}</a>
    </script>
    <script type="text/javascript">
        $(function () {
            $.ajax({
                url: "/api/category/nav?call_index={{.article.CategoryCallIndex}}&r=" + Math.random(),
                dataType: "json",
                type: "get",
                beforeSend: function () {
                    $(".breadcrumb").html("");
                },
                success: function (res) {
                    $(".breadcrumb").append('<img src="{{.webroot}}images/position.png" alt="" class="position" /> 您所在的位置：');
                    $(".breadcrumb").append('<a href="/">首页</a>&nbsp;&gt;');
                    if (res.code == 0) {
                        var len = res.data.length;
                        for (var i = 0; i < len; i++) {
                            $(".breadcrumb").append('&nbsp;<a href="javascript:void(0)">' + res.data[i].title + '</a>&nbsp;&gt;');
                        }
                    }
                    $(".breadcrumb").append('&nbsp;<a href="javascript:void(0)" class="active">{{.article.SubTitle}}</a>');
                },
                error: function () {
                },
                complete: function () {
                }
            });
            $.ajax({
                url: "/api/category/find?channel_name={{.article.ChannelName}}&r=" + Math.random(),
                dataType: "json",
                type: "get",
                beforeSend: function () {
                    $("#channelName").html("");
                    $("#urlNav").html("");
                    $(".nav-aside").busyLoad("show", { spinner: "circle-line" });
                },
                success: function (res) {
                    if (res.code == 0) {
                        var len = res.data.length;
                        for (var i = 0; i < len; i++) {
                            var item = res.data[i];
                            if (i == 0) {
                                $("#channelName").html(item.channel_title);
                            }
                            var url = item.link_url;
                            var title = item.title;
                            var liItem = item.call_index == "{{.article.CategoryCallIndex}}" ? ('<li class="active"><a href="' + url + '">' + title + '</a></li>') : ('<li><a href="' + url + '">' + title + '</a></li>');
                            $("#urlNav").append(liItem);
                        }
                    }
                },
                error: function () {
                    alert('failed!');
                },
                complete: function () {
                    $(".nav-aside").busyLoad("hide", { animate: "fade" });
                }
            });
            $.ajax({
                url: "/api/article/prev_next?category_id={{.article.CategoryID}}&article_id={{.article.ArticleID}}&r=" + Math.random(),
                dataType: "json",
                type: "get",
                beforeSend: function () {
                },
                success: function (res) {
                    if (res.code == 0) {
                        // console.log(res.data);
                        if (res.data.prev.article_id != 0) {
                            var prev = res.data.prev;
                            var prevHtml = $("#navTepl").html().replace("${article_id}", prev.article_id)
                                .replace("${type}", "上一条").replace("${title}", prev.title).replace("${sub_title}", prev.sub_title);
                            $("#liPrev").html(prevHtml);
                        } else {
                            $("#liPrev").html("上一条：没有了");
                        }
                        if (res.data.next.article_id != 0) {
                            var next = res.data.next;
                            var nextHtml = $("#navTepl").html().replace("${article_id}", next.article_id)
                                .replace("${type}", "下一条").replace("${title}", next.title).replace("${sub_title}", next.sub_title);
                            $("#liNext").html(nextHtml);
                        } else {
                            $("#liNext").html("下一条：没有了");
                        }
                    }
                },
                error: function () {
                    alert('failed!');
                },
                complete: function () {
                }
            });
        });
    </script>
</body>

</html>