<div class="layui-container-full">
    <div class="layui-row">
        <div class="layui-col-md12">
            <button type="button" class="layui-btn layui-btn-sm layui-btn-normal  save" id="upload"><i class="fa fa-upload"></i>上传模板文件</button>
        </div>
    </div>
    <div class="layui-row">
        {{range $index,$item := .theme}}
        <div class="layui-col-md3" style="padding: 10px;">
            <img src='{{ ConcatStr "/static/themes/" $item.Name "/" $item.Thumb}}' width="100%" height="180">
            <p>主题:{{$item.Title}}</p>
            <div style="height: 1.5em; overflow: hidden;" title="{{$item.Remark}}">描述:{{$item.Remark}}</div>
            <p>版本:{{$item.Version}}</p>
            <p>作者:{{$item.Author}} </p>
            <p>
                {{if eq $item.IsDefault true}}
                <button type="button" disabled class="layui-btn layui-btn-warm">默认主题</button>
                {{else}}
                <button type="button" class="layui-btn layui-btn-normal" onclick="setDefault('{{$item.Name}}')">设置默认主题</button>
                {{end}}
            </p>
        </div>
        {{end}}
    </div>
</div>
<script>
    var csrf = getXsrfToken();

    layui.use(['form', 'jquery', 'upload'], function () {
        form = layui.form,
            upload = layui.upload,
            $ = layui.jquery;

        upload.render({
            elem: '#upload'
            , url: 'upload'
            , headers: { "X-Xsrftoken": csrf }
            , accept: 'file'
            , before: function (obj) {
                layer.msg('上传中', { icon: 16, time: 1 });
            }
            , done: function (res) {
                //如果上传失败
                if (res.code != 0) {
                    return layer.msg(res.msg, { icon: 2 })
                } else {
                    layer.open({
                        content: '模板上传成功'
                        , btn: ['确定']
                        , yes: function (index, layero) {
                            location.reload()
                        }
                        , cancel: function () {
                            location.reload()
                        }
                    });
                }
            }
        });
    });

    function setDefault(package) {
        layer.confirm('确定要将【' + package + '】设置为默认主题?<br>如果主题模板中有函数不正确，程序将报错，届时您需要修复模板中的错误，前台才能正确显示！', function (index) {
            var data = { "name": package }
            $.ajax({
                url: "setDefault",
                headers: { "X-Xsrftoken": csrf },
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(data),
                success: function (data) {
                    if (data.code == CodeSuccess) {
                        layer.open({
                            content: '设置默认主题成功'
                            , icon: 1
                            , btn: ['确定']
                            , yes: function (index, layero) {
                                location.reload()
                            }
                            , cancel: function () {
                                location.reload()
                            }
                        });

                    } else {
                        layer.alert(data.msg, { icon: 2, title: '错误' })
                        return true;
                    }
                },
                beforeSend: function () {
                    layer.load();
                },
                complete: function () {
                    layer.closeAll('loading');
                }
            });
        });
    }
</script>