<div class="cont-right">
    <div class="breadcrumb">
        <img src="{{.webroot}}images/position.png" alt="" class="position" /> 您所在的位置：
        <a href="/">首页</a>
        &gt;
        <a href="javascript:void(0)">学校概况</a>
        &gt;
        <a href="javascript:void(0)" class="active">列表</a>
    </div>
    <div class="list-con">
        <ul class="list-ul">
            <li>
                <a href="#">2022年河南省中职技能大赛“机械产品检测与质量控制”赛项在河南省工业学校成功举办</a>
                <span class="fr">2023-12-12</span>
            </li>
            <li>
                <a href="#">2022年河南省中职技能大赛“机械产品检测与质量控制”赛项在河南省工业学校成功举办</a>
                <span class="fr">2023-12-12</span>
            </li>
            <li>
                <a href="#">2022年河南省中职技能大赛“机械产品检测与质量控制”赛项在河南省工业学校成功举办</a>
                <span class="fr">2023-12-12</span>
            </li>
            <li>
                <a href="#">2022年河南省中职技能大赛“机械产品检测与质量控制”赛项在河南省工业学校成功举办</a>
                <span class="fr">2023-12-12</span>
            </li>
            <li>
                <a href="#">2022年河南省中职技能大赛“机械产品检测与质量控制”赛项在河南省工业学校成功举办</a>
                <span class="fr">2023-12-12</span>
            </li>
            <li>
                <a href="#">2022年河南省中职技能大赛“机械产品检测与质量控制”赛项在河南省工业学校成功举办</a>
                <span class="fr">2023-12-12</span>
            </li>
            <li>
                <a href="#">2022年河南省中职技能大赛“机械产品检测与质量控制”赛项在河南省工业学校成功举办</a>
                <span class="fr">2023-12-12</span>
            </li>
            <li>
                <a href="#">2022年河南省中职技能大赛“机械产品检测与质量控制”赛项在河南省工业学校成功举办</a>
                <span class="fr">2023-12-12</span>
            </li>
            <li>
                <a href="#">2022年河南省中职技能大赛“机械产品检测与质量控制”赛项在河南省工业学校成功举办</a>
                <span class="fr">2023-12-12</span>
            </li>
            <li>
                <a href="#">2022年河南省中职技能大赛“机械产品检测与质量控制”赛项在河南省工业学校成功举办</a>
                <span class="fr">2023-12-12</span>
            </li>
        </ul>
        <div id="pagination" class="pagination"></div>
    </div>
</div>
<script type="text/javascript">

    var loadData = function (page, limit, call_index) {
        $.ajax({
            url: "/api/article/paginate?call_index=" + call_index + "&limit=" + limit + "&page=" + page + "&r=" + Math.random(),
            dataType: "json",
            type: "get",
            beforeSend: function () {
                $(".list-ul").html("");
                $(".list-con").busyLoad("show", { spinner: "circle-line" });
            },
            success: function (res) {
                // console.log(res);
                if (res.code == 0) {
                    var len = res.data.length;
                    for (var i = 0; i < len; i++) {
                        var item = res.data[i];
                        var url = item.link_url == "" ? "/article/" + item.article_id : item.link_url;
                        var html = '<li><a target="_blank" title="' + item.title + '" href="' + url + '">' + item.title + '</a><span class="fr">' + moment(item.publish_time).format('YYYY-MM-DD') + '</span></li>';
                        $(".list-ul").append(html);
                    }
                    if (page == 1 && len > 0) {
                        laypage.render({
                            elem: 'pagination'
                            , limit: 20
                            , prev: '上页'
                            , next: '下页'
                            , limits: [10, 20, 30, 40, 50, 100]
                            , count: res.count //数据总数，从服务端得到
                            , jump: function (obj, first) {
                                //obj包含了当前分页的所有参数，比如：
                                // console.log(obj.curr); //得到当前页，以便向服务端请求对应页的数据。
                                // console.log(obj.limit); //得到每页显示的条数
                                //首次不执行
                                if (!first) {
                                    //do something
                                    loadData(obj.curr, obj.limit, call_index);
                                }
                            }
                        });
                    }
                }
            },
            error: function () {
                alert('failed!');
            },
            complete: function () {
                $(".list-con").busyLoad("hide", { animate: "fade" });
            }
        });
    };

    layui.use(['form', 'element', 'laypage', 'layer'], function () {
        var form = layui.form,
            element = layui.element
        laypage = layui.laypage,
            layer = layui.layer;

        loadData(1, 20, actionName)

        form.render(); //刷新所有渲染效果，也可以单独熟悉某个效果	
        form.render('select'); //刷新select选择框渲染
    })
</script>