<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{.site.Title}}</title>
    <link href="/static/favicon.ico" rel="icon">
    <meta name="Keywords" content="{{.site.MetaKeyword}}" />
    <script src="{{.webroot}}js/common/common.js?r={{.time}}"></script>
    <link href="/static/plugins/loading/app.min.css?r={{.time}}" rel="stylesheet" />
    <script src="/static/plugins/loading/app.min.js?r={{.time}}"></script>
    <script src="/static/plugins/moment/moment.min.js?r={{.time}}"></script>
    <script src="/static/plugins/layui/layui.js?r={{.time}}"></script>
    <script src="/static/const.js?r={{.time}}"></script>
    <script>
        var webroot = "{{.webroot}}";
    </script>
</head>

<body>
    {{template "www/layout/header.html" .}}
    <div class="banner-box">
        <div class="sliderList">
            <div class="slider single-item">
                <div class="carousel-item">
                    <img src="{{.webroot}}images/banner_img1.png" />
                </div>
                <div class="carousel-item">
                    <img src="{{.webroot}}images/banner_img1.png" />
                </div>
            </div>
        </div>
    </div>
    {{.LayoutContent}}
    {{template "www/layout/footer.html" .}}
</body>

</html>