<div class="layuimini-container">
    <div class="layuimini-main">
        <fieldset class="table-search-fieldset">
            <legend>搜索信息</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">账号</label>
                            <div class="layui-input-inline">
                                <input type="text" name="userName" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button type="submit" class="layui-btn layui-btn-primary layui-btn-radius" lay-submit lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>
        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container layui-btn-group">
                <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="add"> 添加 </button>
                <button class="layui-btn layui-btn-sm layui-btn-primary data-delete-btn" lay-event="save"> 保存 </button>
            </div>
        </script>
        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>
        <script type="text/html" id="currentTableBar">
            <div class="layui-btn-group">
                <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="edit">编辑</a>
                <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete">删除</a>
            </div>
        </script>
    </div>
</div>
<script>
    layui.use(['form', 'table'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table;

        table.render({
            elem: '#currentTableId',
            url: '/admin/admin/logpaginate',
            // toolbar: '#toolbarDemo',
            height: "full-200",
            defaultToolbar: ['filter', 'exports', 'print'],
            cols: [[
                // { type: "checkbox", width: 50 },
                { field: 'log_id', width: 80, title: 'ID', sort: true },
                { field: 'user_name', title: '账号' },
                // { field: 'call_index', minWidth: 150, title: '调用别名', sort: true },
                { field: 'method', title: '请求方法', minWidth: 150 },
                { field: 'path', title: '请求路径', minWidth: 80 },
                {
                    field: 'query', title: '请求参数', width: 150
                },
                {
                    field: 'status_code', title: '响应状态码'
                },
                {
                    field: 'ip', title: 'IP地址', width: 220
                },
                {
                    field: 'create_time', width: 180, title: '记录时间', templet: function (d) {
                        return layui.util.toDateString(Date.parse(d.create_time), 'yyyy-MM-dd HH:mm:ss');
                        // return d.create_time;
                    }
                },
                // { title: '操作', width: 150, toolbar: '#currentTableBar', align: "center" }
            ]],
            limits: [10, 15, 20, 25, 50, 100],
            limit: 20,
            page: true,
            // skin: 'line',
            even: true,
            size: 'lg',
        });

        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
            var result = JSON.stringify(data.field);
            console.log(result);
            //执行搜索重载
            table.reload('currentTableId', {
                page: {
                    curr: 1
                }
                , where: {
                    userName: $("input[name='userName']").val(),
                }
            }, 'data');

            return false;
        });

        /**
         * toolbar监听事件
         */
        table.on('toolbar(currentTableFilter)', function (obj) {
            if (obj.event === 'add') {  // 监听添加操作
                var index = layer.open({
                    title: '添加',
                    type: 2,
                    shade: 0.2,
                    maxmin: true,
                    shadeClose: true,
                    area: ['100%', '100%'],
                    content: 'LinkEdit',
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
            } else if (obj.event === 'save') {  // 监听保存操作
                var sorts = [];
                $("input[name='sort_id']").each(function () {
                    var sort = {
                        link_id: parseInt($(this).attr("link_id")),
                        sort_id: parseInt($(this).val())
                    };
                    sorts.push(sort);
                });
                console.log(sorts);
                $.ajax({
                    type: "POST",
                    url: "/admin/link/LinkSaveSortId", //提交的地址
                    data: JSON.stringify(sorts),
                    async: false,
                    beforeSend: function () { //当一个Ajax请求开始时触发
                        this.layerIndex = layer.load(0, { shade: [0.5, '#393D49'] });
                    },
                    error: function (request) {  //失败的话
                    },
                    success: function (data) {  //成功
                        if (data.code == CodeSuccess) {
                            layer.msg("提交成功", { icon: 1, time: 1000 }, function () {
                                $('button[lay-filter="data-search-btn"]').click();
                            });
                        } else {
                            layer.msg(data.msg, { icon: 2, time: 1000 });
                        }
                    },
                    complete: function () {
                        layer.close(this.layerIndex);
                    },
                });
            }
        });

        //监听表格复选框选择
        table.on('checkbox(currentTableFilter)', function (obj) {
            console.log(obj)
        });

        table.on('tool(currentTableFilter)', function (obj) {
            var data = obj.data;
            if (obj.event === 'edit') {
                console.log(data);
                var index = layer.open({
                    title: '用户',
                    type: 2,
                    shade: 0.2,
                    maxmin: true,
                    shadeClose: true,
                    area: ['100%', '100%'],
                    content: 'LinkEdit?linkId=' + data.link_id,
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
                return false;
            } else if (obj.event === 'delete') {
                layer.confirm('真的删除行么', function (index) {
                    $.ajax({
                        type: "POST",
                        url: "/admin/link/LinkDestory", //提交的地址
                        data: {
                            "linkId": data.link_id
                        },
                        async: false,
                        beforeSend: function () { //当一个Ajax请求开始时触发
                            this.layerIndex = layer.load(0, { shade: [0.5, '#393D49'] });
                        },
                        error: function (request) {  //失败的话
                        },
                        success: function (data) {  //成功
                            if (data.code == CodeSuccess) {
                                layer.msg("提交成功", { icon: 1, time: 1000 }, function () {
                                    $('button[lay-filter="data-search-btn"]').click();
                                });
                            } else {
                                layer.msg(data.msg, { icon: 2, time: 1000 });
                            }
                        },
                        complete: function () {
                            layer.closeAll();
                            layer.close(this.layerIndex);
                        },
                    });
                });
            }
        });

    });
</script>