<div class="layuimini-container">
    <div class="layuimini-main">
        <fieldset class="table-search-fieldset">
            <legend>搜索信息</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">角色名称</label>
                            <div class="layui-input-inline">
                                <input type="text" name="name" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button type="submit" class="layui-btn layui-btn-primary layui-btn-radius" lay-submit lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>
        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container layui-btn-group">
                <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="add"> 添加 </button>
                <button class="layui-btn layui-btn-sm layui-btn-primary data-delete-btn" lay-event="save"> 保存 </button>
            </div>
        </script>
        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>
        <script type="text/html" id="currentTableBar">
            <div class="layui-btn-group">
                <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="edit">编辑</a>
                <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete">删除</a>
            </div>
        </script>
    </div>
</div>
<script>
    layui.use(['form', 'table'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table;

        table.render({
            elem: '#currentTableId',
            url: '/admin/admin/rolepaginate',
            toolbar: '#toolbarDemo',
            height: "full-170",
            defaultToolbar: ['filter', 'exports', 'print'],
            cols: [[
                // { type: "checkbox", width: 50 },
                { field: 'role_id', width: 80, title: 'ID', sort: true },
                { field: 'name', title: '角色名称' },
                {
                    field: 'type', minWidth: 150, title: '角色类型', sort: true, templet: function (d) {
                        if (d.type == "supper") {
                            return '超级用户';
                        }
                        return "系统用户";
                    }
                },
                {
                    field: 'is_sys', title: '系统默认', width: 120, sort: true, templet: function (d) {
                        if (d.is_sys == 1) {
                            return '是';
                        }
                        return "否";
                    }
                },
                { field: 'remark', title: '备注' },
                {
                    field: 'sort_id', width: 100, align: "center", title: '排序', templet: function (d) {
                        return '<input type="number" name="sort_id" role_id="' + d.role_id + '" value="' + d.sort_id + '" class="layui-input" style="" />';
                    }
                },
                { title: '操作', width: 150, toolbar: '#currentTableBar', align: "center" }
            ]],
            limits: [10, 15, 20, 25, 50, 100],
            limit: 20,
            page: true,
            // skin: 'line',
            even: true,
            size: 'lg',
        });

        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
            var result = JSON.stringify(data.field);
            console.log(result);
            //执行搜索重载
            table.reload('currentTableId', {
                page: {
                    curr: 1
                }
                , where: {
                    categoryId: parseInt($("select[name='category_id']").val()),
                    title: $("input[name='title']").val(),
                    callIndex: $("input[name='callIndex']").val(),
                }
            }, 'data');

            return false;
        });

        /**
         * toolbar监听事件
         */
        table.on('toolbar(currentTableFilter)', function (obj) {
            if (obj.event === 'add') {  // 监听添加操作
                var index = layer.open({
                    title: '添加角色',
                    type: 2,
                    shade: 0.2,
                    maxmin: true,
                    shadeClose: true,
                    area: ['100%', '100%'],
                    content: 'RoleEdit',
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
            } else if (obj.event === 'save') {  // 监听保存操作
                var sorts = [];
                $("input[name='sort_id']").each(function () {
                    var sort = {
                        role_id: parseInt($(this).attr("role_id")),
                        sort_id: parseInt($(this).val())
                    };
                    sorts.push(sort);
                });
                console.log(sorts);
                // return false;
                $.ajax({
                    type: "POST",
                    url: "/admin/admin/RoleSaveSortId", //提交的地址
                    data: JSON.stringify(sorts),
                    async: false,
                    beforeSend: function () { //当一个Ajax请求开始时触发
                        this.layerIndex = layer.load(0, { shade: [0.5, '#393D49'] });
                    },
                    error: function (request) {  //失败的话
                    },
                    success: function (data) {  //成功
                        if (data.code == CodeSuccess) {
                            layer.msg("提交成功", { icon: 1, time: 1000 }, function () {
                                $('button[lay-filter="data-search-btn"]').click();
                            });
                        } else {
                            layer.msg(data.msg, { icon: 2, time: 1000 });
                        }
                    },
                    complete: function () {
                        layer.close(this.layerIndex);
                    },
                });
            }
        });

        //监听表格复选框选择
        table.on('checkbox(currentTableFilter)', function (obj) {
            console.log(obj)
        });

        table.on('tool(currentTableFilter)', function (obj) {
            var data = obj.data;
            if (data.is_sys == 1) {
                layer.msg("系统默认角色不允许编辑或删除", { icon: 2, time: 1000 });
                return false;
            }
            if (obj.event === 'edit') {
                console.log(data);
                var index = layer.open({
                    title: '编辑角色',
                    type: 2,
                    shade: 0.2,
                    maxmin: true,
                    shadeClose: true,
                    area: ['100%', '100%'],
                    content: 'RoleEdit?roleId=' + data.role_id,
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
                return false;
            } else if (obj.event === 'delete') {
                layer.confirm('真的删除行么', function (index) {
                    $.ajax({
                        type: "POST",
                        url: "/admin/admin/RoleDestory", //提交的地址
                        data: {
                            "roleId": data.role_id
                        },
                        async: false,
                        beforeSend: function () { //当一个Ajax请求开始时触发
                            this.layerIndex = layer.load(0, { shade: [0.5, '#393D49'] });
                        },
                        error: function (request) {  //失败的话
                        },
                        success: function (data) {  //成功
                            if (data.code == CodeSuccess) {
                                layer.msg("提交成功", { icon: 1, time: 1000 }, function () {
                                    $('button[lay-filter="data-search-btn"]').click();
                                });
                            } else {
                                layer.msg(data.msg, { icon: 2, time: 1000 });
                            }
                        },
                        complete: function () {
                            layer.closeAll();
                            layer.close(this.layerIndex);
                        },
                    });
                    // obj.del();
                    // layer.close(index);
                });
            }
        });

    });
</script>