<div class="layuimini-main">
    <form class="layui-form" method="get" lay-filter="frmEdit" id="frmEdit">
        <div class="layui-tab layui-tab-brief layui-tab-card">
            <ul class="layui-tab-title">
                <li class="layui-this">基本信息</li>
                <li>相关属性</li>
                <li>详细描述</li>
                <li>SEO选项</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <div class="layui-form-item">
                        <label class="layui-form-label required">
                            所属类别
                        </label>
                        <div class="layui-input-inline" style="width: 500px;">
                            <input type="hidden" name="article_id" value="{{.mdl.ArticleID}}">
                            <input type="hidden" name="channel_id" value="{{.mdl.ChannelID}}">
                            <input type="hidden" name="category_id" value="{{.mdl.CategoryID}}">
                            <input type="text" name="tree" id="tree" lay-filter="tree" autocomplete="off" lay-verify="required" lay-reqtext="选择栏目类别" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label required">
                            内容标题
                        </label>
                        <div class="layui-input-inline" style="width: 500px;">
                            <input type="text" name="title" value="{{.mdl.Title}}" maxlength="256" lay-verify="required" lay-reqtext="内容标题为必填项" autocomplete="off" placeholder="" class="layui-input">
                        </div>
                        <div class="layui-form-mid layui-word-aux">标题最多256个字符</div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">副标题</label>
                        <div class="layui-input-inline" style="width: 500px;">
                            <input type="text" name="sub_title" value="{{.mdl.SubTitle}}" maxlength="128" autocomplete="off" placeholder="" class="layui-input">
                        </div>
                        <div class="layui-form-mid layui-word-aux">标题最多128个字符</div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">Tags标签</label>
                        <div class="layui-input-inline" style="width: 500px;">
                            <input type="text" name="tags" value="{{.mdl.Tags}}" autocomplete="off" placeholder="" class="layui-input">
                        </div>
                        <div class="layui-form-mid layui-word-aux">多个可用英文逗号分隔开，如：a,b</div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">来&nbsp;&nbsp;源</label>
                        <div class="layui-input-inline" style="width: 500px;">
                            <input type="text" name="source" value="{{.mdl.Source}}" autocomplete="off" placeholder="" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">作&nbsp;&nbsp;者</label>
                        <div class="layui-input-inline" style="width: 500px;">
                            <input type="text" name="author" value="{{.mdl.Author}}" autocomplete="off" placeholder="" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">封面图片</label>
                        <div class="layui-input-inline" style="width: 392px;">
                            <input type="text" name="img_url" value="{{.mdl.ImgURL}}" autocomplete="off" placeholder="" class="layui-input">
                        </div>
                        <button type="button" class="layui-btn layui-btn-primary" id="btnUpload">
                            <i class="layui-icon">&#xe67c;</i>浏览...
                        </button>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">排序号</label>
                        <div class="layui-input-inline" style="width: 80px;">
                            <input type="number" name="sort_id" lay-verify="number" value="{{.mdl.SortID}}" class="layui-input">
                        </div>
                        <div class="layui-form-mid layui-word-aux">数字，越小越向前</div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">浏览次数</label>
                        <div class="layui-input-inline" style="width: 80px;">
                            <input type="number" min="0" name="click" lay-verify="number" value="{{.mdl.Click}}" class="layui-input">
                        </div>
                        <div class="layui-form-mid layui-word-aux">点击浏览该信息自动+1</div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">点赞总数</label>
                        <div class="layui-input-inline" style="width: 80px;">
                            <input type="number" min="0" name="like_count" lay-verify="number" value="{{.mdl.LikeCount}}" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">发布时间</label>
                        <div class="layui-input-inline" style="width: 500px;">
                            <input type="text" id="publish_time" name="publish_time" lay-verify="datetime" value='{{dateformat .mdl.PublishTime "2006-01-02 15:04:05"}}' class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-tab-item">
                    <div class="layui-form-item">
                        <label class="layui-form-label">状&nbsp;&nbsp;态</label>
                        <div class="layui-input-inline" style="width: 500px;">
                            <input type="radio" name="status" value="0" title="草稿" {{if eq .mdl.Status 0}}checked="checked" {{end}}>
                            <input type="radio" name="status" value="2" title="通过" {{if eq .mdl.Status 2}}checked="checked" {{end}}>
                            <input type="radio" name="status" value="3" title="拒绝" {{if eq .mdl.Status 3}}checked="checked" {{end}}>
                        </div>
                    </div>
                    <div class="layui-form-item" style="display: none;">
                        <label class="layui-form-label">评&nbsp;&nbsp;论</label>
                        <div class="layui-input-inline" style="width: 500px;">
                            <input type="radio" name="is_comment" value="0" title="否" {{if eq .mdl.IsComment 0}} checked="" {{end}}>
                            <input type="radio" name="is_comment" value="1" title="是" {{if eq .mdl.IsComment 1}} checked="" {{end}}>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">置&nbsp;&nbsp;顶</label>
                        <div class="layui-input-inline" style="width: 500px;">
                            <input type="radio" name="is_top" value="0" title="否" {{if eq .mdl.IsTop 0}} checked="" {{end}}>
                            <input type="radio" name="is_top" value="1" title="是" {{if eq .mdl.IsTop 1}} checked="" {{end}}>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">推&nbsp;&nbsp;荐</label>
                        <div class="layui-input-inline" style="width: 500px;">
                            <input type="radio" name="is_red" value="0" title="否" {{if eq .mdl.IsRed 0}} checked="" {{end}}>
                            <input type="radio" name="is_red" value="1" title="是" {{if eq .mdl.IsRed 1}} checked="" {{end}}>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">热&nbsp;&nbsp;门</label>
                        <div class="layui-input-inline" style="width: 500px;">
                            <input type="radio" name="is_hot" value="0" title="否" {{if eq .mdl.IsHot 0}} checked="" {{end}}>
                            <input type="radio" name="is_hot" value="1" title="是" {{if eq .mdl.IsHot 1}} checked="" {{end}}>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">幻灯片</label>
                        <div class="layui-input-inline" style="width: 500px;">
                            <input type="radio" name="is_slide" value="0" title="否" {{if eq .mdl.IsSlide 0}} checked="" {{end}}>
                            <input type="radio" name="is_slide" value="1" title="是" {{if eq .mdl.IsSlide 1}} checked="" {{end}}>
                        </div>
                    </div>
                </div>
                <div class="layui-tab-item">
                    <div class="layui-form-item">
                        <label class="layui-form-label">调用别名</label>
                        <div class="layui-input-inline" style="width: 500px;">
                            <input type="text" name="call_index" value="{{.mdl.CallIndex}}" lay-verify="call_index" autocomplete="off" placeholder="" class="layui-input">
                        </div>
                        <div class="layui-form-mid layui-word-aux">别名访问，非必填，不可重复；只允许使用英文、数字或下划线</div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">URL链接</label>
                        <div class="layui-input-inline" style="width: 500px;">
                            <input type="text" name="link_url" value="{{.mdl.LinkURL}}" autocomplete="off" placeholder="" class="layui-input">
                        </div>
                        <div class="layui-form-mid layui-word-aux">填写后直接跳转到该网址</div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">内容摘要</label>
                        <div class="layui-input-inline" style="width: 500px;">
                            <textarea name="summary" placeholder="" class="layui-textarea">{{.mdl.Summary}}</textarea>
                        </div>
                        <div class="layui-form-mid layui-word-aux">不填写则自动截取内容前255字符</div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label required">
                            内容描述
                        </label>
                        <div class="layui-input-inline" style="width: 100%;">
                            <textarea id="content" name="content" lay-verify="required" lay-reqtext="内容描述不允许为空" style="width: 100%;height: 500px;" class="layui-textarea">{{.mdl.Content}}</textarea>
                        </div>
                    </div>
                </div>
                <div class="layui-tab-item">
                    <div class="layui-form-item">
                        <label class="layui-form-label">SEO标题</label>
                        <div class="layui-input-inline" style="width: 500px;">
                            <input type="text" value="{{.mdl.SeoTitle}}" name="seo_title" autocomplete="off" placeholder="请输入SEO标题" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">SEO关健字</label>
                        <div class="layui-input-inline" style="width: 500px;">
                            <textarea name="seo_keyword" placeholder="请输入SEO关健字" class="layui-textarea">{{.mdl.SeoKeyword}}</textarea>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">SEO描述</label>
                        <div class="layui-input-inline" style="width: 500px;">
                            <textarea name="seo_description" placeholder="请输入SEO描述" class="layui-textarea">{{.mdl.SeoDescription}}</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block" style="text-align: center;">
                <!-- <button class="layui-btn" id="btnSubmit">立即提交</button> -->
                <button type="button" class="layui-btn layui-btn-radius" id="btnSubmit">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary layui-btn-radius">重置</button>
            </div>
        </div>
    </form>
</div>
<script>
    KindEditor.ready(function (K) {
        editor = K.create('textarea[name="content"]', {
            themeType: 'simple',
            uploadJson: '/admin/tools/KindEditorUpload', //KindEditor上传图片的接口
            allowImageUpload: true, //运行上传图片
            allowFileManager: true, //浏览图片空间
            allowImageRemote: false, //上传图片框网络图片的功能，false为隐藏，默认为true
            filterMode: false,
            formatUploadUrl: false,
            afterCreate: function () {
                this.sync();
            },
            afterBlur: function () {
                this.sync();
            }
        });
    });

    layui.use(['form', 'layer', 'wangEditor', 'upload', 'laydate', 'treeSelect'], function () {
        var form = layui.form;
        var $ = layui.jquery,
            layer = layui.layer,
            wangEditor = layui.wangEditor;
        var upload = layui.upload;
        var laydate = layui.laydate;
        var treeSelect = layui.treeSelect;

        treeSelect.render({
            elem: '#tree',
            data: '/admin/article/CategoryTree?channelId={{.mdl.ChannelID}}&categoryId={{.mdl.CategoryID}}',
            type: 'POST',
            placeholder: '栏目类别',
            search: true,
            style: {
                line: {
                    enable: true
                }
            },
            click: function (d) {
                $("input[name='category_id']").val(d.current.id);
            },
            success: function (d) {
                // console.log(d);
                var categoryId = parseInt($("input[name='category_id']").val());
                if (categoryId != 0) {
                    treeSelect.checkNode('tree', categoryId);
                    treeSelect.refresh('tree');
                }
            }
        });

        laydate.render({
            elem: '#publish_time', type: 'datetime'
        });

        //执行实例
        var uploadInst = upload.render({
            elem: '#btnUpload' //绑定元素
            , url: '/admin/tools/ImageUpload' //上传接口
            , done: function (res) {
                //上传完毕回调
                if (res.code == 0) {
                    $("input[name='img_url']").val(res.file.url2);
                } else {
                    layer.msg(res.msg);
                }
            }
            , error: function () {
                //请求异常回调
            }
        });

        //自定义验证规则
        form.verify({
            call_index: v_call_index
        });

        // 提交事件
        form.on('submit(*)', function (data) {
            console.log(data)
            return false;
        });

        //方法提交
        $('#btnSubmit').on('click', function () {
            form.submit('frmEdit', function (data) {
                $.ajax({
                    type: "POST", //提交的方法
                    url: "/admin/article/ArticleSave", //提交的地址
                    data: $('#frmEdit').serialize(), // 序列化表单值
                    async: false,
                    beforeSend: function () { //当一个Ajax请求开始时触发
                        this.layerIndex = layer.load(0, { shade: [0.5, '#393D49'] });
                    },
                    error: function (request) {  //失败的话
                    },
                    success: function (data) {  //成功
                        console.log(data);
                        layer.closeAll();
                        if (data.code == CodeSuccess) {
                            layer.msg("提交成功", { icon: 1, time: 1000 }, function () {
                                var index = parent.layer.getFrameIndex(window.name);
                                parent.layer.close(index);
                                parent.location.reload();
                            });
                        } else {
                            layer.msg(data.msg, { icon: 2, time: 1000 });
                        }
                    },
                    complete: function () {
                        layer.close(this.layerIndex);
                    },
                });
            });
            return false;
        });
    });
</script>