<div class="layuimini-container">
	<div class="layuimini-main">
		<fieldset class="table-search-fieldset">
			<legend>搜索信息</legend>
			<div style="margin: 10px 10px 10px 10px">
				<form class="layui-form layui-form-pane" action="">
					<div class="layui-form-item">
						<div class="layui-inline">
							<label class="layui-form-label">栏目类别</label>
							<div class="layui-input-inline">
								<input type="text" name="tree" id="tree" autocomplete="off" class="layui-input">
								<input type="hidden" name="categoryId" value="0">
							</div>
						</div>
						<div class="layui-inline">
							<label class="layui-form-label">内容标题</label>
							<div class="layui-input-inline">
								<input type="text" name="title" autocomplete="off" class="layui-input">
							</div>
						</div>
						<div class="layui-inline">
							<label class="layui-form-label">调用别名</label>
							<div class="layui-input-inline">
								<input type="text" name="callIndex" autocomplete="off" class="layui-input">
							</div>
						</div>
						<div class="layui-inline">
							<label class="layui-form-label">审核状态</label>
							<div class="layui-input-inline">
								<select name="status">
									<option value="-1">状态</option>
									<option value="0">草稿</option>
									<option value="2">通过</option>
									<option value="3">拒绝</option>
								</select>
							</div>
						</div>
						<div class="layui-inline">
							<button id="btnSearch" type="submit" class="layui-btn layui-btn-primary layui-btn-radius" lay-submit lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>
						</div>
					</div>
				</form>
			</div>
		</fieldset>
		<table class="layui-hide" id="tableContainer" lay-filter="currentTableFilter"></table>
	</div>
</div>
{{template "admin/Public/Button_AddAuditSave.html" }}
<script>
	var channelId = parseInt("{{.channelId}}");
	layui.use(['form', 'table', 'treeSelect'], function () {
		var $ = layui.jquery,
			form = layui.form,
			table = layui.table;
		var treeSelect = layui.treeSelect;

		treeSelect.render({
			// 选择器
			elem: '#tree',
			// 异步获取下拉树需要显示的数据
			data: '/admin/article/CategoryTree?channelId=' + channelId,
			// 异步加载方式：get/post，默认get
			type: 'post',
			// 占位符
			placeholder: '栏目类别',
			// 是否开启搜索功能：true/false，默认false
			search: true,
			// 一些可定制的样式
			style: {
				line: {
					enable: true
				}
			},
			// 点击节点回调
			click: function (d) {
				$("input[name='categoryId']").val(d.current.id);
			},
			// 加载完成后的回调函数
			success: function (d) {
			}
		});

		table.render({
			elem: '#tableContainer',
			url: '/admin/article/ArticlePaginate?channelId=' + channelId,
			where: {
				status: parseInt($("select[name='status']").val()),
			},
			toolbar: '#toolbarDemo',
			height: "full-175",
			defaultToolbar: ['filter', 'exports', 'print'],
			cols: [[
				{ type: "checkbox", width: 50 },
				{
					field: 'article_id', width: 110, title: 'ID', sort: true, templet: function (d) {
						var label = '';
						switch (d.status) {
							case 2:
								label = '<span class="layui-badge-dot layui-bg-green"></span>';
								break;
							case 3:
								label = '<span class="layui-badge-dot"></span>';
								break;
							default:
								label = '<span class="layui-badge-dot layui-bg-black"></span>';
								break;
						}
						return label + "&nbsp;" + d.article_id;
					}
				},
				{
					field: 'title', title: '内容标题', templet: function (d) {
						var outText = d.ico_url1 == "" ? "" : "<img src='" + d.ico_url1 + "' style='width:20px;height:20px;margin-right:5px;' />";
						outText += d.title;
						if (d.sub_title != "") {
							outText += "<br/><span style='color:#999'>" + d.sub_title + "</span>";
						}
						return outText;
					}
				},
				{ field: 'call_index', title: '调用别名' },
				{ field: 'link_url', title: 'URL链接' },
				{ field: 'tags', title: 'Tags标签' },
				{
					field: 'publish_time', title: '发布时间', width: 170, templet: function (d) {
						return layui.util.toDateString(d.publish_time, 'yyyy-MM-dd HH:mm:ss');
					}
				},
				{
					field: 'img_url1', title: '属性', width: 230, templet: function (d) {
						var outText = d.status == 2 ? '<span class="layui-badge layui-bg-green">通过</span>' : (d.status == 3 ? '<span class="layui-badge">拒绝</span>' : '<span class="layui-badge layui-bg-gray">草稿</span>');
						if (d.is_command == 1) {
							outText += '<span class="layui-badge layui-bg-cyan">评论</span>';
						}
						if (d.is_top == 1) {
							outText += '<span class="layui-badge layui-bg-blue">置顶</span>';
						}
						if (d.is_red == 1) {
							outText += '<span class="layui-badge layui-bg-black">推荐</span>';
						}
						if (d.is_hot == 1) {
							outText += '<span class="layui-badge layui-bg-green">热门</span>';
						}
						if (d.is_slide == 1) {
							outText += '<span class="layui-badge layui-bg-orange">幻灯片</span>';
						}
						return outText;
					}
				},
				{
					field: 'img_url1', title: '封面', width: 150, templet: function (d) {
						if (d.img_url1 != "") {
							return '<img src="' + d.img_url1 + '" style="max-width: 100px;max-height: 100px;" />';
						}
						return "";
					}
				},
				{
					field: 'sort_id', width: 100, align: "center", title: '排序', templet: function (d) {
						return '<input type="number" name="sort_id" article_id="' + d.article_id + '" value="' + d.sort_id + '" class="layui-input" style="" />';
					}
				},
				{
					title: '操作', width: 290, align: "center", fixed: "right", templet: function (d) {
						var htmlValue = "<div class=\"layui-btn-group\">\n";
						if ("{{.roleMap}}" != null && "{{.roleMap.IsSuccess}}" === "true") {
							if ("{{.roleMap.IsHasEdit}}" === "true") {
								htmlValue += "<a class=\"layui-btn layui-btn-normal layui-btn-xs data-count-edit layui-btn-radius\" lay-event=\"edit\"><i class=\"layui-icon layui-icon-edit\"></i>编辑</a>\n";
							}
							if ("{{.roleMap.IsHasAdd}}" === "true") {
								htmlValue += "<a class=\"layui-btn layui-btn-primary layui-btn-xs data-count-clone\" lay-event=\"clone\"><i class=\"layui-icon layui-icon-form\"></i>拷贝</a>\n";
							}
							if ("{{.roleMap.IsHasAlbum}}" === "true") {
								htmlValue += "<a class=\"layui-btn layui-btn-xs layui-btn-normal data-count-album layui-btn-radius\" lay-event=\"album\"><i class=\"layui-icon layui-icon-picture\"></i>相册</a>\n";
							}
							if ("{{.roleMap.IsHasAttach}}" === "true") {
								htmlValue += "<a class=\"layui-btn layui-btn-xs layui-btn-primary data-count-attach layui-btn-radius\" lay-event=\"attach\"><i class=\"layui-icon layui-icon-file\"></i>附件</a>\n";
							}
							if ("{{.roleMap.IsHasDelete}}" === "true") {
								htmlValue += "<a class=\"layui-btn layui-btn-xs layui-btn-danger data-count-delete layui-btn-radius\" lay-event=\"delete\"><i class=\"layui-icon layui-icon-close\"></i>删除</a>\n";
							}
						}
						htmlValue += "</div>";
						return htmlValue;
					}
				}
			]],
			limits: [10, 15, 20, 25, 50, 100],
			limit: 20,
			page: true,
			// skin: 'line',
			even: true,
			size: 'lg',
			done: function () {
				$(".layui-table-main tr").each(function (index, val) {
					$(".layui-table-fixed").each(function () {
						$($(this).find(".layui-table-body tbody tr")[index]).height($(val).height());
					});
				});
				$(".layui-table-header tr").each(function (index, val) {
					$(".layui-table-fixed").each(function () {
						$($(this).find(".layui-table-header thead tr")[index]).height($(val).height());
					});
				});
				/*// 检查页面权限
				rolePower("{{.roleId}}", "channel_"+channelId+"_article", function (roleMap){
					if (roleMap != null && roleMap.isSuccess === true){
						if (!roleMap.isHasAdd){
							$("button[lay-event='add']").remove();
							$("a[lay-event='clone']").remove();
						}
						if (!roleMap.isHasAudit){
							$("button[lay-event='audit']").remove();
							$("button[lay-event='reject']").remove();
						}
						if (!roleMap.isHasEdit){
							$("button[lay-event='save']").remove();
							$("a[lay-event='edit']").remove();
						}
						if (!roleMap.isHasDelete){
							$("a[lay-event='delete']").remove();
						}
						if (!roleMap.isHasAttach){
							$("a[lay-event='attach']").remove();
						}
						if (!roleMap.isHasAlbum){
							$("a[lay-event='album']").remove();
						}
					}
				});*/
			},
			before: function () {
				if ("{{.roleMap}}" != null && "{{.roleMap.IsSuccess}}" === "true") {
					if ("{{.roleMap.IsHasAdd}}" === "false") {
						$("button[lay-event='add']").remove();
					}
					if ("{{.roleMap.IsHasAudit}}" === "false") {
						$("button[lay-event='audit']").remove();
						$("button[lay-event='reject']").remove();
					}
					if ("{{.roleMap.IsHasEdit}}" === "false") {
						$("button[lay-event='save']").remove();
					}
				}
			}
		});

		// 监听搜索操作
		form.on('submit(data-search-btn)', function (data) {
			var result = JSON.stringify(data.field);
			//执行搜索重载
			table.reload('tableContainer', {
				page: {
					curr: 1
				}
				, where: {
					categoryId: parseInt($("input[name='categoryId']").val()),
					title: $("input[name='title']").val(),
					callIndex: $("input[name='callIndex']").val(),
					status: $("select[name='status']").val(),
				}
			}, 'data');

			return false;
		});

		/**
		 * toolbar监听事件
		 */
		table.on('toolbar(currentTableFilter)', function (obj) {
			if (obj.event === 'add') {  // 监听添加操作
				var index = layer.open({
					title: '添加内容',
					type: 2,
					shade: 0.2,
					maxmin: true,
					shadeClose: true,
					area: ['100%', '100%'],
					content: 'ArticleEdit?channelId=' + channelId,
				});
				$(window).on("resize", function () {
					layer.full(index);
				});
			} else if (obj.event === 'save') {  // 监听保存操作
				var sorts = [];
				$("input[name='sort_id']").each(function () {
					var sort = {
						article_id: parseInt($(this).attr("article_id")),
						sort_id: parseInt($(this).val())
					};
					sorts.push(sort);
				});
				$.ajax({
					type: "POST",
					url: "/admin/article/ArticleSaveSortId", //提交的地址
					data: JSON.stringify(sorts),
					async: false,
					beforeSend: function () { //当一个Ajax请求开始时触发
						this.layerIndex = layer.load(0, { shade: [0.5, '#393D49'] });
					},
					error: function (request) {  //失败的话
					},
					success: function (data) {  //成功
						if (data.code == CodeSuccess) {
							layer.msg("提交成功", { icon: 1, time: 1000 }, function () {
								$('button[lay-filter="data-search-btn"]').click();
							});
						} else {
							layer.msg(data.msg, { icon: 2, time: 1000 });
						}
					},
					complete: function () {
						layer.close(this.layerIndex);
					},
				});
			} else if (obj.event === 'audit') {
				var checkStatus = table.checkStatus('tableContainer');
				var data = checkStatus.data;
				if (data.length == 0) {
					layer.msg("请选择要审核的数据", { icon: 2, time: 1000 });
					return false;
				}
				var ids = [];
				for (var i = 0; i < data.length; i++) {
					ids.push(data[i].article_id);
				}
				changeStatus(ids, 2);
			} else if (obj.event === 'reject') {
				var checkStatus = table.checkStatus('tableContainer');
				var data = checkStatus.data;
				if (data.length == 0) {
					layer.msg("请选择要审核的数据", { icon: 2, time: 1000 });
					return false;
				}
				var ids = [];
				for (var i = 0; i < data.length; i++) {
					ids.push(data[i].article_id);
				}
				changeStatus(ids, 3);
			}
		});

		function changeStatus(ids, status) {
			$.ajax({
				type: "POST",
				url: "/admin/article/ArticleChangeStatus", //提交的地址
				data: JSON.stringify({
					"article_ids": ids,
					"status": status,
				}),
				async: false,
				beforeSend: function () { //当一个Ajax请求开始时触发
					this.layerIndex = layer.load(0, { shade: [0.5, '#393D49'] });
				},
				error: function (request) {  //失败的话
				},
				success: function (data) {  //成功
					if (data.code == CodeSuccess) {
						layer.msg("审核成功", { icon: 1, time: 1000 }, function () {
							$('button[lay-filter="data-search-btn"]').click();
						});
					} else {
						layer.msg(data.msg, { icon: 2, time: 1000 });
					}
				},
				complete: function () {
					layer.closeAll();
					layer.close(this.layerIndex);
				},
			});
		}

		//监听表格复选框选择
		table.on('checkbox(currentTableFilter)', function (obj) {
		});

		table.on('tool(currentTableFilter)', function (obj) {
			var data = obj.data;
			if (obj.event === 'album') {
				var index = layer.open({
					title: '相册管理',
					type: 2,
					shade: 0.2,
					maxmin: true,
					shadeClose: true,
					area: ['100%', '100%'],
					content: '/admin/Common/Album?tableName=article&recordId=' + data.article_id + '&typeId=0&channelId=' + channelId,
				});
				$(window).on("resize", function () {
					layer.full(index);
				});
				return false;
			} else if (obj.event === 'attach') {
				var index = layer.open({
					title: '附件管理',
					type: 2,
					shade: 0.2,
					maxmin: true,
					shadeClose: true,
					area: ['100%', '100%'],
					content: '/admin/Common/Attach?tableName=article&recordId=' + data.article_id + '&typeId=0&channelId=' + channelId,
				});
				$(window).on("resize", function () {
					layer.full(index);
				});
				return false;
			} else if (obj.event === 'clone') {
				var index = layer.open({
					title: '克隆内容',
					type: 2,
					shade: 0.2,
					maxmin: true,
					shadeClose: true,
					area: ['100%', '100%'],
					content: 'ArticleEdit?clone=1&articleId=' + data.article_id + '&channelId=' + channelId,
				});
				$(window).on("resize", function () {
					layer.full(index);
				});
				return false;
			} else if (obj.event === 'edit') {
				var index = layer.open({
					title: '编辑内容',
					type: 2,
					shade: 0.2,
					maxmin: true,
					shadeClose: true,
					area: ['100%', '100%'],
					content: 'ArticleEdit?articleId=' + data.article_id + '&channelId=' + channelId,
				});
				$(window).on("resize", function () {
					layer.full(index);
				});
				return false;
			} else if (obj.event === 'delete') {
				layer.confirm('真的删除行么', function (index) {
					$.ajax({
						type: "POST",
						url: "/admin/article/ArticleDestory", //提交的地址
						data: {
							"articleId": data.article_id
						},
						async: false,
						beforeSend: function () { //当一个Ajax请求开始时触发
							this.layerIndex = layer.load(0, { shade: [0.5, '#393D49'] });
						},
						error: function (request) {  //失败的话
						},
						success: function (data) {  //成功
							if (data.code == CodeSuccess) {
								layer.msg("删除成功", { icon: 1, time: 1000 }, function () {
									$('button[lay-filter="data-search-btn"]').click();
								});
							} else {
								layer.msg(data.msg, { icon: 2, time: 1000 });
							}
						},
						complete: function () {
							layer.closeAll();
							layer.close(this.layerIndex);
						},
					});
				});
			}
		});

	});
</script>