<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>首页</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/admin/lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/admin/lib/font-awesome-4.7.0/css/font-awesome.min.css" media="all">
    <link rel="stylesheet" href="/static/admin/css/public.css" media="all">
    <style>
        .layui-card {
            border: 1px solid #f2f2f2;
            border-radius: 5px;
        }

        .icon {
            margin-right: 10px;
            color: #1aa094;
        }

        .icon-cray {
            color: #ffb800 !important;
        }

        .icon-blue {
            color: #1e9fff !important;
        }

        .icon-tip {
            color: #ff5722 !important;
        }

        .layuimini-qiuck-module {
            text-align: center;
            margin-top: 10px
        }

        .layuimini-qiuck-module a i {
            display: inline-block;
            width: 100%;
            height: 60px;
            line-height: 60px;
            text-align: center;
            border-radius: 2px;
            font-size: 30px;
            background-color: #F8F8F8;
            color: #333;
            transition: all .3s;
            -webkit-transition: all .3s;
        }

        .layuimini-qiuck-module a cite {
            position: relative;
            top: 2px;
            display: block;
            color: #666;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            font-size: 14px;
        }

        .welcome-module {
            width: 100%;
            height: 210px;
        }

        .panel {
            background-color: #fff;
            border: 1px solid transparent;
            border-radius: 3px;
            -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
            box-shadow: 0 1px 1px rgba(0, 0, 0, .05)
        }

        .panel-body {
            padding: 10px
        }

        .panel-title {
            margin-top: 0;
            margin-bottom: 0;
            font-size: 12px;
            color: inherit
        }

        .label {
            display: inline;
            padding: .2em .6em .3em;
            font-size: 75%;
            font-weight: 700;
            line-height: 1;
            color: #fff;
            text-align: center;
            white-space: nowrap;
            vertical-align: baseline;
            border-radius: .25em;
            margin-top: .3em;
        }

        .layui-red {
            color: red
        }

        .main_btn>p {
            height: 40px;
        }

        .layui-bg-number {
            background-color: #F8F8F8;
        }

        .layuimini-notice:hover {
            background: #f6f6f6;
        }

        .layuimini-notice {
            padding: 7px 16px;
            clear: both;
            font-size: 12px !important;
            cursor: pointer;
            position: relative;
            transition: background 0.2s ease-in-out;
        }

        .layuimini-notice-title,
        .layuimini-notice-label {
            padding-right: 70px !important;
            text-overflow: ellipsis !important;
            overflow: hidden !important;
            white-space: nowrap !important;
        }

        .layuimini-notice-title {
            line-height: 28px;
            font-size: 14px;
        }

        .layuimini-notice-extra {
            position: absolute;
            top: 50%;
            margin-top: -8px;
            right: 16px;
            display: inline-block;
            height: 16px;
            color: #999;
        }
    </style>
</head>

<body>
    <div class="layuimini-container">
        <div class="layuimini-main">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md8">
                    <div class="layui-row layui-col-space15">
                        <div class="layui-col-md6">
                            <div class="layui-card">
                                <div class="layui-card-header"><i class="fa fa-warning icon"></i>数据统计</div>
                                <div class="layui-card-body">
                                    <div class="welcome-module">
                                        <div class="layui-row layui-col-space10">
                                            <div class="layui-col-xs6">
                                                <div class="panel layui-bg-number">
                                                    <div class="panel-body">
                                                        <div class="panel-title">
                                                            <span class="label pull-right layui-bg-blue">实时</span>
                                                            <h5>站点统计</h5>
                                                        </div>
                                                        <div class="panel-content">
                                                            <h1 class="no-margins" id="site_count">0</h1>
                                                            <small>当前站点总记录数</small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="layui-col-xs6">
                                                <div class="panel layui-bg-number">
                                                    <div class="panel-body">
                                                        <div class="panel-title">
                                                            <span class="label pull-right layui-bg-cyan">实时</span>
                                                            <h5>频道统计</h5>
                                                        </div>
                                                        <div class="panel-content">
                                                            <h1 class="no-margins" id="channel_count">0</h1>
                                                            <small>当前频道总记录数</small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="layui-col-xs6">
                                                <div class="panel layui-bg-number">
                                                    <div class="panel-body">
                                                        <div class="panel-title">
                                                            <span class="label pull-right layui-bg-orange">实时</span>
                                                            <h5>栏目统计</h5>
                                                        </div>
                                                        <div class="panel-content">
                                                            <h1 class="no-margins" id="category_count">0</h1>
                                                            <small>当前栏目总记录数</small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="layui-col-xs6">
                                                <div class="panel layui-bg-number">
                                                    <div class="panel-body">
                                                        <div class="panel-title">
                                                            <span class="label pull-right layui-bg-green">实时</span>
                                                            <h5>文章统计</h5>
                                                        </div>
                                                        <div class="panel-content">
                                                            <h1 class="no-margins" id="article_count">0</h1>
                                                            <small>当前文章总记录数</small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md6">
                            <div class="layui-card">
                                <div class="layui-card-header"><i class="fa fa-credit-card icon icon-blue"></i>快捷入口</div>
                                <div class="layui-card-body">
                                    <div class="welcome-module">
                                        <div class="layui-row layui-col-space10 layuimini-qiuck">
                                            <div class="layui-col-xs3 layuimini-qiuck-module">
                                                <a href="javascript:;" data-title="站点管理" data-icon="fa fa-window-maximize" onclick="quickJump('站点管理', 'site_index', '/admin/site/index')">
                                                    <i class="fa fa-window-maximize"></i>
                                                    <cite>站点管理</cite>
                                                </a>
                                            </div>
                                            <div class="layui-col-xs3 layuimini-qiuck-module">
                                                <a href="javascript:;" data-title="频道管理" data-icon="fa fa-gears" onclick="quickJump('频道管理', 'site_channel', '/admin/site/channel')">
                                                    <i class="fa fa-gears"></i>
                                                    <cite>频道管理</cite>
                                                </a>
                                            </div>
                                            <div class="layui-col-xs3 layuimini-qiuck-module">
                                                <a href="javascript:;" data-title="管理员管理" data-icon="fa fa-file-text" onclick="quickJump('管理员管理', 'user_manager', '/admin/admin/index')">
                                                    <i class="fa fa-file-text"></i>
                                                    <cite>管理员管理</cite>
                                                </a>
                                            </div>
                                            <div class="layui-col-xs3 layuimini-qiuck-module">
                                                <a href="javascript:;" data-title="角色管理" data-icon="fa fa-dot-circle-o" onclick="quickJump('角色管理', 'user_role', '/admin/admin/role')">
                                                    <i class="fa fa-dot-circle-o"></i>
                                                    <cite>角色管理</cite>
                                                </a>
                                            </div>
                                            <div class="layui-col-xs3 layuimini-qiuck-module">
                                                <a href="javascript:;" data-title="日志管理" data-icon="fa fa-hourglass-end" onclick="quickJump('日志管理', 'user_log', '/admin/admin/log')">
                                                    <i class="fa fa-hourglass-end"></i>
                                                    <cite>日志管理</cite>
                                                </a>
                                            </div>
                                            <div class="layui-col-xs3 layuimini-qiuck-module">
                                                <a href="javascript:;" data-title="链接管理" data-icon="fa fa-calendar" onclick="quickJump('链接管理', 'links_index', '/admin/link/index')">
                                                    <i class="fa fa-calendar"></i>
                                                    <cite>链接管理</cite>
                                                </a>
                                            </div>
                                            <div class="layui-col-xs3 layuimini-qiuck-module">
                                                <a href="javascript:;" data-title="公众平台管理" data-icon="fa fa-snowflake-o" onclick="quickJump('公众平台管理', 'wexin_base_gzh', '/admin/weixin/index')">
                                                    <i class="fa fa-snowflake-o"></i>
                                                    <cite>公众平台管理</cite>
                                                </a>
                                            </div>
                                            <div class="layui-col-xs3 layuimini-qiuck-module">
                                                <a href="javascript:;" data-title="在线报名" data-icon="fa fa-search" onclick="quickJump('在线报名', 'plg_online_register', '/admin/plg/register')">
                                                    <i class="fa fa-search"></i>
                                                    <cite>在线报名</cite>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md12">
                            <div class="layui-card">
                                <div class="layui-card-header"><i class="fa fa-line-chart icon"></i>报表统计</div>
                                <div class="layui-card-body">
                                    <div id="echarts-records" style="width: 100%;min-height:500px"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md4">
                    <div class="layui-card">
                        <div class="layui-card-header"><i class="fa fa-bullhorn icon icon-tip"></i>系统公告</div>
                        <div class="layui-card-body layui-text">
                            {{range $index,$item := .noticeList}}
                            <div class="layuimini-notice">
                                <div class="layuimini-notice-title" style="max-width: 350px">{{$item.Title}}</div>
                                <div class="layuimini-notice-extra">{{dateformat $item.CreateTime "2006-01-02 15:04:05"}}</div>
                                <div class="layuimini-notice-content layui-hide">{{$item.Content}}</div>
                            </div>
                            {{end}}
                        </div>
                    </div>
                    <div class="layui-card">
                        <div class="layui-card-header"><i class="fa fa-fire icon"></i>版本信息</div>
                        <div class="layui-card-body layui-text">
                            <table class="layui-table">
                                <colgroup>
                                    <col width="100">
                                    <col>
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <td>系统名称</td>
                                        <td>
                                            YY内容管理系统
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>当前版本</td>
                                        <td>v1.0.0</td>
                                    </tr>
                                    <tr>
                                        <td>主要特色</td>
                                        <td>零门槛 / 响应式 / 清爽 / 极简</td>
                                    </tr>
                                    <tr>
                                        <td>产品介绍</td>
                                        <td>
                                            基于golang的技术开发，开放源代码。轻量级架构，后台使用原始的开发方式，无任何技术门槛，使得开发人员更容易上手。
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="layui-card">
                        <div class="layui-card-header"><i class="fa fa-paper-plane-o icon"></i>作者心语</div>
                        <div class="layui-card-body layui-text layadmin-text">
                            <p>低调！才是最牛B的炫耀！！</p>
                            <p>一日一钱，千日千钱，绳锯木断，水滴石穿。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/admin/lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
    <script src="/static/admin/js/lay-config.js?v=1.0.4" charset="utf-8"></script>
    <script type="text/javascript">
        var roleList = null;
        if ("{{.roleType}}" != "supper") {
            $.ajax({
                type: "POST", //提交的方法
                url: "/admin/admin/RoleValueFind?roleId={{.roleId}}", //提交的地址
                data: $('#frmEdit').serialize(), // 序列化表单值
                async: false,
                beforeSend: function () { //当一个Ajax请求开始时触发
                },
                error: function (request) {  //失败的话
                },
                success: function (data) {  //成功
                    if (data.code == CodeSuccess) {
                        roleList = data.data;
                        console.log(roleList)
                    }
                },
                complete: function () {
                },
            });
        }
        function quickJump(title, navName, jumpUrl) {
            if ("{{.roleType}}" === "supper") {
                layui.miniTab.openNewTabByIframe({
                    href: jumpUrl,
                    title: title,
                });
            } else {
                var isHas = false;
                for (let i = 0; i < roleList.length; i++) {
                    if (roleList[i].nav_name === navName) {
                        layui.miniTab.openNewTabByIframe({
                            href: jumpUrl,
                            title: title,
                        });
                        break;
                    }
                }
                if (!isHas) {
                    layer.msg("无" + title + "相关权限");
                }
            }
        }

        $.ajax({
            url: "/admin/index/count?r=" + Math.random(),
            dataType: "json",
            type: "get",
            beforeSend: function () {
            },
            success: function (res) {
                if (res.code == 0) {
                    $("#site_count").html(res.data.site_count);
                    $("#channel_count").html(res.data.channel_count);
                    $("#category_count").html(res.data.category_count);
                    $("#article_count").html(res.data.article_count);
                }
            },
            error: function () {
            },
            complete: function () {
            }
        });

        var dateList = null;
        var reportFormsList = null;
        $.ajax({
            type: "POST", //提交的方法
            url: "/admin/index/ReportFormsGet", //提交的地址
            data: $('#frmEdit').serialize(), // 序列化表单值
            async: false,
            beforeSend: function () { //当一个Ajax请求开始时触发
            },
            error: function (request) {  //失败的话
            },
            success: function (data) {  //成功
                if (data.code == CodeSuccess) {
                    console.log(data.data)
                    dateList = data.data.dates;
                    reportFormsList = data.data.items;
                    if(reportFormsList.length > 0){
                        for (let i = 0; i < reportFormsList.length; i++) {
                            reportFormsList[i].smooth = false;
                        }
                    }
                }
            },
            complete: function () {
            },
        });

        layui.use(['layer', 'miniTab', 'echarts'], function () {
            var $ = layui.jquery,
                layer = layui.layer,
                miniTab = layui.miniTab,
                echarts = layui.echarts;

            miniTab.listen();

            /**
             * 查看公告信息
             **/
            $('body').on('click', '.layuimini-notice', function () {
                var title = $(this).children('.layuimini-notice-title').text(),
                    noticeTime = $(this).children('.layuimini-notice-extra').text(),
                    content = $(this).children('.layuimini-notice-content').html();
                var html = '<div style="padding:15px 20px; text-align:justify; line-height: 22px;border-bottom:1px solid #e2e2e2;background-color: #2f4056;color: #ffffff">\n' +
                    '<div style="text-align: center;margin-bottom: 20px;font-weight: bold;border-bottom:1px solid #718fb5;padding-bottom: 5px"><h4 class="text-danger">' + title + '</h4></div>\n' +
                    '<div style="font-size: 12px">' + content + '</div>\n' +
                    '</div>\n';
                parent.layer.open({
                    type: 1,
                    title: '系统公告' + '<span style="float: right;right: 1px;font-size: 12px;color: #b1b3b9;margin-top: 1px">' + noticeTime + '</span>',
                    area: '300px;',
                    shade: 0.8,
                    id: 'layuimini-notice',
                    btn: ['查看', '取消'],
                    btnAlign: 'c',
                    moveType: 1,
                    content: html,
                    success: function (layero) {
                        var btn = layero.find('.layui-layer-btn');
                        btn.find('.layui-layer-btn0').attr({
                            href: 'https://gitee.com/zhongshaofa/layuimini',
                            target: '_blank'
                        });
                    }
                });
            });

            function getDateList() {
                var dateLists = [];
                var dd;
                for (let i = 0; i < 7; i++) {
                    dd = new Date();
                    dd.setDate(dd.getDate() - (7 - i));
                    dateLists.push(dd.toLocaleDateString());
                }
                return dateLists;
            }

            /**
             * 报表功能
             */
            var echartsRecords = echarts.init(document.getElementById('echarts-records'), 'walden');
            var optionRecords = {
                tooltip: {
                    trigger: 'axis'
                },
                smooth: false,
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                toolbox: {
                    feature: {
                        saveAsImage: {}
                    }
                },
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: dateList
                },
                yAxis: {
                    type: 'value'
                },
                series: reportFormsList
            };
            echartsRecords.setOption(optionRecords);

            // echarts 窗口缩放自适应
            window.onresize = function () {
                echartsRecords.resize();
            }

        });
    </script>
</body>

</html>