.layui-treeSelect .ztree li span.button {
    font-family: layui-icon !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background:none;
    line-height: inherit;
}
    .layui-treeSelect .ztree li span.button.chk {
        border-color: #d2d2d2;
        background-color: #fff;
        padding: 0 1px;
        font-size: 12px;
        color: #fff;
        border-style: solid;
        border-width: 1px;
        height: 16px;
        width: 16px;
        line-height: 16px;
        border-radius: 1px;
    }
        .layui-treeSelect .ztree li span.button.chk.checkbox_true_full, .layui-treeSelect .ztree li span.button.chk.checkbox_true_full_focus {
            border-color: #5FB878 !important;
            background-color: #5FB878;
        }
            .layui-treeSelect .ztree li span.button.chk.checkbox_true_full:before, .layui-treeSelect .ztree li span.button.chk.checkbox_true_full_focus:before {
                content: "\e605";
            }

        .layui-treeSelect .ztree li span.button.chk.checkbox_true_part, .layui-treeSelect .ztree li span.button.chk.checkbox_true_part_focus {
            background-color: #fff;
            color: #aaa;
            border-color: #5FB878 !important;
        }
            .layui-treeSelect .ztree li span.button.chk.checkbox_true_part:before, .layui-treeSelect .ztree li span.button.chk.checkbox_true_part_focus:before {
                content: "\e605";
            }

        .layui-treeSelect .ztree li span.button.chk.checkbox_false_full_focus {
            border-color: #5FB878 !important;
        }




    .layui-treeSelect .ztree li span.button.ico_open {
        display: none;
    }

    .layui-treeSelect .ztree li span.button.ico_close {
        display: none;
    }

    .layui-treeSelect .ztree li span.button.ico_docu:before {
        content: "\e621";
    }

    .layui-treeSelect .ztree li span.button.bottom_close:before, .layui-treeSelect .ztree li span.button.center_close:before, .layui-treeSelect .ztree li span.button.root_close:before {
        content: "\e623";
    }

    .layui-treeSelect .ztree li span.button.bottom_open:before, .layui-treeSelect .ztree li span.button.root_open:before, .layui-treeSelect .ztree li span.button.center_open:before {
        content: "\e625";
    }

.layui-treeSelect .ztree li a:hover {
    text-decoration: none;
    color: #5FB878;
}

.layui-treeSelect .ztree * {
    font-size: 14px;
}

.layui-treeSelect .ztree li {
    line-height: inherit;
    padding: 2px 0;
}

    .layui-treeSelect .ztree li span.button.switch {
        position: relative;
        line-height: 18px;
    }

    .layui-treeSelect .ztree li a, .ztree li span {
        height: inherit;
    }

        .layui-treeSelect .ztree li a.curSelectedNode {
            color: #5FB878;
            background: none;
            border: none;
            height: inherit;
            padding-top: 1px;
        }

    .layui-treeSelect .ztree li ul.line {
        background: none;
    }

.layui-treeSelect .layui-anim::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #F5F5F5;
}

.layui-treeSelect .layui-anim::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(107,98,98,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.layui-treeSelect .layui-anim::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(107,98,98,0.3);
    background-color: #555;
}

.layui-treeSelect.layui-form-select .layui-anim {
    display: none;
    position: absolute;
    left: 0;
    top: 42px;
    padding: 5px 0;
    z-index: 9999;
    min-width: 100%;
    border: 1px solid #d2d2d2;
    max-height: 400px;
    overflow-y: auto;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0,0,0,.12);
    box-sizing: border-box;
}

.layui-treeSelect.layui-form-selected .layui-anim {
    display: block;
}