<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container layui-btn-group">
        <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="add"><i class="layui-icon layui-icon-addition"></i>添加</button>
        <button class="layui-btn layui-btn-sm layui-btn-primary data-delete-btn" lay-event="save"><i class="layui-icon layui-icon-ok"></i>保存</button>
    </div>
</script>
<script type="text/html" id="currentTableBar">
    <div class="layui-btn-container layui-btn-group">
        <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit layui-btn-radius" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
        <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete layui-btn-radius" lay-event="delete"><i class="layui-icon layui-icon-close"></i>删除</a>
    </div>
</script>