<script type="text/html" id="currentTableBar">
    <!-- <div class="layui-btn-container layui-btn-group"> -->
<button class="layui-btn layui-btn-normal layui-btn-xs data-count-edit layui-btn-radius" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</button>
<button class="layui-btn layui-btn-primary layui-btn-xs data-count-add layui-btn-radius" lay-event="add"><i class="layui-icon layui-icon-add-circle"></i>添加子类</button>
<button class="layui-btn layui-btn-xs layui-btn-danger data-count-delete layui-btn-radius" lay-event="delete"><i class="layui-icon layui-icon-delete"></i>删除</button>
<!-- </div> -->
</script>