<script type="text/html" id="currentTableBar">
    <!-- <div class="layui-btn-group"> -->
<a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit layui-btn-radius" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
<a class="layui-btn layui-btn-primary layui-btn-xs data-count-clone layui-btn-radius" lay-event="clone"><i class="layui-icon layui-icon-form"></i>拷贝</a>
<a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete layui-btn-radius" lay-event="delete"><i class="layui-icon layui-icon-delete"></i>删除</a>
<!-- </div> -->
</script>