<div class="layuimini-main">
    <form class="layui-form" action="">
        <div class="layui-tab layui-tab-brief">
            <ul class="layui-tab-title">
                <li class="layui-this">基本信息</li>
                <li>SEO配置</li>
                <li>详细内容</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <div class="layui-form-item">
                        <label class="layui-form-label required">类别标题</label>
                        <div class="layui-input-inline" style="width: 300px;">
                            <input type="hidden" name="category_id" value="{{.mdl.CategoryID}}">
                            <input type="text" name="title" value="{{.mdl.Title}}" lay-verify="required" lay-reqtext="类别标题为必填项" lay-verify="title" autocomplete="off" placeholder="请输入类别标题" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label required">调用别名</label>
                        <div class="layui-input-inline" style="width: 300px;">
                            <input type="text" name="call_index" value="{{.mdl.CallIndex}}" lay-verify="required" lay-reqtext="调用别名为必填项" lay-verify="title" autocomplete="off" placeholder="请输入调用别名" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">外部链接</label>
                        <div class="layui-input-inline" style="width: 300px;">
                            <input type="text" name="call_index" value="{{.mdl.LinkURL}}" lay-verify="title" autocomplete="off" placeholder="请输入外部链接" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">图片地址</label>
                        <div class="layui-input-inline" style="width: 300px;">
                            <input type="text" name="img_url" value="{{.mdl.ImgURL}}" lay-verify="title" autocomplete="off" placeholder="" class="layui-input">
                        </div>
                        <button type="button" class="layui-btn layui-btn-primary" id="btnUpload">
                            <i class="layui-icon">&#xe67c;</i>上传图片
                        </button>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">排序号</label>
                        <div class="layui-input-inline" style="width: 80px;">
                            <input type="number" name="sort_id" lay-verify="number" value="{{.mdl.SortID}}" class="layui-input">
                        </div>
                        <div class="layui-form-mid layui-word-aux">数字，越小越向前</div>
                    </div>
                </div>
                <div class="layui-tab-item">
                    <div class="layui-form-item">
                        <label class="layui-form-label">SEO标题</label>
                        <div class="layui-input-inline" style="width: 300px;">
                            <input type="text" value="{{.mdl.SeoTitle}}" name="title" lay-verify="title" autocomplete="off" placeholder="请输入SEO标题" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">SEO关健字</label>
                        <div class="layui-input-inline" style="width: 300px;">
                            <textarea name="seo_keyword" placeholder="请输入SEO关健字" class="layui-textarea">{{.mdl.SeoKeyword}}</textarea>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">SEO描述</label>
                        <div class="layui-input-inline" style="width: 300px;">
                            <textarea name="seo_description" placeholder="请输入SEO描述" class="layui-textarea">{{.mdl.SeoDescription}}</textarea>
                        </div>
                    </div>
                </div>
                <div class="layui-tab-item">
                    <div id="editor" style="margin: 10px 0 10px 0">{{str2html .mdl.Content}}</div>
                    <textarea style="display: none;" id="content" name="content" placeholder="" class="layui-textarea">{{.mdl.Content}}</textarea>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
    </form>
</div>
<script>
    layui.use(['form', 'layer', 'wangEditor', 'upload'], function () {
        var form = layui.form;
        var $ = layui.jquery,
            layer = layui.layer,
            wangEditor = layui.wangEditor;
        var upload = layui.upload;

        //执行实例
        var uploadInst = upload.render({
            elem: '#btnUpload' //绑定元素
            , url: '/admin/tools/ImageUpload' //上传接口
            , done: function (res) {
                //上传完毕回调
                if (res.code == 0) {
                    $("input[name='img_url']").val(res.file.url2);
                } else {
                    layer.msg(res.msg);
                }
            }
            , error: function () {
                //请求异常回调
            }
        });

        var editor = new wangEditor('#editor');
        editor.customConfig.uploadImgServer = "/admin/tools/ImageUpload";
        editor.customConfig.uploadFileName = 'file';
        editor.customConfig.pasteFilterStyle = false;
        editor.customConfig.uploadImgMaxLength = 1;
        editor.customConfig.uploadImgHooks = {
            // 上传超时
            timeout: function (xhr, editor) {
                layer.msg('上传超时！')
            },
            // 如果服务器端返回的不是 {errno:0, data: [...]} 这种格式，可使用该配置
            customInsert: function (insertImg, result, editor) {
                console.log(result);
                if (result.code == 0) {
                    var url = result.file.url2;
                    insertImg(url);
                    // url.forEach(function (e) {
                    //     insertImg(e);
                    // })
                } else {
                    layer.msg(result.msg);
                }
            }
        };
        editor.customConfig.customAlert = function (info) {
            layer.msg(info);
        };
        editor.create();

        // 进行登录操作
        form.on('submit(login)', function (data) {
            data = data.field;
            console.log(data);
            $.ajax({
                url: "CategorySave",
                type: 'post',
                data: data,
                beforeSend: function () {
                    this.layerIndex = layer.load(0, { shade: [0.5, '#393D49'] });
                },
                success: function (data) {
                    console.log(data);
                    switch (data.code) {
                        case 1:
                            layer.msg(data.msg, { icon: 5 });//失败的表情
                            return;
                        case 0:
                            layer.msg(data.msg, {
                                icon: 6,//成功的表情
                                time: 1000 //1秒关闭（如果不配置，默认是3秒）
                            }, function () {

                            });
                            break;
                        default:
                            layer.msg(data.msg, { icon: 5 });//失败的表情
                            return;
                    }
                },
                complete: function () {
                    layer.close(this.layerIndex);
                },
            });
            return false;
        });
    });
</script>