<div class="layuimini-main">
    <form class="layui-form" method="get" lay-filter="frmEdit" id="frmEdit">
        <div class="layui-tab layui-tab-brief layui-tab-card">
            <ul class="layui-tab-title">
                <li class="layui-this">基本信息</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <div class="layui-form-item">
                        <label class="layui-form-label required">
                            链接类别
                        </label>
                        <div class="layui-input-inline" style="width: 500px;">
                            <input type="hidden" name="link_id" value="{{.mdl.LinkID}}">
                            <select name="category_id" lay-verify="required" lay-search="" lay-reqtext="类别标题为必填项">
                                <option value="">请选择</option>
                                {{range $index,$item := .categoryList}}
                                <option value="{{$item.CategoryID}}" {{if eq $.mdl.CategoryID $item.CategoryID}}selected="selected" {{end}}>{{$item.Title}}</option>
                                {{end}}
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label required">
                            链接标题
                        </label>
                        <div class="layui-input-inline" style="width: 500px;">
                            <input type="text" name="title" value="{{.mdl.Title}}" lay-verify="required" lay-reqtext="链接标题为必填项" autocomplete="off" placeholder="" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">调用别名</label>
                        <div class="layui-input-inline" style="width: 500px;">
                            <input type="text" name="call_index" value="{{.mdl.CallIndex}}" lay-verify="call_index" autocomplete="off" placeholder="" class="layui-input">
                        </div>
                        <div class="layui-form-mid layui-word-aux">别名访问，非必填，不可重复</div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label required">
                            URL链接
                        </label>
                        <div class="layui-input-inline" style="width: 500px;">
                            <input type="text" name="link_url" value="{{.mdl.LinkURL}}" autocomplete="off" lay-verify="url" lay-reqtext="URL链接为必填项" placeholder="" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">打开目标</label>
                        <div class="layui-input-inline" style="width: 500px;">
                            <input type="text" name="target" value="{{.mdl.Target}}" autocomplete="off" placeholder="" class="layui-input">
                        </div>
                        <div class="layui-form-mid layui-word-aux">是否开启浏览器新窗口</div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">网站Logo</label>
                        <div class="layui-input-inline" style="width: 392px;">
                            <input type="hidden" name="img_url2" value="{{.mdl.ImgUrl2}}">
                            <input type="text" name="img_url1" value="{{.mdl.ImgUrl1}}" autocomplete="off" placeholder="" class="layui-input">
                        </div>
                        <button type="button" class="layui-btn layui-btn-primary" id="btnUpload">
                            <i class="layui-icon">&#xe67c;</i>浏览...
                        </button>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">选项</label>
                        <div class="layui-input-inline" style="width: 500px;">
                            <input name="is_top" type="checkbox" value="1" title="置顶" {{if eq .mdl.IsTop 1}} checked="" {{end}}>
                            <input name="is_red" type="checkbox" value="1" title="推荐" {{if eq .mdl.IsRed 1}} checked="" {{end}}>
                            <input name="is_hot" type="checkbox" value="1" title="热门" {{if eq .mdl.IsHot 1}} checked="" {{end}}>
                            <input name="is_slide" type="checkbox" value="1" title="幻灯片" {{if eq .mdl.IsSlide 1}} checked="" {{end}}>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">状&nbsp;&nbsp;态</label>
                        <div class="layui-input-inline" style="width: 500px;">
                            <input type="radio" name="status" value="0" title="草稿" {{if eq .mdl.Status 0}}checked="checked" {{end}}>
                            <input type="radio" name="status" value="2" title="通过" {{if eq .mdl.Status 2}}checked="checked" {{end}}>
                            <input type="radio" name="status" value="3" title="拒绝" {{if eq .mdl.Status 3}}checked="checked" {{end}}>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">排序号</label>
                        <div class="layui-input-inline" style="width: 80px;">
                            <input type="number" name="sort_id" lay-verify="number" value="{{.mdl.SortID}}" class="layui-input">
                        </div>
                        <div class="layui-form-mid layui-word-aux">数字，越小越向前</div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">备注</label>
                        <div class="layui-input-inline" style="width: 500px;">
                            <textarea name="remark" placeholder="" class="layui-textarea">{{.mdl.Remark}}</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block" style="text-align: center;">
                <!-- <button class="layui-btn" id="btnSubmit">立即提交</button> -->
                <button class="layui-btn layui-btn-radius" id="btnSubmit">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary layui-btn-radius">重置</button>
            </div>
        </div>
    </form>
</div>
<script>
    layui.use(['form', 'layer', 'wangEditor', 'upload'], function () {
        var form = layui.form;
        var $ = layui.jquery,
            layer = layui.layer,
            wangEditor = layui.wangEditor;
        var upload = layui.upload;

        //执行实例
        var uploadInst = upload.render({
            elem: '#btnUpload' //绑定元素
            , url: '/admin/tools/ImageUpload?path=link' //上传接口
            , done: function (res) {
                //上传完毕回调
                if (res.code == 0) {
                    $("input[name='img_url1']").val(res.file.url1);
                    $("input[name='img_url2']").val(res.file.url2);
                } else {
                    layer.msg(res.msg);
                }
            }
            , error: function () {
                //请求异常回调
            }
        });

        var editor = new wangEditor('#editor');
        editor.customConfig.uploadImgServer = "/admin/tools/ImageUpload?path=link";
        editor.customConfig.uploadFileName = 'file';
        editor.customConfig.pasteFilterStyle = false;
        editor.customConfig.uploadImgMaxSize = 3 * 1024 * 1024; // 将图片大小限制为 3M
        editor.customConfig.uploadImgMaxLength = 1;
        editor.customConfig.onchange = function (html) {
            // 第二步，监控变化，同步更新到 textarea
            $("textarea[name='content']").val(html);
        }
        editor.customConfig.uploadImgHooks = {
            // 上传超时
            timeout: function (xhr, editor) {
                layer.msg('上传超时！')
            },
            // 如果服务器端返回的不是 {errno:0, data: [...]} 这种格式，可使用该配置
            customInsert: function (insertImg, result, editor) {
                console.log(result);
                if (result.code == 0) {
                    var url = result.file.url2;
                    insertImg(url);
                    // url.forEach(function (e) {
                    //     insertImg(e);
                    // })
                } else {
                    layer.msg(result.msg);
                }
            }
        };
        editor.customConfig.customAlert = function (info) {
            layer.msg(info);
        };
        editor.create();

        //自定义验证规则
        form.verify({
            call_index: function (value, item) {
                var exp = /^[a-zA-Z0-9\-\_]{2,50}$/;
                if (value && !exp.test(value)) {
                    return '请填写正确的调用别名';
                }
            },
        });

        // 提交事件
        form.on('submit(*)', function (data) {
            // alert(JSON.stringify(data.field));
            return false;
        });

        //方法提交
        $('#btnSubmit').on('click', function () {
            form.submit('frmEdit', function (data) {
                $.ajax({
                    type: "POST", //提交的方法
                    url: "/admin/link/LinkSave", //提交的地址
                    data: $('#frmEdit').serialize(), // 序列化表单值
                    async: false,
                    beforeSend: function () { //当一个Ajax请求开始时触发
                        this.layerIndex = layer.load(0, { shade: [0.5, '#393D49'] });
                    },
                    error: function (request) {  //失败的话
                    },
                    success: function (data) {  //成功
                        console.log(data);
                        layer.closeAll();
                        if (data.code == CodeSuccess) {
                            layer.msg("提交成功", { icon: 1, time: 1000 }, function () {
                                var index = parent.layer.getFrameIndex(window.name);
                                parent.layer.close(index);
                                parent.location.reload();
                            });
                        } else {
                            layer.msg(data.msg, { icon: 2, time: 1000 });
                        }
                    },
                    complete: function () {
                        layer.close(this.layerIndex);
                    },
                });
            });
            return false;
        });
    });
</script>