<div class="layuimini-main">
    <form class="layui-form" method="get" lay-filter="frmEdit" id="frmEdit" name="frmEdit">
        <div class="layui-tab layui-tab-brief layui-tab-card">
            <ul class="layui-tab-title">
                <li class="layui-this">站点信息</li>
                <li>网站信息</li>
                <li>域名信息</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <div class="layui-form-item">
                        <label class="layui-form-label required"><font color="red">*</font> 站点名称</label>
                        <div class="layui-input-inline" style="width: 500px;">
                            <input type="hidden" name="site_id" value="{{.site.SiteID}}">
                            <input type="text" maxlength="50" id="title" name="title" value="{{.site.Title}}" lay-verify="required" lay-reqtext="站点名称为必填项" autocomplete="off" placeholder="请输入站点名称" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label required"><font color="red">*</font> 生成目录名</label>
                        <div class="layui-input-inline" style="width: 500px;">
                            <input type="text" maxlength="50" id="dir_path" name="dir_path" value="{{.site.DirPath}}" lay-verify="required" lay-reqtext="生成目录名为必填项" autocomplete="off" placeholder="请输入生成目录名" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">是否默认</label>
                        <div class="layui-input-inline" style="width: 80px;">
                            <select  name="is_default" class="layui-select">
                                <option value="0">否</option>
                                <option value="1" {{if .site.IsDefault}}selected="selected"{{end}}>是</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">移动站点</label>
                        <div class="layui-input-inline" style="width: 80px;">
                            <select id="mobile" name="mobile" class="layui-select">
                                <option value="0" {{if eq .site.Mobile 0}}selected="selected"{{end}}>否</option>
                                <option value="1" {{if eq .site.Mobile 1}}selected="selected"{{end}}>是</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">排序数字</label>
                        <div class="layui-input-inline" style="width: 80px;">
                            <input type="number" id="sort_id" name="sort_id" lay-verify="number" value="{{.site.SortID}}" class="layui-input">
                        </div>
                        <div class="layui-form-mid layui-word-aux">排序数字为0-999的正整数，越小越靠前</div>
                    </div>
                </div>
                <div class="layui-tab-item">
                    <div class="layui-form-item">
                        <label class="layui-form-label"><font color="red">*</font> 网站名称</label>
                        <div class="layui-input-inline" style="width: 500px;">
                            <input type="text" maxlength="50" value="{{.site.Name}}" id="name" name="name" lay-verify="required" lay-reqtext="网站名称为必填项" autocomplete="off" placeholder="网站名称" class="layui-input">
                        </div>
                        <div class="layui-form-mid layui-word-aux">任意字符</div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">网站LOGO</label>
                        <div class="layui-input-inline" style="width: 500px;">
                            <img src="{{.site.Logo}}" width="120px" height="60px" />
                            <input type="hidden" value="{{.site.Logo}}" id="logo" name="logo" autocomplete="off" placeholder="网站LOGO" class="layui-input">
                            <button type="button" class="layui-btn layui-btn-primary" id="btnUpload">
                                <i class="layui-icon">&#xe67c;</i>浏览...
                            </button>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">公司名称</label>
                        <div class="layui-input-inline" style="width: 500px;">
                            <input type="text" maxlength="50" value="{{.site.Company}}" id="company" name="company" autocomplete="off" placeholder="公司名称" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">通讯地址</label>
                        <div class="layui-input-inline" style="width: 500px;">
                            <input type="text" maxlength="50" value="{{.site.Address}}" id="address" name="address" autocomplete="off" placeholder="通讯地址" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">联系电话</label>
                        <div class="layui-input-inline" style="width: 500px;">
                            <input type="text" maxlength="30" value="{{.site.Telphone}}" id="telphone" name="telphone" autocomplete="off" placeholder="联系电话" class="layui-input">
                        </div>
                        <div class="layui-form-mid layui-word-aux">非必填,区号+电话号码</div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">传值号码</label>
                        <div class="layui-input-inline" style="width: 500px;">
                            <input type="text" maxlength="30" value="{{.site.Fax}}" id="fax" name="fax" autocomplete="off" placeholder="传值号码" class="layui-input">
                        </div>
                        <div class="layui-form-mid layui-word-aux">非必填,区号+传值号码</div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">电子邮箱</label>
                        <div class="layui-input-inline" style="width: 500px;">
                            <input type="text" maxlength="50" value="{{.site.Email}}" id="email" name="email" autocomplete="off" placeholder="电子邮箱" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">网站备案号</label>
                        <div class="layui-input-inline" style="width: 500px;">
                            <input type="text" maxlength="30" value="{{.site.Crod}}" id="crod" name="crod" autocomplete="off" placeholder="网站备案号" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">首页标题(SEO)</label>
                        <div class="layui-input-inline" style="width: 500px;">
                            <input type="text" maxlength="50" value="{{.site.HomeTitle}}" id="home_title" name="home_title" autocomplete="off" placeholder="首页标题" class="layui-input">
                        </div>
                        <div class="layui-form-mid layui-word-aux">自定义的首页标题</div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">页面关键词(SEO)</label>
                        <div class="layui-input-inline" style="width: 500px;">
                            <input type="text" maxlength="200" value="{{.site.MetaKeyword}}" id="meta_keyword" name="meta_keyword" autocomplete="off" placeholder="首页关键词" class="layui-input">
                        </div>
                        <div class="layui-form-mid layui-word-aux">首页关键词(keyword)</div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">页面描述(SEO)</label>
                        <div class="layui-input-inline" style="width: 500px;">
                            <input type="text" maxlength="100" value="{{.site.MetaDescription}}" id="meta_description" name="meta_description" autocomplete="off" placeholder="页面描述" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">底部版权信息</label>
                        <div class="layui-input-inline" style="width: 500px;">
                            <input type="text" maxlength="50" value="{{.site.Copyright}}" id="copyright" name="copyright" autocomplete="off" placeholder="底部版权信息" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-tab-item" id="domainDiv">
                    {{range $k,$v :=.domainList}}
                    <div class="layui-form-item">
                        <label class="layui-form-label required">域名</label>
                        <div class="layui-input-inline" style="width: 500px;">
                            <input type="text" maxlength="50" name="domain" value="{{$v.Domain}}" autocomplete="off" placeholder="请输入域名" class="layui-input">
                        </div>

                        <label class="layui-form-label required">备注</label>
                        <div class="layui-input-inline" style="width: 500px;">
                            <input type="text" maxlength="50" name="remark" value="{{$v.Remark}}" autocomplete="off" placeholder="请输入域名备注" class="layui-input">
                        </div>
                        {{if eq $k $.listSize}}
                        <a onclick="addDomian(this)" href="#" style="vertical-align: center"> 增加 </a>
                        {{end}}
                        <a onclick="delDomian(this)" href="#" style="vertical-align: center"> 删除 </a>
                    </div>
                    {{end}}
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block" style="text-align: center;">
                <!-- <button class="layui-btn" id="btnSubmit">立即提交</button> -->
                <button class="layui-btn layui-btn-radius" id="btnSubmit">立即提交</button>
                <button type="button" class="layui-btn layui-btn-primary layui-btn-radius" id="resetBtn">重置</button>
            </div>
        </div>
    </form>
</div>
<div id="domainTemplate" style="display: none">
    <div class="layui-form-item">
        <label class="layui-form-label required">域名</label>
        <div class="layui-input-inline" style="width: 500px;">
            <input type="text" maxlength="50" name="domain" value="" autocomplete="off" placeholder="请输入域名" class="layui-input">
        </div>

        <label class="layui-form-label required">备注</label>
        <div class="layui-input-inline" style="width: 500px;">
            <input type="text" maxlength="50" name="remark" value="" autocomplete="off" placeholder="请输入域名备注" class="layui-input">
        </div>

        <a onclick="addDomian(this)" href="#" style="vertical-align: center"> 增加 </a>
        <a onclick="delDomian(this)" href="#" style="vertical-align: center"> 删除 </a>
    </div>
</div>
<script>
    var $;
    layui.use(['form', 'layer', 'wangEditor', 'upload'], function () {
        var form = layui.form;
        $ = layui.jquery;
        var layer = layui.layer,
            wangEditor = layui.wangEditor;
        var upload = layui.upload;

        //执行实例
        var uploadInst = upload.render({
            elem: '#btnUpload' //绑定元素
            , url: '/admin/tools/ImageUpload' //上传接口
            , done: function (res) {
                //上传完毕回调
                if (res.code == 0) {
                    $("input[name='logo']").val(res.file.url2);
                    $("img").attr("src",res.file.url2);
                } else {
                    layer.msg(res.msg);
                }
            }
            , error: function () {
                //请求异常回调
            }
        });

        // 提交事件
        form.on('submit(*)', function (data) {
            console.log(data)
            // alert(JSON.stringify(data.field));
            return false;
        });

        //方法提交
        $('#btnSubmit').on('click', function () {
            var sortId = $("#sort_id").val();
            if(sortId > 999 || sortId < 0){
                layer.msg("排序数字应为0-999的正整数", { icon: 2, time: 2000 });
                return false;
            }
            form.submit('frmEdit', function (data) {
                $.ajax({
                    type: "POST", //提交的方法
                    url: "/admin/site/save", //提交的地址
                    data: $('#frmEdit').serialize(), // 序列化表单值
                    async: false,
                    beforeSend: function () { //当一个Ajax请求开始时触发
                        this.layerIndex = layer.load(0, { shade: [0.5, '#393D49'] });
                    },
                    error: function (request) {  //失败的话
                    },
                    success: function (data) {  //成功
                        console.log(data);
                        layer.closeAll();
                        if (data.code == CodeSuccess) {
                            layer.msg("提交成功", { icon: 1, time: 2000 }, function () {
                                var index = parent.layer.getFrameIndex(window.name);
                                parent.layer.close(index);
                                parent.location.reload();
                            });
                        } else {
                            layer.msg(data.msg, { icon: 2, time: 2000 });
                        }
                    },
                    complete: function () {
                        layer.close(this.layerIndex);
                    },
                });
            });
            return false;
        });

        $('#resetBtn').on('click', function () {
            form.val("frmEdit", {
                "title": ""
                ,"dir_path": ""
                ,"domain": ""
                ,"is_default": 0
                ,"mobile": 0
                ,"sort_id": 0
                ,"name": ""
                ,"logo": ""
                ,"company": ""
                ,"address": ""
                ,"telphone": ""
                ,"fax": ""
                ,"email": ""
                ,"crod": ""
                ,"home_title": ""
                ,"meta_keyword": ""
                ,"meta_description": ""
                ,"copyright": ""
            });
            $("img").attr("src","");
            form.render();
        })

    });

    function addDomian(e){
        $(e).remove();
        var html = $("#domainTemplate").html()
        $("#domainDiv").append(html);
    }

    function delDomian(e){
        var number = $("#domainDiv").find(".layui-form-item").length;
        if(number == 1){
            layer.msg("无法删除最后一个域名");
            return;
        }
        $(e).parent().remove();
        number = $("#domainDiv").find(".layui-form-item").length;
        $("#domainDiv").find(".layui-form-item").each(function(i,o){
            if(i == number-1){
                $(o).find("a").remove();
                $(o).append("<a onclick='addDomian(this)' href='#' style='vertical-align: center'> 增加 </a>");
                $(o).append("<a onclick='delDomian(this)' href='#' style='vertical-align: center'> 删除 </a>");
            }
        })
    }
</script>