<div class="news-box">
    <div class="w1200">
        <div class="left">
            <div class="tabTop">
                <span class="title">图片新闻</span>
                <a href="#" class="fr">更多></a>
            </div>
            <div class="sliderList">
                <div class="slider single-item2" id="divTpxw">
                    <div class="carousel-item">
                        <img src="{{.webroot}}images/lunbo_img1.png" />
                        <div class="carousel-opc"></div>
                        <span class="title">在新建成的足球场上 老师带领学生们做游戏在新建成的足球场上 老师带领学生们做游戏</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="tabTop">
                <span class="title">通知公告</span>
                <a href="#" class="fr">更多></a>
            </div>
            <div class="newlist-ul">
                <ul id="artTzgg" style="height: 353px;">
                    <li>
                        <a href="">
                            <span class="txt">河南省工业学校2022级学生综合素质训练汇报表演暨表彰大会成功举办</span>
                            <span class="fr">2020-11-20</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span class="txt">河南省工业学校2022级学生综合素质训练汇报表演暨表彰大会成功举办</span>
                            <span class="fr">2020-11-20</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span class="txt">河南省工业学校2022级学生综合素质训练汇报表演暨表彰大会成功举办</span>
                            <span class="fr">2020-11-20</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span class="txt">河南省工业学校2022级学生综合素质训练汇报表演暨表彰大会成功举办</span>
                            <span class="fr">2020-11-20</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span class="txt">河南省工业学校2022级学生综合素质训练汇报表演暨表彰大会成功举办</span>
                            <span class="fr">2020-11-20</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span class="txt">河南省工业学校2022级学生综合素质训练汇报表演暨表彰大会成功举办</span>
                            <span class="fr">2020-11-20</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span class="txt">河南省工业学校2022级学生综合素质训练汇报表演暨表彰大会成功举办</span>
                            <span class="fr">2020-11-20</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="other-media">
    <div class="w1200">
        <div class="tabTop">
            <span class="title">其他媒体</span>
        </div>
        <div class="content">
            <div class="box">
                <a href="#" class="slow">
                    <img src="{{.webroot}}images/media_img_wechat.png" class="img" />
                    <div class="opc"></div>
                    <div class="title">
                        <img src="{{.webroot}}images/icon_wechat.png" class="icon" />
                        <span>公众号：我校组织2023年春季教职工健步走活动</span>
                    </div>
                </a>
                <a href="#" class="slow">
                    <img src="{{.webroot}}images/media_img_weibo.png" class="img" />
                    <div class="opc"></div>
                    <div class="title">
                        <img src="{{.webroot}}images/icon_weibo.png" class="icon" />
                        <span>微博：新”里有你 不惧风雨——我校顺利完成2023校团委会、学生会招新工作有你 不惧风雨——我校顺利完成2023校团委会、学生会招新工作有你 不惧风雨——我校顺利完成2023校团委会、学生会招新工作</span>
                    </div>
                </a>
                <a href="#" class="slow">
                    <img src="{{.webroot}}images/media_img_meipian.png" class="img" />
                    <div class="opc"></div>
                    <div class="title">
                        <img src="{{.webroot}}images/icon_meipian.png" class="icon" />
                        <span>美篇：我校组织2023年春季教职工健步走活动年春季教职工健步走活动年春季教职工健步走活动年春季教职工健步走活动</span>
                    </div>
                </a>
                <a href="#" class="slow">
                    <img src="{{.webroot}}images/media_img_douyin.png" class="img" />
                    <div class="opc"></div>
                    <div class="title">
                        <img src="{{.webroot}}images/icon_douyin.png" class="icon" />
                        <span>抖音：河南省工业学校2022级学生综合素质训练汇报表演暨表彰大会</span>
                    </div>
                </a>
            </div>
            <div class="square"></div>
            <div class="item-box">
                <a class="item" href="#">
                    <p><img src="{{.webroot}}images/icon_wechat.png" alt="" class="icon" />公众号</p>
                    <div class="hover">
                        <img src="{{.webroot}}images/erweima_gzh.png" />
                    </div>
                </a>
                <a class="item" href="#">
                    <p><img src="{{.webroot}}images/icon_weibo.png" alt="" class="icon" />微博</p>
                    <div class="hover">
                        <img src="{{.webroot}}images/erweima_weibo.png" />
                    </div>
                </a>
                <a class="item" href="#">
                    <p><img src="{{.webroot}}images/icon_meipian.png" alt="" class="icon" />美篇</p>
                </a>
                <a class="item" href="#">
                    <p><img src="{{.webroot}}images/icon_douyin.png" alt="" class="icon" />抖音</p>
                    <div class="hover">
                        <img src="{{.webroot}}images/erweima_douyin.png" />
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<script src="{{.webroot}}js/slick.js"></script>
<script type="text/javascript">
    $('.single-item').slick({
        dots: true,
        speed: 300,
        autoplay: true,
        slidesToShow: 1,
        slidesToScroll: 1,
        arrow: true
    });

    $(function () {
        TuPianXinWen();
        TongZhiGongGao();
    })

    // 图片新闻
    function TuPianXinWen() {
        $.ajax({
            url: "/api/article/find?call_index=xyxw&limit=6&is_slide=1",
            dataType: "json",
            type: "get",
            beforeSend: function () {
                $("#divTpxw").html("");
                $("#divTpxw").busyLoad("show", { spinner: "circle-line" });
            },
            success: function (res) {
                if (res.code == 0) {
                    var len = res.data.length;
                    for (var i = 0; i < len; i++) {
                        var item = res.data[i];
                        var url = item.link_url == "" ? "/article/" + item.article_id : item.link_url;
                        var html = '<div class="carousel-item"><img src="' + item.img_url + '" /><div class="carousel-opc"></div><a target="_blank" href="' + url + '"><span class="title">' + item.title + '</span></a></div>';
                        $("#divTpxw").append(html);
                    }
                    if (len > 0) {
                        $('.single-item2').slick({
                            infinite: true, //循环功能
                            slidesToShow: 1, //可见数
                            slidesToScroll: 1, //滚动个数
                            autoplay: true, //自动播放
                            arrows: true, //左右箭头
                            draggable: true, //拖拽功能
                            dots: true, //指示点
                            fade: false,// 开启渐隐切换模式
                            autoplaySpeed: 5000, //自动播放速度
                            speed: 1000, //切换动画速度
                        });
                    }
                }
            },
            error: function () {
                alert('failed!');
            },
            complete: function () {
                $("#divTpxw").busyLoad("hide", { animate: "fade" });
            }
        });
    }

    // 通知公告
    function TongZhiGongGao() {
        $.ajax({
            url: "/api/article/find?call_index=tzgg&limit=7",
            dataType: "json",
            type: "get",
            beforeSend: function () {
                $("#artTzgg").html("");
                $("#artTzgg").busyLoad("show", { spinner: "circle-line" });
            },
            success: function (res) {
                // console.log(res);
                if (res.code == 0) {
                    var len = res.data.length;
                    for (var i = 0; i < len; i++) {
                        var item = res.data[i];
                        var url = item.link_url == "" ? "/article/" + item.article_id : item.link_url;
                        var html = '<li><a target="_blank" href="' + url + '"><span class="txt">' + item.title + '</span><span class="fr">' + moment(item.publish_time).format('YYYY-MM-DD') + '</span></a></li>';
                        $("#artTzgg").append(html);
                    }
                }
            },
            error: function () {
                alert('failed!');
            },
            complete: function () {
                $("#artTzgg").busyLoad("hide", { animate: "fade" });
            }
        });
    }
</script>