<!DOCTYPE html>
<html lang="en">

{{TemplateTheme $.siteTheme "_header.html" .}}

<body>
<div class="other-banner">
    <img src="{{.siteStatic}}images/other_banner1.png" class="img">
</div>
<!-- main -->
<div class="body bg-white">

    <div class="container show-margin" style="position: relative;">
        <div class="listCon clearfix">
            <div class="m-aside">
                <div class="top">{{.article.ChannelTitle}}</div>
                <ul class="data-list" id="categoryList">
                </ul>
            </div>
            <div class="right">
                <div class="subnav">
                    <img src="{{.siteStatic}}images/position.png" alt="" class="position">
                    <span>位置：</span>
                    <a href="/">首页</a>
                    <span class="division">&gt;</span>
                    <a href='{{UrlForCategory .article.CategoryCallIndex}}'>{{.article.ChannelTitle}}</a>
                    <span class="division">&gt;</span>
                    <a href="javascript:void(0)" class="last">详情</a>
                </div>
                <div class="subcon">
                    <div class="subcon-detail">
                        <p class="title">{{.article.Title}}</p>
                        <div class="content">
                            <div id="cke_pastebin">{{str2html .article.Content}}</div>
                        </div>

                        {{if gt (len .attach) 0}}
                        <div class="fj-box">
                            <span class="label">附件：</span>
                            <div>
                                {{range $index, $item := .attach}}
                                <p>
                                    <img src="{{$.siteStatic}}images/icon-fujian.png" />
                                    <a target="_blank" href="{{$item.OriginalPath}}">{{$item.Title}}</a>
                                </p>
                                {{end}}
                            </div>
                        </div>
                        {{end}}
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
<!-- footer -->
{{TemplateTheme $.siteTheme "_footer.html" .}}

<script type="text/javascript">
    var siteStatic = "{{.siteStatic}}";
    var channelName = "{{.article.ChannelName}}";
    var categoryName = "{{.article.CategoryCallIndex}}";
    var debug = "{{.debug}}";

    $(function () {
        GetCategoryList();
    })

    // 获取栏目列表
    function GetCategoryList() {
        var cate = new Category();
        cate.get(
            {channel_name: channelName,},
            function (){

            }, function (res){
                if (res.code == CodeSuccess) {
                    var len = res.data.length;
                    if(len > 0){
                        for (var i = 0; i < len; i++) {
                            var item = res.data[i];
                            console.log(item)
                            // var url = "/"+ item.channel_name +"/"+item.call_index;
                            var url = item.link_url;
                            console.log(url)
                            var html;
                            if (item.call_index === categoryName){
                                html = '<li class="active"><a href="' + url + '">'+item.title+'</a></li>';
                            }else{
                                html = '<li><a href="' + url + '">'+item.title+'</a></li>';
                            }
                            $("#categoryList").append(html);
                        }
                    }
                }
            },function (){

            }
        )
    }
</script>
</body>
</html>