<!DOCTYPE html>
<html>

{{TemplateTheme $.siteTheme "_header.html" .}}

	<body>
		<div class="header">
			<div class="container clearfix">
				<div class="logo">
					<img src="{{.site.Logo2}}" alt="">
					<span class="title">就业信息服务平台</span>
				</div>
				<!--登录前-->
				<!--<div class="user-box">
					<a href="stu-1.1-个人中心-个人信息.html" class="one">求职者登录/注册</a>
					<a href="javascript:void(0)" class="two">用人单位登录/注册</a>
				</div>-->
				<!--登录后-->
				<div class="theme-box">
					<div class="theme-item skin_0" data-theme="skin_0"></div>
					<div class="theme-item skin_1" data-theme="skin_1"></div>
					<div class="theme-item skin_2" data-theme="skin_2"></div>
				</div>
				<div class="user-box">
					<a href="javascript:void(0)" class="user">王博与
						<img src="{{.siteStatic}}images/default_stu.png" alt="" />
					</a>
					<div class="sel-list">
						<div class="m-arr"></div>
						<a href="comp-6.3-个人中心-企业主页.html">企业主页</a>
						<a href="comp-6.2-个人中心-账号设置.html">账号</a>
						<a href="javascript:void(0)">退出</a>
					</div>
				</div>
				
			</div>
		</div>
		<div class="nav-box">
			<div class="container">
				<ul class="clearfix head-nav">
					<li class="active">
						<a href="/">首&nbsp;&nbsp;&nbsp;&nbsp;页</a>
					</li>
					<li>
						<a href="#">学生</a>
						<div class="subNav">
							<a href='{{UrlForCategory "subsite_xs_xmtz"}}'>项目通知</a>
							<a href='{{UrlForCategory "subsite_xs_zxyjxm"}}'>专项研究项目</a>
						</div>
					</li>
					<li>
						<a href="#">就业单位</a>
					</li>
					<li>
						<a href="">创业天地 </a>
						<div class="subNav">
							<a href='{{UrlForCategory "subsite_jyfw_zcwj"}}'>政策文件</a>
							<a href='{{UrlForCategory "subsite_jyfw_jyzd"}}'>就业指导</a>
							<a href='{{UrlForCategory "subsite_jyfw_zygh"}}'>职业规划</a>
							<a href='{{UrlForCategory "subsite_jyfw_cyfw"}}'>创业服务</a>
						</div>
					</li>
					<li>
						<a href='{{UrlForCategory "subsite_xzzx_cyxz"}}'>下载中心</a>
					</li>
					<li>
						<a href="">关于我们</a>
						<div class="subNav">
							<a href="javascript:void(0)">企业白名单</a>
							<a href="javascript:void(0)">产品白名单</a>
						</div>
					</li>
					
				</ul>
			</div>
		</div>
		<div class="index-list">
			<div class="lunbo-box">
				<div class="layui-carousel" id="swiper">
					<div carousel-item="" id="topSlideList">
					</div>
				</div>
			</div>
		</div>
		<div class="body">
			<div class="container">
				<div class="index-list">
					<div class="login-enter">
						<div class="box bg-stu">
							<a href="#">
								<div class="fl">
									<span class="icon">
									</span>
									
									<span class="name">学生&nbsp;&nbsp;STUDENT</span>
								</div>
								<div>
									<span class="s1">登录</span>
									<span class="line">|</span>
									<span class="s1">注册</span>
								</div>
							</a>
						</div>
						<div class="box bg-yrdw">
							<a href="#">
								<div class="fl">
									<span class="icon">
										<img src="{{.siteStatic}}images/svg/icon_login_yrdw.svg" class="img" />
									</span>
									<span class="name">用人单位&nbsp;&nbsp;EMPLOYER</span>
								</div>
								<div>
									<span class="s1">登录</span>
									<span class="line">|</span>
									<span class="s1">注册</span>
								</div>
							</a>
						</div>
						<div class="box bg-teacher">
							<a href="#">
								<div class="fl">
									<span class="icon">
										<img src="{{.siteStatic}}images/svg/icon_login_school.svg" class="img" />
									</span>
									<span class="name">学校  &nbsp;&nbsp;SCHOOL</span>
								</div>
								<div>
									<span class="s1">登录</span>
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="index-list">
					<div class="lunbo-list">
						<div class="fl">
							<div class="layui-carousel" id="swiper2">
								<div carousel-item="" id="carouselList">
								</div>
							</div>
						</div>
						<div class="fr">
							<div class="news-list tab-box">
								<div class="tab-head">
									<ul class="clearfix" id="xwggList">
									</ul>
									<a id="xwggMore" href="" class="more">更多>></a>
								</div>
								<div class="tab-content" id="xwggContent">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="index-list">
					<div class="tab-box position-box">
						<div class="tab-head tab-head2">
							<ul class="clearfix">
								<li class="active">招聘信息</li>
								<li>宣讲会</li>
								<li>线上招聘会</li>
								<li>线下招聘会</li>
								<li>推荐单位</li>
								<li>推荐职位</li>
							</ul>
							<a href="#" class="more">更多>></a>
						</div>
						<div class="tab-content tab-content2">
							<div class="inner-div list job-list active">
								<ul class="clearfix">
									<li class="col-4">
										<a href="#">
											<div class="top">
												<span class="title" title="计算机教师（电商、PR、插画、组装）">计算机教师（电商、PR、插画、组装）</span>
												<span class="price">3K-13K</span>
											</div>
											<div class="middle">
												<span class="address">广东省深圳市</span>|
												<span class="xueli">硕士及以上</span>
											</div>
										</a>
										<a href="javascript:void(0)" class="bot">
											<img src="{{.siteStatic}}images/icon_company_default.png" alt="" class="logo" />
											<div class="fr">
												<p class="name">河南省京成现代叉车销售有限公司</p>
												<p>贸易/进出口|民营/股份制用人单位</p>
											</div>

										</a>
									</li>
									<li class="col-4">
										<a href="#">
											<div class="top">
												<span class="title" title="计算机教师（电商、PR、插画、组装）">计算机教师（电商、PR、插画、组装）</span>
												<span class="price">3K-13K</span>
											</div>
											<div class="middle">
												<span class="xueli">本科</span>|
												<span class="address">河南郑州</span>
											</div>
										</a>
										<a href="javascript:void(0)" class="bot">
											<img src="{{.siteStatic}}images/dw-logo-img1.jpg" alt="" class="logo" />
											<div class="fr">
												<p class="name">河南省京成现代叉车销售有限公司</p>
												<p>贸易/进出口|民营/股份制用人单位</p>
											</div>

										</a>
									</li>
									<li class="col-4">
										<a href="#">
											<div class="top">
												<span class="title" title="计算机教师（电商、PR、插画、组装）">计算机教师（电商、PR、插画、组装）</span>
												<span class="price">3K-13K</span>
											</div>
											<div class="middle">
												<span class="address">广东省深圳市</span>|
												<span class="xueli">硕士及以上</span>
											</div>
										</a>
										<a href="javascript:void(0)" class="bot">
											<img src="{{.siteStatic}}images/icon_company_default.png" alt="" class="logo" />
											<div class="fr">
												<p class="name">河南省京成现代叉车销售有限公司</p>
												<p>贸易/进出口|民营/股份制用人单位</p>
											</div>

										</a>
									</li>
									<li class="col-4">
										<a href="#">
											<div class="top">
												<span class="title" title="计算机教师（电商、PR、插画、组装）">计算机教师（电商、PR、插画、组装）</span>
												<span class="price">3K-13K</span>
											</div>
											<div class="middle">
												<span class="xueli">本科</span>|
												<span class="address">河南郑州</span>
											</div>
										</a>
										<a href="javascript:void(0)" class="bot">
											<img src="{{.siteStatic}}images/dw-logo-img1.jpg" alt="" class="logo" />
											<div class="fr">
												<p class="name">河南省京成现代叉车销售有限公司</p>
												<p>贸易/进出口|民营/股份制用人单位</p>
											</div>

										</a>
									</li>
									<li class="col-4">
										<a href="#">
											<div class="top">
												<span class="title" title="计算机教师（电商、PR、插画、组装）">计算机教师（电商、PR、插画、组装）</span>
												<span class="price">3K-13K</span>
											</div>
											<div class="middle">
												<span class="address">广东省深圳市</span>|
												<span class="xueli">硕士及以上</span>
											</div>
										</a>
										<a href="javascript:void(0)" class="bot">
											<img src="{{.siteStatic}}images/icon_company_default.png" alt="" class="logo" />
											<div class="fr">
												<p class="name">河南省京成现代叉车销售有限公司</p>
												<p>贸易/进出口|民营/股份制用人单位</p>
											</div>

										</a>
									</li>
									<li class="col-4">
										<a href="#">
											<div class="top">
												<span class="title" title="计算机教师（电商、PR、插画、组装）">计算机教师（电商、PR、插画、组装）</span>
												<span class="price">3K-13K</span>
											</div>
											<div class="middle">
												<span class="xueli">本科</span>|
												<span class="address">河南郑州</span>
											</div>
										</a>
										<a href="javascript:void(0)" class="bot">
											<img src="{{.siteStatic}}images/dw-logo-img1.jpg" alt="" class="logo" />
											<div class="fr">
												<p class="name">河南省京成现代叉车销售有限公司</p>
												<p>贸易/进出口|民营/股份制用人单位</p>
											</div>

										</a>
									</li>

								</ul>
							</div>
							<div class="inner-div list zphList ">
								<ul class="clearfix">
									<li class="col-4">
										<a href="3.2-招聘会详情.html">
											<img src="{{.siteStatic}}images/zph_img1.jpg" alt="" class="zph-img">
											<div class="detail">
												<div class="title">闽北高校2021届毕业生网络视频招聘会</div>
												<p class="type c-light">视频招聘会</p>
												<p class="date c-light">2021-04-13 08:00</p>
											</div>
										</a>
									</li>
									<li class="col-4">
										<a href="3.2-招聘会详情.html">
											<img src="{{.siteStatic}}images/zph_img2.jpg" alt="" class="zph-img">
											<div class="detail">
												<div class="title">福建师范大学协和学院2021届毕业生春季线下双选会（校友企业专场）</div>
												<p class="type c-light">视频招聘会</p>
												<p class="date c-light">2021-04-13 08:00</p>
											</div>

										</a>
									</li>
									<li class="col-4">
										<a href="3.2-招聘会详情.html">
											<img src="{{.siteStatic}}images/zph_img3.jpg" alt="" class="zph-img">
											<div class="detail">
												<div class="title">闽北高校2021届毕业生网络视频招聘会</div>
												<p class="type c-light">视频招聘会</p>
												<p class="date c-light">2021-04-13 08:00</p>
											</div>
										</a>
									</li>

								</ul>
							</div>
							<div class="inner-div list zphList ">
								<ul class="clearfix">
									<li class="col-4">
										<a href="3.2-招聘会详情.html">
											<img src="{{.siteStatic}}images/zph_img1.jpg" alt="" class="zph-img">
											<div class="detail">
												<div class="title">2.闽北高校2021届毕业生网络视频招聘会</div>
												<p class="type c-light">视频招聘会</p>
												<p class="date c-light">2021-04-13 08:00</p>
											</div>
										</a>
									</li>
									<li class="col-4">
										<a href="3.2-招聘会详情.html">
											<img src="{{.siteStatic}}images/zph_img2.jpg" alt="" class="zph-img">
											<div class="detail">
												<div class="title">福建师范大学协和学院2021届毕业生春季线下双选会（校友企业专场）</div>
												<p class="type c-light">视频招聘会</p>
												<p class="date c-light">2021-04-13 08:00</p>
											</div>

										</a>
									</li>
									<li class="col-4">
										<a href="3.2-招聘会详情.html">
											<img src="{{.siteStatic}}images/zph_img3.jpg" alt="" class="zph-img">
											<div class="detail">
												<div class="title">闽北高校2021届毕业生网络视频招聘会</div>
												<p class="type c-light">视频招聘会</p>
												<p class="date c-light">2021-04-13 08:00</p>
											</div>
										</a>
									</li>

								</ul>
							</div>
							<div class="inner-div list zphList ">
								<ul class="clearfix">
									<li class="col-4">
										<a href="3.2-招聘会详情.html">
											<img src="{{.siteStatic}}images/zph_img1.jpg" alt="" class="zph-img">
											<div class="detail">
												<div class="title">3.闽北高校2021届毕业生网络视频招聘会</div>
												<p class="type c-light">视频招聘会</p>
												<p class="date c-light">2021-04-13 08:00</p>
											</div>
										</a>
									</li>
									<li class="col-4">
										<a href="3.2-招聘会详情.html">
											<img src="{{.siteStatic}}images/zph_img2.jpg" alt="" class="zph-img">
											<div class="detail">
												<div class="title">福建师范大学协和学院2021届毕业生春季线下双选会（校友企业专场）</div>
												<p class="type c-light">视频招聘会</p>
												<p class="date c-light">2021-04-13 08:00</p>
											</div>

										</a>
									</li>
									<li class="col-4">
										<a href="3.2-招聘会详情.html">
											<img src="{{.siteStatic}}images/zph_img3.jpg" alt="" class="zph-img">
											<div class="detail">
												<div class="title">闽北高校2021届毕业生网络视频招聘会</div>
												<p class="type c-light">视频招聘会</p>
												<p class="date c-light">2021-04-13 08:00</p>
											</div>
										</a>
									</li>

								</ul>
							</div>
							<div class="inner-div list hot-company">
								<ul class="clearfix">
									<li class="col-4">
										<div class="company-div">
											<a href="#">
												<div class="top">
													<img src="{{.siteStatic}}images/icon_company_default.png" alt="" class="img">
													<p class="name">河南智盛通讯器材有限公司</p>
												</div>
											</a>
											<div class="bot">招
												<span class="num">1296</span>人
											</div>
										</div>
										<div class="hover">
											<a href="">机械研发工程师</a>
											<a href="">机械设计师</a>
											<a href="">性能测试工程师</a>
											<a href="#" class="more">共招65人</a>
										</div>
									</li>
									<li class="col-4">
										<div class="company-div">
											<a href="#">
												<div class="top">
													<img src="{{.siteStatic}}images/icon_company_default.png" alt="" class="img">
													<p class="name">河南智盛通讯器材有限公司</p>
												</div>
											</a>
											<div class="bot">招
												<span class="num">1296</span>人
											</div>
										</div>
										<div class="hover">
											<a href="">机械研发工程师</a>
											<a href="">机械设计师</a>
											<a href="">性能测试工程师</a>
											<a href="#" class="more">共招65人</a>
										</div>
									</li>
									<li class="col-4">
										<div class="company-div">
											<a href="#">
												<div class="top">
													<img src="{{.siteStatic}}images/icon_company_default.png" alt="" class="img">
													<p class="name">河南智盛通讯器材有限公司</p>
												</div>
											</a>
											<div class="bot">招
												<span class="num">1296</span>人
											</div>
										</div>
										<div class="hover">
											<a href="">机械研发工程师</a>
											<a href="">机械设计师</a>
											<a href="">性能测试工程师</a>
											<a href="#" class="more">共招65人</a>
										</div>
									</li>
									<li class="col-4">
										<div class="company-div">
											<a href="#">
												<div class="top">
													<img src="{{.siteStatic}}images/icon_company_default.png" alt="" class="img">
													<p class="name">河南智盛通讯器材有限公司</p>
												</div>
											</a>
											<div class="bot">招
												<span class="num">1296</span>人
											</div>
										</div>
										<div class="hover">
											<a href="">机械研发工程师</a>
											<a href="">机械设计师</a>
											<a href="">性能测试工程师</a>
											<a href="#" class="more">共招65人</a>
										</div>
									</li>
									<li class="col-4">
										<div class="company-div">
											<a href="#">
												<div class="top">
													<img src="{{.siteStatic}}images/icon_company_default.png" alt="" class="img">
													<p class="name">河南智盛通讯器材有限公司</p>
												</div>
											</a>
											<div class="bot">招
												<span class="num">1296</span>人
											</div>
										</div>
										<div class="hover">
											<a href="">机械研发工程师</a>
											<a href="">机械设计师</a>
											<a href="">性能测试工程师</a>
											<a href="#" class="more">共招65人</a>
										</div>
									</li>
									<li class="col-4">
										<div class="company-div">
											<a href="#">
												<div class="top">
													<img src="{{.siteStatic}}images/icon_company_default.png" alt="" class="img">
													<p class="name">河南智盛通讯器材有限公司</p>
												</div>
											</a>
											<div class="bot">招
												<span class="num">1296</span>人
											</div>
										</div>
										<div class="hover">
											<a href="">机械研发工程师</a>
											<a href="">机械设计师</a>
											<a href="">性能测试工程师</a>
											<a href="#" class="more">共招65人</a>
										</div>
									</li>
								</ul>
							</div>

							<div class="inner-div list job-list">
								<ul class="clearfix">
									<li class="col-4">
										<a href="#">
											<div class="top">
												<span class="title" title="计算机教师（电商、PR、插画、组装）">4.计算机教师（电商、PR、插画、组装）</span>
												<span class="price">3K-13K</span>
											</div>
											<div class="middle">
												<span class="address">广东省深圳市</span>|
												<span class="xueli">硕士及以上</span>
											</div>
										</a>
										<a href="javascript:void(0)" class="bot">
											<img src="{{.siteStatic}}images/icon_company_default.png" alt="" class="logo" />
											<div class="fr">
												<p class="name">河南省京成现代叉车销售有限公司</p>
												<p>贸易/进出口|民营/股份制用人单位</p>
											</div>

										</a>
									</li>
									<li class="col-4">
										<a href="#">
											<div class="top">
												<span class="title" title="计算机教师（电商、PR、插画、组装）">4.计算机教师（电商、PR、插画、组装）</span>
												<span class="price">3K-13K</span>
											</div>
											<div class="middle">
												<span class="address">广东省深圳市</span>|
												<span class="xueli">硕士及以上</span>
											</div>
										</a>
										<a href="javascript:void(0)" class="bot">
											<img src="{{.siteStatic}}images/icon_company_default.png" alt="" class="logo" />
											<div class="fr">
												<p class="name">河南省京成现代叉车销售有限公司</p>
												<p>贸易/进出口|民营/股份制用人单位</p>
											</div>

										</a>
									</li>
									<li class="col-4">
										<a href="#">
											<div class="top">
												<span class="title" title="计算机教师（电商、PR、插画、组装）">4.计算机教师（电商、PR、插画、组装）</span>
												<span class="price">3K-13K</span>
											</div>
											<div class="middle">
												<span class="address">广东省深圳市</span>|
												<span class="xueli">硕士及以上</span>
											</div>
										</a>
										<a href="javascript:void(0)" class="bot">
											<img src="{{.siteStatic}}images/icon_company_default.png" alt="" class="logo" />
											<div class="fr">
												<p class="name">河南省京成现代叉车销售有限公司</p>
												<p>贸易/进出口|民营/股份制用人单位</p>
											</div>

										</a>
									</li>
									<li class="col-4">
										<a href="#">
											<div class="top">
												<span class="title" title="计算机教师（电商、PR、插画、组装）">4.计算机教师（电商、PR、插画、组装）</span>
												<span class="price">3K-13K</span>
											</div>
											<div class="middle">
												<span class="address">广东省深圳市</span>|
												<span class="xueli">硕士及以上</span>
											</div>
										</a>
										<a href="javascript:void(0)" class="bot">
											<img src="{{.siteStatic}}images/icon_company_default.png" alt="" class="logo" />
											<div class="fr">
												<p class="name">河南省京成现代叉车销售有限公司</p>
												<p>贸易/进出口|民营/股份制用人单位</p>
											</div>

										</a>
									</li>
									<li class="col-4">
										<a href="#">
											<div class="top">
												<span class="title" title="计算机教师（电商、PR、插画、组装）">4.计算机教师（电商、PR、插画、组装）</span>
												<span class="price">3K-13K</span>
											</div>
											<div class="middle">
												<span class="address">广东省深圳市</span>|
												<span class="xueli">硕士及以上</span>
											</div>
										</a>
										<a href="javascript:void(0)" class="bot">
											<img src="{{.siteStatic}}images/icon_company_default.png" alt="" class="logo" />
											<div class="fr">
												<p class="name">河南省京成现代叉车销售有限公司</p>
												<p>贸易/进出口|民营/股份制用人单位</p>
											</div>

										</a>
									</li>
									<li class="col-4">
										<a href="#">
											<div class="top">
												<span class="title" title="计算机教师（电商、PR、插画、组装）">4.计算机教师（电商、PR、插画、组装）</span>
												<span class="price">3K-13K</span>
											</div>
											<div class="middle">
												<span class="address">广东省深圳市</span>|
												<span class="xueli">硕士及以上</span>
											</div>
										</a>
										<a href="javascript:void(0)" class="bot">
											<img src="{{.siteStatic}}images/icon_company_default.png" alt="" class="logo" />
											<div class="fr">
												<p class="name">河南省京成现代叉车销售有限公司</p>
												<p>贸易/进出口|民营/股份制用人单位</p>
											</div>

										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="calendar-box">
						<div class="layui-inline" id="calendar"></div>
					</div>
				</div>
				<div class="index-list clearfix">
					<div class="news-list tab-box">
						<div class="tab-head">
							<ul class="clearfix" id="jyfwList">
							</ul>
							<a id="jyfwMore" href="" class="more">更多>></a>
						</div>
						<div class="tab-content" id="jyfwContent">
						</div>
					</div>
				</div>
				<div class="index-list">
					<div class="tab-box link-box">
						<div class="tab-head">
							<ul class="clearfix">
								<li class="active">友情链接</li>
							</ul>
						</div>
						<div class="tab-content">
							<div class="active box" id="yqljList">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{{TemplateTheme $.siteTheme "_footer.html" .}}

		<script type="text/javascript">
			var siteFlag = "{{.siteTheme}}";
			var ins, ins2;
			var xwggList, jyfwList;

			layui.config({
				base:'{{.siteStatic}}plugins/layui_exts'
			}).extend({
				 laydateNote: '/laydateNote/laydateNote', //如果 mymod.js 是在根目录，也可以不用设定别名
          		artTemplate: '/artTemplate/artTemplate'
			})

			layui.use(['carousel', 'form','laydate','laydateNote'], function() {
				var carousel = layui.carousel,
					laydate = layui.laydate,
					laydateNote = layui.laydateNote,
					form = layui.form;

				// 首页新闻轮播图列表
				HomeLbList();

				HomeXwggList();
				HomeJyfwList();

				// 友情链接
				HomeYqljList();

				function HomeLbList() {
					var art = new Article();
					art.get({
						call_index: "subsite_xwgg_dt",
						limit: 6,
						is_slide: 1
					}, function (){

					}, function (res){
						if (res.code == CodeSuccess) {
							var len = res.data.length;
							if(len > 0){
								for (var i = 0; i < len; i++) {
									var item = res.data[i];
									if(item.is_top){
										var url = UrlForArticle(item.category_call_index, item.article_id, item.link_url);
										var html = '<div class="slick-slide"><a href="'+ url +'"><img src="'+ item.img_url2 +'" alt=""/></a></div>';
										$("#topSlideList").append(html);
									}else{
										var url = UrlForArticle(item.category_call_index, item.article_id, item.link_url);
										var html = '<div class="slick-slide"><a href="'+ url +'"><img src="'+ item.img_url2 +'" alt=""/><div class="carousel-opc"></div><span class="title">'+ item.title +'</span></a></div>';
										$("#carouselList").append(html);
									}
								}
							}

							//改变下时间间隔、动画类型、高度
							ins = carousel.render({
								elem: '#swiper',
								interval: 3000,
								width: '100%',
							});

							ins2 = carousel.render({
								elem: '#swiper2',
								interval: 3000,
								width: '100%',
							});
						}
					}, function (){

					});
				}

				function HomeXwggList() {
					var category = new Category()
					category.get({
						channel_name: "subsite_xwgg"
					}, function () {

					}, function (res) {
						if (res.code == CodeSuccess) {
							xwggList = res.data;
							var len = res.data.length;
							if (len > 0) {
								for (var i = 0; i < len; i++) {
									var item = res.data[i];
									var html, content;
									if (i === 0) {
										html = '<li class="active">' + item.title + '</li>';
										content = '<div class="inner-div active">\n<ul class="new-list" id="'+item.call_index+'">\n</ul>\n</div>';
									} else {
										html = '<li>' + item.title + '</li>';
										content = '<div class="inner-div">\n<ul class="new-list" id="'+item.call_index+'">\n</ul>\n</div>';
									}
									$("#xwggList").append(html);
									$("#xwggContent").append(content);
									HomeTabList(item.call_index);
								}
								var url = "/" + siteFlag + "/" + xwggList[0].channel_name + "/" + xwggList[0].call_index;
								$("#xwggMore").attr("href", url);
							}
						}
					}, function () {

					});
				}

				function HomeJyfwList() {
					var category = new Category()
					category.get({
						channel_name: "subsite_jyfw"
					}, function () {

					}, function (res) {
						if (res.code == CodeSuccess) {
							jyfwList = res.data;
							var len = res.data.length;
							if (len > 0) {
								for (var i = 0; i < len; i++) {
									var item = res.data[i];
									var html, content;
									if (i === 0) {
										html = '<li class="active">' + item.title + '</li>';
										content = '<div class="inner-div active">\n<ul class="new-list" id="'+item.call_index+'">\n</ul>\n</div>';
									} else {
										html = '<li>' + item.title + '</li>';
										content = '<div class="inner-div">\n<ul class="new-list" id="'+item.call_index+'">\n</ul>\n</div>';
									}
									$("#jyfwList").append(html);
									$("#jyfwContent").append(content);
									HomeTabList(item.call_index);
								}
								var url = "/" + siteFlag + "/" + jyfwList[0].channel_name + "/" + jyfwList[0].call_index;
								$("#jyfwMore").attr("href", url);
							}
						}
					}, function () {

					});
				}

				function HomeTabList(callIndex) {
					var art = new Article();
					art.get({
						call_index: callIndex,
						limit: 6,
						is_top: 1
					}, function () {

					}, function (res) {
						if (res.code == CodeSuccess) {
							var len = res.data.length;
							if (len > 0) {
								for (var i = 0; i < len; i++) {
									var item = res.data[i];
									var url = UrlForArticle(item.category_call_index, item.article_id, item.link_url);
									var html = '<li><a href="' + url + '">' + item.title + '</a><span class="fr">' + moment(item.publish_time).format('YYYY-MM-DD') + '</span></li>';
									// document.getElementById(id).append(html);
									$("#"+callIndex).append(html);
								}

							}
						}
					}, function () {

					});
				}

				function HomeYqljList(){
					var link = new Link();
					link.get({
						call_index: "subsite_yqlj",
						limit: 4
					}, function (){

					}, function (res){
						if (res.code == CodeSuccess) {
							var len = res.data.length;
							if(len > 0){
								for (var i = 0; i < len; i++) {
									var item = res.data[i];
									var html = '<a href="'+item.link_url+'" target="_blank"><img src="'+ item.img_url2 +'" /></a>';
									$("#yqljList").append(html);
								}
							}
						}
					}, function (){

					});
				}

				laydateNote({
		          elem: '#calendar', //容器id,CLass
		          //  url: 'test2.json', //异步数据接口,本地浏览时可不设置
		          sort: 'up', //日期排序，默认不设置不排序，up 日期升序，down 日期降序
		          fine: '.laydateNotebook', //开启详细模式
		          done: function(data, chooseData, type) {
		            //回调数据，这里发送你的请求ajax
		            console.log(data, chooseData, type)
		          }
		        })
			})

			$(document).on('click', '.tab-box .tab-head ul li', function () {
				var index = $(this).index();
				var innerDiv = $($(this).parents('.tab-box').find('.inner-div')[index]);

				$(this).addClass('active').siblings().removeClass('active');
				innerDiv.addClass('active').siblings().removeClass('active')

				var aId = $(this).parents('.tab-head').find('a').attr("id");
				var url;
				if(aId === "xwggMore"){
					url = xwggList[index].link_url === ""
							? ("/" + siteFlag + "/"+ xwggList[index].channel_name +"/" + xwggList[index].call_index)
							: xwggList[index].link_url;
					$("#xwggMore").attr("href", url);
				}else if(aId === "jyfwMore"){
					url = jyfwList[index].link_url === ""
							? ("/" + siteFlag + "/"+ jyfwList[index].channel_name +"/" + jyfwList[index].call_index)
							: jyfwList[index].link_url;
					$("#jyfwMore").attr("href", url);
				}
			})
			
		</script>
	</body>

</html>