<div class="banner-box">
    <div class="sliderList">
        <div class="slider single-item" id="divBanner">
            <div class="carousel-item">
                <img src="{{.siteStatic}}images/banner_img1.png" />
            </div>
            <div class="carousel-item">
                <img src="{{.siteStatic}}images/banner_img1.png" />
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var ads = new Ads();
        ads.get({ call_index: "home_top", limit: 6 },
            function () {
                $("#divBanner").html("");
                $(".banner-box").busyLoad("show", { spinner: "circle-line" });
            },
            function (res) {
                $(".banner-box").busyLoad("hide", { animate: "fade" });
                if (res.code == CodeSuccess) {
                    var len = res.data.length;
                    for (var i = 0; i < len; i++) {
                        var item = res.data[i];
                        var html = '<div class="carousel-item"><img src="' + item.img_url2 + '" /></div>';
                        $("#divBanner").append(html);
                    }
                    if (len > 0) {
                        $('.single-item').slick({
                            dots: true,
                            speed: 300,
                            autoplay: true,
                            slidesToShow: 1,
                            slidesToScroll: 1,
                            arrow: true
                        });
                    }
                }
            },
            function () {
            });
    });
</script>