<div class="cont-right">
    {{TemplateTheme $.siteTheme "_cat_nav_top.html" .}}
    <div class="list-con">
        <ul class="list-ul">
            <li>
                <a href="#">标题</a>
                <span class="fr">发布日期</span>
            </li>
        </ul>
        <div id="pagination" class="pagination"></div>
    </div>
</div>
<script type="text/template" id="list">
    <li>
        <a href="${url}" onclick="ArticleClick(${article_id})" target="_blank" title="${title}">${title}</a>
        <span class="fr">%{publish_time}</span>
    </li>
</script>
<script id="templateEmpty" type="text/template">
    <div class="error-page">
        <img src="{{.siteStatic}}images/state_img3.png" class="img"/>
        <p class="tip">暂无数据</p>
    </div>
</script>
<script type="text/javascript">

    var loadData = function (page, limit, call_index) {
        $.ajax({
            url: "/api/article/paginate?call_index=" + call_index + "&limit=" + limit + "&page=" + page + "&r=" + Math.random(),
            dataType: "json",
            type: "get",
            beforeSend: function () {
                $(".list-ul").html("");
                $(".list-con").busyLoad("show", { spinner: "circle-line" });
            },
            success: function (res) {
                if (res.code == CodeSuccess) {
                    var len = res.data.length;
                    var tmpl = $("#list").html();
                    for (var i = 0; i < len; i++) {
                        var item = res.data[i];
                        var url = UrlForArticle(item.category_call_index, item.article_id, item.link_url);
                        var html = tmpl.replaceAll("${url}", url).replaceAll("${article_id}", item.article_id).replaceAll("${title}", item.title).
                            replaceAll("%{publish_time}", moment(item.publish_time).format('YYYY-MM-DD'));
                        $(".list-ul").append(html);
                    }
                    if (len == 0) {
                        $(".list-con").html($("#templateEmpty").html());
                    }
                    if (page == 1 && len > 0) {
                        laypage.render({
                            elem: 'pagination'
                            , limit: 20
                            , prev: '上页'
                            , next: '下页'
                            , limits: [10, 20, 30, 40, 50, 100]
                            , count: res.count //数据总数，从服务端得到
                            , jump: function (obj, first) {
                                if (!first) {
                                    loadData(obj.curr, obj.limit, call_index);
                                }
                            }
                        });
                    }
                }
            },
            error: function () {
                alert('failed!');
            },
            complete: function () {
                $(".list-con").busyLoad("hide", { animate: "fade" });
            }
        });
    };

    layui.use(['form', 'element', 'laypage', 'layer'], function () {
        var form = layui.form,
            element = layui.element
        laypage = layui.laypage,
            layer = layui.layer;

        loadData(1, 20, categoryName);

        form.render(); //刷新所有渲染效果，也可以单独熟悉某个效果	
        form.render('select'); //刷新select选择框渲染
    })
</script>