<div class="cont-right">
    {{TemplateTheme $.siteTheme "_cat_nav_top.html" .}}
    <div class="cont-detail">
        <div class="detail-box">
        </div>
    </div>
</div>
<script type="text/javascript">
    var loadData = function () {
        var art = new Article();
        art.article({
            call_index: categoryName,
            r: Math.random()
        }, function () {
            $(".detail-box").html("");
            $(".cont-detail").busyLoad("show", { spinner: "circle-line" });
        }, function (res) {
            if (res.code == CodeSuccess) {
                $(".detail-box").html(res.data.content);
            }
        }, function () {
            $(".cont-detail").busyLoad("hide", { animate: "fade" });
        })
    };

    layui.use(['form', 'element', 'laypage', 'layer'], function () {
        var form = layui.form,
            element = layui.element,
            laypage = layui.laypage,
            layer = layui.layer;

        loadData();
        ArticleClick(0, categoryName);

        form.render(); //刷新所有渲染效果，也可以单独熟悉某个效果	
        form.render('select'); //刷新select选择框渲染
    })
</script>