<div class="cont-right">
    {{TemplateTheme $.siteTheme "_cat_nav_top.html" .}}
    <div class="cont-detail" id="divImg">
        <div class="sliderList">
            <div class="slider single-item2" id="lunbo">
                {{range $index,$item := .album}}
                <div class="carousel-item">
                    <img data-original="{{$item.OriginalPath}}" title="{{$item.Title}}" src="{{$item.OriginalPath}}" />
                </div>
                {{end}}
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        var viewer = new Viewer(document.getElementById('divImg'), {
            url: 'data-original'
        });

        $('.single-item2').slick({
            dots: true,
            speed: 300,
            autoplay: true,
            slidesToShow: 1,
            slidesToScroll: 1,
            arrow: true
        });
    })
</script>