<div class="breadcrumb">
    <img src="{{.siteStatic}}images/position.png" alt="" class="position" /> 您所在的位置：
    <a href="/">首页</a>&gt;
    <a href="javascript:void(0)">学校概况</a>&gt;
    <a href="javascript:void(0)" class="active">学校荣誉</a>
</div>
<script>
    $(function () {
        var cat = new Category();
        cat.nav({
            call_index: categoryName,
            r: Math.random()
        }, function () {
            $(".breadcrumb").html("");
        }, function (res) {
            $(".breadcrumb").append('<img src="{{.siteStatic}}images/position.png" alt="" class="position" /> 您所在的位置：');
            $(".breadcrumb").append('<a href="/">首页</a>&nbsp;&gt;');
            if (res.code == CodeSuccess) {
                var len = res.data.length;
                for (var i = 0; i < len; i++) {
                    if (i != len - 1) {
                        $(".breadcrumb").append('&nbsp;<a href="javascript:void(0)">' + res.data[i].title + '</a>&nbsp;&gt;');
                    } else {
                        $(".breadcrumb").append('&nbsp;<a href="javascript:void(0)" class="active">' + res.data[i].title + '</a>');
                    }
                }
            }
        }, function () {

        });
    })
</script>