<div class="cont-right">
    {{TemplateTheme $.siteTheme "_cat_nav_top.html" .}}
    <div class="list-con">
        <ul class="imglist-ul" id="divImg">
            <li>
                <a href="#">
                    <div class="img-box">
                        <img src="{{.siteStatic}}images/school_img1.png" class="img" />
                    </div>
                    <p class="title">从 内容标题 取值</p>
                </a>
            </li>
        </ul>
        <div id="pagination" class="pagination"></div>
    </div>
</div>
<script id="templateLi" type="text/template">
    <li>
        <a href="${url}" onclick="ArticleClick(${article_id})" target="_blank" title="${title}">
            <div class="img-box">
                <img data-original="${img_url1}" src="${img_url1}" class="img" />
            </div>
            <p class="title">${title}</p>
        </a>
    </li>
</script>
<script type="text/javascript" src="/static/plugins/jquery-viewer/viewer.js"></script>
<link rel="stylesheet" href="/static/plugins/jquery-viewer/viewer.css">
<script type="text/javascript" src="/static/plugins/jquery-viewer/jquery-viewer.js"></script>
<script type="text/javascript">

    layui.use(['form', 'element', 'laypage', 'layer'], function () {
        var form = layui.form,
            element = layui.element,
            laypage = layui.laypage,
            layer = layui.layer;

        var loadData = function (page, limit, call_index) {
            $.ajax({
                url: "/api/article/paginate?call_index=" + call_index + "&limit=" + limit + "&page=" + page + "&r=" + Math.random(),
                dataType: "json",
                type: "get",
                beforeSend: function () {
                    if (debug != "debug") {
                        $(".imglist-ul").html("");
                    }
                    $(".list-con").busyLoad("show", { spinner: "circle-line" });
                },
                success: function (res) {
                    if (res.code == CodeSuccess) {
                        if (debug != "debug") {
                            var len = res.data.length;
                            var tmpl = $('#templateLi').html();
                            for (var i = 0; i < len; i++) {
                                var item = res.data[i];
                                var url = item.link_url == "" ? "/article/detail/" + item.article_id : item.link_url;
                                var html = tmpl.replaceAll("${url}", url)
                                    .replaceAll("${article_id}", item.article_id)
                                    .replaceAll("${title}", item.title)
                                    .replaceAll("${img_url1}", item.img_url1);
                                $(".imglist-ul").append(html);
                            }
                            var viewer = new Viewer(document.getElementById('divImg'), {
                                url: 'data-original'
                            });
                            if (page == 1 && len > 0) {
                                laypage.render({
                                    elem: 'pagination'
                                    , limit: 9
                                    , prev: '上页'
                                    , next: '下页'
                                    , limits: [6, 9, 12, 15, 18, 24, 30]
                                    , count: res.count //数据总数，从服务端得到
                                    , jump: function (obj, first) {
                                        //首次不执行
                                        if (!first) {
                                            //do something
                                            loadData(obj.curr, obj.limit, call_index);
                                        }
                                    }
                                });
                            }
                        }
                    }
                },
                error: function () {
                    alert('failed!');
                },
                complete: function () {
                    $(".list-con").busyLoad("hide", { animate: "fade" });
                }
            });
        };

        loadData(1, 9, categoryName)

        form.render(); //刷新所有渲染效果，也可以单独熟悉某个效果	
        form.render('select'); //刷新select选择框渲染
    })
</script>