<link href="/static/plugins/layui-2.5.4/css/layui.css" rel="stylesheet" />
<link href="{{.siteStatic}}css/layui-reset.css" rel="stylesheet" />
<link href="{{.siteStatic}}css/global.css" rel="stylesheet" />
<link href="{{.siteStatic}}css/main.css" rel="stylesheet" />
<script src="/static/plugins/jquery-1.7.2.min.js"></script>
<script src="/static/plugins/layui-2.5.4/layui.js"></script>
<link href="/static/plugins/loading/app.min.css?r={{.time}}" rel="stylesheet" />
<script src="/static/plugins/loading/app.min.js?r={{.time}}"></script>
<script src="/static/plugins/moment/moment.min.js?r={{.time}}"></script>
<script src="/static/const.min.js?r={{.time}}"></script>
<script src="/static/cms.min.js?r={{.time}}"></script>