<div class="header-box">
    <div class="top">
        <div class="w1200">
            <div class="left-box">{{.site.Title}}</div>
            <ul class="right-box">
                <li><a href="javascript:void(0)">在线咨询</a></li>
                <li class="line">|</li>
                <li><a href="/lxwm/bgsdh">联系我们</a></li>
            </ul>
        </div>
    </div>
    <div class="center">
        <div class="w1200">
            <div class="logo">
                <a href="/">
                    <img src="{{.site.Logo1}}" class="logo" />
                </a>
            </div>
            <div class="right-box">
                <div class="search-box">
                    <input type="text" placeholder="请输入搜索内容" class="ipt" value="{{.keyword}}" id="txtKeyword" />
                    <span class="btn-search" onclick="location.href='/article/search/' + $('#txtKeyword').val();">搜索</span>
                </div>
                <span class="line"></span>
                <a href="/plugin/xsbm/index" class="btn">在线报名
                    <img src="{{.siteStatic}}images/icon_online.png" class="icon" />
                </a>
            </div>
        </div>
    </div>
    <div class="m-nav">
        <div class="w1200">
            <ul class="level-one">
                <li><a href="/">首页</a></li>
                {{$menus := SiteMenu $.site.SiteID}}
                {{range $index,$item := $menus}}
                <li>
                    {{$url := eq $item.LinkURL ""}}
                    <a href='{{IIF $url "" $item.LinkURL}}' {{if ne $item.Target "" }}targent='{{$item.Target}}' {{end}}>{{$item.Title}}</a>
                    {{if $item.Children}}
                    <div class="level-two">
                        {{range $item.Children}}
                        <a href="{{.LinkURL}}" {{if ne $item.Target "" }}targent='{{$item.Target}}' {{end}}>{{.Title}}</a>
                        {{end}}
                    </div>
                    {{end}}
                </li>
                {{end}}
            </ul>
        </div>
    </div>
</div>