<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{.title}} - {{.site.Title}}</title>
    <link href="/static/favicon.ico" rel="icon">
    <meta name="Keywords" content="{{.article.SeoKeyword}}" />
    <meta name="description" content="{{.article.SeoDescription}}" />
    {{TemplateTheme $.siteTheme "_header.html" .}}
    <script type="text/javascript" src="/static/plugins/jquery-viewer/viewer.js"></script>
    <link rel="stylesheet" href="/static/plugins/jquery-viewer/viewer.css">
    <script type="text/javascript" src="/static/plugins/jquery-viewer/jquery-viewer.js"></script>
    <script>
        var siteStatic = "{{.siteStatic}}";
    </script>
</head>

<body>
    {{TemplateTheme $.siteTheme "_nav.html" .}}
    <div class="other-banner">
        <img src="{{.siteStatic}}images/other_banner.png" class="img" />
    </div>
    <div class="main">
        <div class="w1200 clearfix">
            <div class="nav-aside">
                <div class="top">学校概况</div>
                <ul id="urlNav">
                    <li class="active"><a href="">学校简介</a></li>
                    <li><a href="">学校荣誉</a></li>
                    <li><a href="">校园风光</a></li>
                </ul>
            </div>
            <div class="cont-right">
                <div class="breadcrumb">
                    <img src="{{.siteStatic}}images/position.png" alt="" class="position" /> 您所在的位置：
                    <a href="/">首页</a>&gt;
                    <a href="javascript:void(0)">学校概况</a>&gt;
                    <a href="javascript:void(0)" class="active">学校简介</a>
                </div>
                <div class="cont-detail">
                    <div class="title">{{.article.Title}}</div>
                    <div class="cont-info">
                        <div>所属分类：<span>{{.article.CategoryTitle}}</span></div>
                        <div>发布时间：<span>{{dateformat .article.PublishTime "2006-01-02"}}</span></div>
                        <div>浏览次数：<span id="countnum">{{if eq .article.Click 0}}1{{else}}{{.article.Click}}{{end}}</span></div>
                    </div>
                    <div class="detail-box">
                        {{str2html .article.Content}}
                    </div>
                    {{if gt (len .album) 0}}
                    <div class="news-list" id="divImg">
                        <ul>
                            {{range $index, $item := .album}}
                            <li>
                                <img data-original="{{$item.OriginalPath}}" title="{{$item.Title}}" src="{{$item.OriginalPath}}" />
                                <p class="title ellip">{{$item.Title}}</p>
                            </li>
                            {{end}}
                        </ul>
                    </div>
                    {{end}}
                    {{if gt (len .attach) 0}}
                    <div class="fj-box">
                        <span class="label">附件：</span>
                        <div>
                            {{range $index, $item := .attach}}
                            <p>
                                <img src="{{$.siteStatic}}images/icon_link.png" />
                                <a target="_blank" href="{{$item.OriginalPath}}">{{$item.Title}}</a>
                            </p>
                            {{end}}
                        </div>
                    </div>
                    {{end}}
                </div>
            </div>
        </div>
    </div>
    {{TemplateTheme $.siteTheme "_footer.html" .}}
    <script type="text/javascript">
        $(function () {
            if (document.getElementById('divImg')) {
                var viewer = new Viewer(document.getElementById('divImg'), {
                    url: 'data-original'
                });
            }

            $.ajax({
                url: "/api/category/nav?call_index={{.article.CategoryCallIndex}}&r=" + Math.random(),
                dataType: "json",
                type: "get",
                beforeSend: function () {
                    $(".breadcrumb").html("");
                },
                success: function (res) {
                    $(".breadcrumb").append('<img src="{{.siteStatic}}images/position.png" alt="" class="position" /> 您所在的位置：');
                    $(".breadcrumb").append('<a href="/">首页</a>&nbsp;&gt;');
                    if (res.code == 0) {
                        var len = res.data.length;
                        for (var i = 0; i < len; i++) {
                            $(".breadcrumb").append('&nbsp;<a href="javascript:void(0)">' + res.data[i].title + '</a>&nbsp;&gt;');
                        }
                    }
                    $(".breadcrumb").append('&nbsp;<a href="javascript:void(0)" class="active">明细</a>');
                },
                error: function () {
                },
                complete: function () {
                }
            });
            $.ajax({
                url: "/api/category/find?channel_name={{.article.ChannelName}}&r=" + Math.random(),
                dataType: "json",
                type: "get",
                beforeSend: function () {
                    $("#channelName").html("");
                    $("#urlNav").html("");
                    $(".nav-aside").busyLoad("show", { spinner: "circle-line" });
                },
                success: function (res) {
                    if (res.code == 0) {
                        var len = res.data.length;
                        for (var i = 0; i < len; i++) {
                            var item = res.data[i];
                            if (i == 0) {
                                $("#channelName").html(item.channel_title);
                            }
                            var url = item.link_url;
                            var title = item.title;
                            var liItem = item.call_index == "{{.article.CategoryCallIndex}}" ? ('<li class="active"><a href="' + url + '">' + title + '</a></li>') : ('<li><a href="' + url + '">' + title + '</a></li>');
                            $("#urlNav").append(liItem);
                        }
                    }
                },
                error: function () {
                    alert('failed!');
                },
                complete: function () {
                    $(".nav-aside").busyLoad("hide", { animate: "fade" });
                }
            });
        });
    </script>
</body>

</html>