<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{.category.SeoTitle}} - {{.site.Title}}</title>
    <link href="/static/favicon.ico" rel="icon">
    <meta name="Keywords" content="{{.category.SeoKeyword}}" />
    <meta name="description" content="{{.category.SeoKeyword}}" />
    {{TemplateTheme $.siteTheme "_header.html" .}}
    <script>
        var siteStatic = "{{.siteStatic}}";
        var channelName = "{{.channelName}}";
        var categoryName = "{{.categoryName}}";
        var debug = "{{.debug}}";
    </script>
</head>

<body>
    {{TemplateTheme $.siteTheme "_nav.html" .}}
    {{TemplateTheme $.siteTheme "_banner.html" .}}
    <div class="main">
        <div class="w1200 clearfix">
            {{TemplateTheme $.siteTheme "_cat_nav_aside.html" .}}
            {{TemplateTheme $.siteTheme "_cat_list.html" .}}
        </div>
    </div>
    {{TemplateTheme $.siteTheme "_footer.html" .}}
</body>

</html>