<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{.category.SeoTitle}} - {{.site.Title}}</title>
    <link href="/static/favicon.ico" rel="icon">
    <meta name="Keywords" content="{{.category.SeoKeyword}}" />
    <meta name="description" content="{{.category.SeoKeyword}}" />
    {{TemplateTheme $.siteTheme "_header.html" .}}
    <script src="/static/www/js/slick.js?r={{.time}}"></script>
    <script type="text/javascript" src="/static/plugins/jquery-viewer/viewer.js"></script>
    <link rel="stylesheet" href="/static/plugins/jquery-viewer/viewer.css">
    <script type="text/javascript" src="/static/plugins/jquery-viewer/jquery-viewer.js"></script>
    <style>
        .single-item2 {
            width: 28.125rem;
            margin: 0 auto;
        }

        .slick-prev {
            left: -80px;
        }

        .slick-next {
            right: -80px;
        }

        .slick-slide img {
            width: 450px;
        }
    </style>
    <script>
        var siteStatic = "{{.siteStatic}}";
        var channelName = "{{.channelName}}";
        var categoryName = "{{.categoryName}}";
        var debug = "{{.debug}}";
    </script>
</head>

<body>
    {{TemplateTheme $.siteTheme "_nav.html" .}}
    <div class="other-banner">
        <img {{if ne .channel.ImgUrl1 "" }} src="{{.channel.ImgUrl1}}" {{end}} class="img" />
    </div>
    <div class="main">
        <div class="w1200 clearfix">
            {{TemplateTheme $.siteTheme "_cat_nav_aside.html" .}}
            {{TemplateTheme $.siteTheme "_cat_alb.html" .}}
        </div>
    </div>
    {{TemplateTheme $.siteTheme "_footer.html" .}}
</body>

</html>