<div class="footer">
    <div class="top">
        <div class="w1200">
            <div class="left">
                <img src="{{.siteStatic}}images/logo.png" alt="" class="logo" />
                <div class="tel-box">
                    <img src="{{.siteStatic}}images/tel.png" class="icon" />招生热线
                </div>
                <div class="txt">
                    0371-63388979<br />
                    0371-63398979<br />
                    17737115578
                </div>
            </div>
            <div class="right">
                <ul class="foot-nav">
                    {{$menus := SiteMenu $.site.SiteID}}
                    {{range $index,$item := $menus}}
                    <li>
                        {{$url := eq $item.LinkURL ""}}
                        <a href='{{IIF $url "" $item.LinkURL}}' class="level-one">{{$item.Title}}</a>
                        {{if $item.Children}}
                        <div class="sub">
                            {{range $item.Children}}
                            <a href="{{.LinkURL}}">{{.Title}}</a>
                            {{end}}
                        </div>
                        {{end}}
                    </li>
                    {{end}}
            </div>
        </div>
    </div>
    <div class="bot">
        <div class="w1200">
            <div class="copy">Copyright © {{.year}} {{.site.Title}} All rights reserved</div>
            <div class="right">
                <img src="{{.siteStatic}}images/footer_ico_shiye.png" />
                <img src="{{.siteStatic}}images/footer_ico_h.png" />
                <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010602011771">{{.site.Crod}}</a>
                <a href="javascript:void(0)">技术支持：{{.site.Company}}</a>
            </div>
        </div>
    </div>
</div>