<div class="header-box">
    <div class="top">
        <div class="w1200">
            <div class="left-box">{{.site.Title}}</div>
        </div>
    </div>
    <div class="center">
        <div class="w1200">
            <div class="logo">
                <a href="/">
                    <img src="{{.site.Logo1}}" class="logo" />
                </a>
            </div>
            <div class="right-box">
                <div class="search-box">
                    <input type="text" placeholder="请输入搜索内容" class="ipt" value="{{.keyword}}" id="txtKeyword" />
                    <span class="btn-search" onclick="location.href='/article/search/' + $('#txtKeyword').val();">搜索</span>
                </div>
                <span class="line"></span>
                <a href="/" class="btn">在线报名
                    <img src="{{.siteStatic}}images/icon_online.png" class="icon" />
                </a>
            </div>
        </div>
    </div>
    <div class="m-nav">
        <div class="w1200">
            <ul class="level-one">
                <li><a href="/">首页</a></li>
                <li>
                    <a href="">学校概况</a>
                    <div class="level-two">
                        <a href="/xxgk/xxjj">学校简介</a>
                        <a href="/xxgk/xxry">学校荣誉</a>
                        <a href="/xxgk/xyfg">校园风光</a>
                    </div>
                </li>
                <li>
                    <a href="">机构设置</a>
                    <div class="level-two">
                        <a href="/jgsz/xzbgs">校长办公室</a>
                        <a href="/jgsz/dzbgs">党政办公室</a>
                        <a href="/jgsz/xwbgs">校务办公室</a>
                        <a href="/jgsz/rsc">人事处</a>
                        <a href="/jgsz/jwc">教务处</a>
                        <a href="/jgsz/xsc">学生处</a>
                        <a href="/jgsz/tw">团委</a>
                        <a href="/jgsz/cwc">财务处</a>
                        <a href="/jgsz/zsjybgs">招生就业办公室</a>
                        <a href="/jgsz/zwc">总务处</a>
                        <a href="/jgsz/daglzx">档案管理中心</a>
                    </div>
                </li>
                <li>
                    <a href="">校园资讯</a>
                    <div class="level-two">
                        <a href="/xyzx/xyxw">校园新闻</a>
                        <a href="/xyzx/tzgg">通知公告</a>
                    </div>
                </li>
                <li>
                    <a href="">教育教学</a>
                    <div class="level-two">
                        <a href="/jyjx/zyjs">专业介绍</a>
                        <a href="/jyjx/tsbx">特色班型</a>
                        <a href="/jyjx/jxhd">教学活动</a>
                        <a href="/jyjx/jsfc">教师风采</a>
                    </div>
                </li>
                <li>
                    <a href="">招生就业</a>
                    <div class="level-two">
                        <a href="/zsjy/zsjz">招生简章</a>
                        <a href="/zsjy/xsbm">线上报名</a>
                        <a href="/zsjy/jyfw">就业服务</a>
                    </div>
                </li>
                <li>
                    <a href="/lxwm/bgsdh">联系我们</a>
                    <!-- <div class="level-two">
                        <a href="/lxwm/bgsdh">办公室电话</a>
                        <a href="/lxwm/xzyx">校长邮箱</a>
                        <a href="/lxwm/dlwz">地理位置</a>
                    </div> -->
                </li>
            </ul>
        </div>
    </div>
</div>