<div class="header">
    <div class="container clearfix">
        <div class="logo">
            <img src="{{.site.Logo2}}" alt="">
            <span class="title">就业信息服务平台</span>
        </div>
        <!--登录前-->
        <!--<div class="user-box">
            <a href="stu-1.1-个人中心-个人信息.html" class="one">求职者登录/注册</a>
            <a href="javascript:void(0)" class="two">用人单位登录/注册</a>
        </div>-->
        <!--登录后-->
        <div class="theme-box">
            <div class="theme-item skin_0" data-theme="skin_0"></div>
            <div class="theme-item skin_1" data-theme="skin_1"></div>
            <div class="theme-item skin_2" data-theme="skin_2"></div>
        </div>
        <div class="user-box">
            <a href="javascript:void(0)" class="user">王博与
                <img src="{{.siteStatic}}images/default_stu.png" alt="" />
            </a>
            <div class="sel-list">
                <div class="m-arr"></div>
                <a href="comp-6.3-个人中心-企业主页.html">企业主页</a>
                <a href="comp-6.2-个人中心-账号设置.html">账号</a>
                <a href="javascript:void(0)">退出</a>
            </div>
        </div>

    </div>
</div>
<div class="nav-box">
    <div class="container">
        <ul class="clearfix head-nav">
            <li class="active">
                <a href="/">首&nbsp;&nbsp;&nbsp;&nbsp;页</a>
            </li>
            {{$menus := SiteMenu $.site.SiteID}}
            {{range $index,$item := $menus}}
            <li>
                {{$url := eq $item.LinkURL ""}}
                <a href='{{IIF $url "" $item.LinkURL}}'  {{if ne $item.Target "" }} target='{{$item.Target}}' {{end}}>{{$item.Title}}</a>
                {{if $item.Children}}
                <div class="subNav">
                    {{range $item.Children}}
                    <a href="{{.LinkURL}}" {{if ne $item.Target "" }}targent='{{$item.Target}}' {{end}}>{{.Title}}</a>
                    {{end}}
                </div>
                {{end}}
            </li>
            {{end}}
        </ul>
    </div>
</div>