<!DOCTYPE html>
<html lang="en">

{{TemplateTheme $.siteTheme "_header.html" .}}
<body>
<div class="other-banner">
    <img src="{{.siteStatic}}images/other_banner1.png" class="img">
</div>
<!-- main -->
<div class="body bg-white">

    <div class="container show-margin" style="position: relative;">
        <div class="listCon clearfix">
            <div class="m-aside">
                <div class="top">{{.channel.Title}}</div>
                <ul class="data-list" id="categoryList">
                </ul>
            </div>
            <div class="right">
                <div class="subnav">
                    <img src="{{.siteStatic}}images/position.png" alt="" class="position">
                    <span>位置：</span>
                    <a href="/">首页</a>
                    <span class="division">&gt;</span>
                    <a href="javascript:void(0)" class="last">{{.channel.Title}}</a>
                </div>
                <div class="subcon">
                    <div class="list">
                        <ul id="articleList">
                        </ul>

                    </div>
                    <div id="pagination" class="pagination"></div>
                </div>
            </div>
        </div>

    </div>
</div>
{{TemplateTheme $.siteTheme "_footer.html" .}}
<script id="templateEmpty" type="text/template">
    <div style="text-align: center; padding-bottom: 10rem; padding-top: 2rem">
        <img src="{{.siteStatic}}images/state_img3.png" class="img"/>
        <p class="tip">暂无数据</p>
    </div>
</script>
<script type="text/javascript">
    var siteStatic = "{{.siteStatic}}";
    var channelName = "{{.channelName}}";
    var categoryName = "{{.categoryName}}";
    var siteFlag = "{{.channel.SiteFlag}}";
    var debug = "{{.debug}}";

    layui.use(['form', 'element', 'laypage', 'layer'], function () {
        var laypage = layui.laypage,
            layer = layui.layer;

        GetCategoryList();
        GetArticleList(1, 10)

        // 获取栏目列表
        function GetCategoryList() {
            var cate = new Category();
            cate.get(
                {channel_name: channelName,},
                function (){

                }, function (res){
                    if (res.code == CodeSuccess) {
                        var len = res.data.length;
                        if(len > 0){
                            for (var i = 0; i < len; i++) {
                                var item = res.data[i];
                                var url = "/" + siteFlag + "/"+ item.channel_name +"/"+item.call_index;
                                var html;
                                if (item.call_index === categoryName){
                                    html = '<li class="active"><a href="' + url + '">'+item.title+'</a></li>';
                                }else{
                                    html = '<li><a href="' + url + '">'+item.title+'</a></li>';
                                }
                                $("#categoryList").append(html);
                            }
                        }
                    }
                },function (){

                }
            )
        }

        // 获取文章列表
        function GetArticleList(page, limit){
            var art = new Article();
            art.paginate({
                limit: limit,
                page: page,
                call_index: categoryName,
            }, function (){

            }, function (res){
                if (res.code == CodeSuccess) {
                    var len = res.data.length;
                    if(len > 0){
                        for (var i = 0; i < len; i++) {
                            var item = res.data[i];
                            var url = UrlForArticle(item.category_call_index, item.article_id, item.link_url);
                            var html = '<li><a href="' + url + '">'+item.title+'</a><span class="fr">' + moment(item.publish_time).format('YYYY-MM-DD') + '</span></li>';
                            $("#articleList").append(html);
                        }
                    }
                    $(".total").html("共" + res.count + "条");
                    if (res.count == 0) {
                        $("#articleList").html($("#templateEmpty").html());
                    }
                    laypage.render({
                        elem: 'pagination'
                        , limit: 10
                        , prev: '上页'
                        , next: '下页'
                        , limits: [10, 20, 30, 40, 50, 100]
                        , count: res.count //数据总数，从服务端得到
                        , jump: function (obj, first) {
                            if (!first) {
                                GetArticleList(obj.curr, obj.limit);
                            }
                        }
                    });
                }
            }, function (){

            });
        }
    })
</script>
</body>
</html>