<!DOCTYPE html>
<html>

{{TemplateTheme $.siteTheme "_header.html" .}}

	<body>
		<div class="header">
			<div class="container clearfix">
				<div class="logo">
					<img src="{{.site.Logo2}}" alt="">
					<span class="title">就业信息服务平台</span>
				</div>
				<!--登录前-->
				<!--<div class="user-box">
					<a href="stu-1.1-个人中心-个人信息.html" class="one">求职者登录/注册</a>
					<a href="javascript:void(0)" class="two">用人单位登录/注册</a>
				</div>-->
				<!--登录后-->
				<div class="theme-box">
					<div class="theme-item skin_0" data-theme="skin_0"></div>
					<div class="theme-item skin_1" data-theme="skin_1"></div>
					<div class="theme-item skin_2" data-theme="skin_2"></div>
				</div>
				<div class="user-box">
					<a href="javascript:void(0)" class="user">王博与
						<img src="{{.siteStatic}}images/default_stu.png" alt="" />
					</a>
					<div class="sel-list">
						<div class="m-arr"></div>
						<a href="comp-6.3-个人中心-企业主页.html">企业主页</a>
						<a href="comp-6.2-个人中心-账号设置.html">账号</a>
						<a href="javascript:void(0)">退出</a>
					</div>
				</div>
				
			</div>
		</div>
		<div class="nav-box">
			<div class="container">
				<ul class="clearfix head-nav">
					<li class="active">
						<a href="/">首&nbsp;&nbsp;&nbsp;&nbsp;页</a>
					</li>
					{{$menus := SiteMenu $.site.SiteID}}
					{{range $index,$item := $menus}}
					<li>
						{{$url := eq $item.LinkURL ""}}
						<a href='{{IIF $url "" $item.LinkURL}}'  {{if ne $item.Target "" }} target='{{$item.Target}}' {{end}}>{{$item.Title}}</a>
						{{if $item.Children}}
						<div class="subNav">
							{{range $item.Children}}
							<a href="{{.LinkURL}}" {{if ne $item.Target "" }}targent='{{$item.Target}}' {{end}}>{{.Title}}</a>
							{{end}}
						</div>
						{{end}}
					</li>
					{{end}}
				</ul>
			</div>
		</div>
		<div class="index-list">
			<div class="lunbo-box">
				<div class="layui-carousel" id="swiper">
					<div carousel-item="" id="topSlideList">
					</div>
				</div>
			</div>
		</div>
		<div class="body">
			<div class="container">
				<div class="index-list">
					<div class="login-enter">
						<div class="box bg-stu">
							<a href="#">
								<div class="fl">
									<span class="icon">
									</span>
									
									<span class="name">学生&nbsp;&nbsp;STUDENT</span>
								</div>
								<div>
									<span class="s1">登录</span>
									<span class="line">|</span>
									<span class="s1">注册</span>
								</div>
							</a>
						</div>
						<div class="box bg-yrdw">
							<a href="#">
								<div class="fl">
									<span class="icon">
										<img src="{{.siteStatic}}images/svg/icon_login_yrdw.svg" class="img" />
									</span>
									<span class="name">用人单位&nbsp;&nbsp;EMPLOYER</span>
								</div>
								<div>
									<span class="s1">登录</span>
									<span class="line">|</span>
									<span class="s1">注册</span>
								</div>
							</a>
						</div>
						<div class="box bg-teacher">
							<a href="#">
								<div class="fl">
									<span class="icon">
										<img src="{{.siteStatic}}images/svg/icon_login_school.svg" class="img" />
									</span>
									<span class="name">学校  &nbsp;&nbsp;SCHOOL</span>
								</div>
								<div>
									<span class="s1">登录</span>
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="index-list">
					<div class="lunbo-list">
						<div class="fl">
							<div class="layui-carousel" id="swiper2">
								<div carousel-item="" id="carouselList">
								</div>
							</div>
						</div>
						<div class="fr">
							<div class="news-list tab-box">
								<div class="tab-head">
									<ul class="clearfix" id="xwggList">
									</ul>
									<a id="xwggMore" href="" class="more">更多>></a>
								</div>
								<div class="tab-content" id="xwggContent">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="index-list">
					<div class="tab-box position-box">
						<div class="tab-head tab-head2">
							<ul class="clearfix">
								<li class="active">招聘信息</li>
								<li>宣讲会</li>
								<li>线上招聘会</li>
								<li>线下招聘会</li>
								<li>推荐单位</li>
								<li>推荐职位</li>
							</ul>
							<a id="jyMore" href="" class="more">更多>></a>
						</div>
						<div class="tab-content tab-content2">
							<div class="inner-div list job-list active">
								<ul class="clearfix" id="zpxxList">
								</ul>
							</div>
							<div class="inner-div list zphList ">
								<ul class="clearfix" id="xjhList">
								</ul>
							</div>
							<div class="inner-div list zphList ">
								<ul class="clearfix" id="xsList">

								</ul>
							</div>
							<div class="inner-div list zphList ">
								<ul class="clearfix" id="xxList">
								</ul>
							</div>
							<div class="inner-div list hot-company">
								<ul class="clearfix" id="tjdwList">
								</ul>
							</div>

							<div class="inner-div list job-list">
								<ul class="clearfix" id="tjzwList">
								</ul>
							</div>
						</div>
					</div>
					<div class="tab-box calendar-box">
						<div class="tab-head tab-head2">
							<ul class="clearfix">
								<li class="active">校招聘日历</li>
							</ul>
						</div>
						<div class="tab-content">
							<div class="active box">
								<div class="layui-inline" id="calendar"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="index-list clearfix">
					<div class="news-list tab-box">
						<div class="tab-head">
							<ul class="clearfix" id="jyfwList">
							</ul>
							<a id="jyfwMore" href="" class="more">更多>></a>
						</div>
						<div class="tab-content" id="jyfwContent">
						</div>
					</div>
				</div>
				<div class="index-list">
					<div class="tab-box link-box">
						<div class="tab-head">
							<ul class="clearfix">
								<li class="active">友情链接</li>
							</ul>
						</div>
						<div class="tab-content">
							<div class="active box" id="yqljList">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{{TemplateTheme $.siteTheme "_footer.html" .}}

		<script type="text/javascript">
			var siteFlag = "{{.siteTheme}}";
			var schoolUrl = "{{.site.Flag}}";
			var ins, ins2;
			var xwggList, jyfwList;

			layui.config({
				base:'{{.siteStatic}}plugins/layui_exts'
			}).extend({
				 laydateNote: '/laydateNote/laydateNote', //如果 mymod.js 是在根目录，也可以不用设定别名
          		artTemplate: '/artTemplate/artTemplate'
			})

			layui.use(['carousel', 'form','laydate','laydateNote'], function() {
				var carousel = layui.carousel,
					laydate = layui.laydate,
					laydateNote = layui.laydateNote,
					form = layui.form;

				// 首页新闻轮播图列表
				HomeLbList();

				HomeXwggList();
				HomeJyfwList();

				// 招聘信息、推荐职位
				HomeZpxxList();
				// 推荐单位
				HomeTjdwList();

				// 宣讲会
				HomeXjhList();
				// 招聘会
				HomeZphList("online");
				HomeZphList("offline");

				// 友情链接
				HomeYqljList();

				function HomeLbList() {
					var art = new Article();
					art.get({
						call_index: "subsite_xwgg_dt",
						limit: 6,
						is_slide: 1
					}, function (){

					}, function (res){
						if (res.code == CodeSuccess) {
							var len = res.data.length;
							if(len > 0){
								for (var i = 0; i < len; i++) {
									var item = res.data[i];
									if(item.is_top){
										var url = UrlForArticle(item.category_call_index, item.article_id, item.link_url);
										var html = '<div class="slick-slide"><a href="'+ url +'"><img src="'+ item.img_url2 +'" alt=""/></a></div>';
										$("#topSlideList").append(html);
									}else{
										var url = UrlForArticle(item.category_call_index, item.article_id, item.link_url);
										var html = '<div class="slick-slide"><a href="'+ url +'"><img src="'+ item.img_url2 +'" alt=""/><div class="carousel-opc"></div><span class="title">'+ item.title +'</span></a></div>';
										$("#carouselList").append(html);
									}
								}
							}

							//改变下时间间隔、动画类型、高度
							ins = carousel.render({
								elem: '#swiper',
								interval: 3000,
								width: '100%',
							});

							ins2 = carousel.render({
								elem: '#swiper2',
								interval: 3000,
								width: '100%',
							});
						}
					}, function (){

					});
				}

				function HomeXwggList() {
					var category = new Category()
					category.get({
						channel_name: "subsite_xwgg"
					}, function () {

					}, function (res) {
						if (res.code == CodeSuccess) {
							xwggList = res.data;
							var len = res.data.length;
							if (len > 0) {
								for (var i = 0; i < len; i++) {
									var item = res.data[i];
									var html, content;
									if (i === 0) {
										html = '<li class="active">' + item.title + '</li>';
										content = '<div class="inner-div active">\n<ul class="new-list" id="'+item.call_index+'">\n</ul>\n</div>';
									} else {
										html = '<li>' + item.title + '</li>';
										content = '<div class="inner-div">\n<ul class="new-list" id="'+item.call_index+'">\n</ul>\n</div>';
									}
									$("#xwggList").append(html);
									$("#xwggContent").append(content);
									HomeTabList(item.call_index);
								}
								var url = "/" + siteFlag + "/" + xwggList[0].channel_name + "/" + xwggList[0].call_index;
								$("#xwggMore").attr("href", url);
							}
						}
					}, function () {

					});
				}

				function HomeJyfwList() {
					var category = new Category()
					category.get({
						channel_name: "subsite_jyfw"
					}, function () {

					}, function (res) {
						if (res.code == CodeSuccess) {
							jyfwList = res.data;
							var len = res.data.length;
							if (len > 0) {
								for (var i = 0; i < len; i++) {
									var item = res.data[i];
									var html, content;
									if (i === 0) {
										html = '<li class="active">' + item.title + '</li>';
										content = '<div class="inner-div active">\n<ul class="new-list" id="'+item.call_index+'">\n</ul>\n</div>';
									} else {
										html = '<li>' + item.title + '</li>';
										content = '<div class="inner-div">\n<ul class="new-list" id="'+item.call_index+'">\n</ul>\n</div>';
									}
									$("#jyfwList").append(html);
									$("#jyfwContent").append(content);
									HomeTabList(item.call_index);
								}
								var url = "/" + siteFlag + "/" + jyfwList[0].channel_name + "/" + jyfwList[0].call_index;
								$("#jyfwMore").attr("href", url);
							}
						}
					}, function () {

					});
				}

				function HomeTabList(callIndex) {
					var art = new Article();
					art.get({
						call_index: callIndex,
						limit: 6,
						is_top: 1
					}, function () {

					}, function (res) {
						if (res.code == CodeSuccess) {
							var len = res.data.length;
							if (len > 0) {
								for (var i = 0; i < len; i++) {
									var item = res.data[i];
									var url = UrlForArticle(item.category_call_index, item.article_id, item.link_url);
									var html = '<li><a href="' + url + '">' + item.title + '</a><span class="fr">' + moment(item.publish_time).format('YYYY-MM-DD') + '</span></li>';
									// document.getElementById(id).append(html);
									$("#"+callIndex).append(html);
								}

							}
						}
					}, function () {

					});
				}

				function HomeYqljList(){
					var link = new Link();
					link.get({
						call_index: "subsite_yqlj",
						limit: 4
					}, function (){

					}, function (res){
						if (res.code == CodeSuccess) {
							var len = res.data.length;
							if(len > 0){
								for (var i = 0; i < len; i++) {
									var item = res.data[i];
									var html = '<a href="'+item.link_url+'" target="_blank"><img src="'+ item.img_url2 +'" /></a>';
									$("#yqljList").append(html);
								}
							}
						}
					}, function (){

					});
				}

				function HomeZpxxList(){
					var job = new Job()
					job.getJobHotList({
						page: 1,
						limit: 6,
						schoolUrl: schoolUrl
					}, function (){

					}, function (res){
						if (res.success) {
							var len = res.data.length;
							if(len > 0){
								for (var i = 0; i < len; i++) {
									var item = res.data[i];
									var html = '<li class="col-4">\n' +
											'\t\t\t\t\t\t\t\t\t\t<a href="/plugin/job/detail?jId='+item.id_job+'">\n' +
											'\t\t\t\t\t\t\t\t\t\t\t<div class="top">\n' +
											'\t\t\t\t\t\t\t\t\t\t\t\t<span class="title" title="'+item.jobName+'">'+item.jobName+'</span>\n' +
											'\t\t\t\t\t\t\t\t\t\t\t\t<span class="price">'+item.payMinx+'-'+item.payMaxx+'</span>\n' +
											'\t\t\t\t\t\t\t\t\t\t\t</div>\n' +
											'\t\t\t\t\t\t\t\t\t\t\t<div class="middle">\n' +
											'\t\t\t\t\t\t\t\t\t\t\t\t<span class="address">'+item.workPlace+'</span>|\n' +
											'\t\t\t\t\t\t\t\t\t\t\t\t<span class="xueli">'+item.degree+'</span>\n' +
											'\t\t\t\t\t\t\t\t\t\t\t</div>\n' +
											'\t\t\t\t\t\t\t\t\t\t</a>\n' +
											'\t\t\t\t\t\t\t\t\t\t<a href="/plugin/company/detail?cId='+item.id_company+'" class="bot">\n' +
											'\t\t\t\t\t\t\t\t\t\t\t<img src="'+item.companyLogo+'" alt="" class="logo" />\n' +
											'\t\t\t\t\t\t\t\t\t\t\t<div class="fr">\n' +
											'\t\t\t\t\t\t\t\t\t\t\t\t<p class="name">'+item.companyName+'</p>\n' +
											'\t\t\t\t\t\t\t\t\t\t\t\t<p>'+item.industry +' | '+ item.companyType+'</p>\n' +
											'\t\t\t\t\t\t\t\t\t\t\t</div>\n' +
											'\t\t\t\t\t\t\t\t\t\t</a></li>';
									$("#zpxxList").append(html);
									$("#tjzwList").append(html);
								}
								$("#jyMore").attr("href", "/plugin/job/list");
							}
						}
					}, function (){

					});
				}

				function HomeTjdwList(){
					var company = new Company();
					company.getCompanyHotList({
						page: 1,
						limit: 6,
						schoolUrl: schoolUrl
					}, function (){

					}, function (res){
						if (res.success) {
							var len = res.data.length;
							if(len > 0){
								for (var i = 0; i < len; i++) {
									var item = res.data[i];
									var itemHtml = "";
									if(item != null && item.jobList != null){
										if(item.jobList.length > 0){
											for (let j = 0; j < item.jobList.length; j++) {
												var str = '<a href="">'+item.jobList[j].jobName+'</a>\n';
												itemHtml+=str;
											}
										}
									}
									var html = '<li class="col-4">\n' +
											'\t\t\t\t\t\t\t\t\t\t<div class="company-div">\n' +
											'\t\t\t\t\t\t\t\t\t\t\t<a href="/plugin/company/detail?cId='+item.id_company+'">\n' +
											'\t\t\t\t\t\t\t\t\t\t\t\t<div class="top">\n' +
											'\t\t\t\t\t\t\t\t\t\t\t\t\t<img src="'+item.companyLogo+'" alt="" class="img">\n' +
											'\t\t\t\t\t\t\t\t\t\t\t\t\t<p class="name">'+item.companyName+'</p>\n' +
											'\t\t\t\t\t\t\t\t\t\t\t\t</div>\n' +
											'\t\t\t\t\t\t\t\t\t\t\t</a>\n' +
											'\t\t\t\t\t\t\t\t\t\t\t<div class="bot">招\n' +
											'\t\t\t\t\t\t\t\t\t\t\t\t<span class="num">'+item.wantNum+'</span>人\n' +
											'\t\t\t\t\t\t\t\t\t\t\t</div></div>\n' +
											'\t\t\t\t\t\t\t\t\t\t<div class="hover">\n' + itemHtml +
											'\t\t\t\t\t\t\t\t\t\t\t<a href="/plugin/company/detail?cId='+item.id_company+'" class="more">共招'+item.wantNum+'人</a>\n' +
											'\t\t\t\t\t\t\t\t\t\t</div></li>';
									$("#tjdwList").append(html);
								}
							}
						}
					}, function (){

					});
				}

				function HomeXjhList(){
					var airKeynote = new AirKeynote();
					airKeynote.getAirKeynoteList({
						page: 1,
						page_size: 3,
						schoolUrl: schoolUrl
					}, function (){

					}, function (res){
						if (res.success) {
							var len = res.list.length;
							if(len > 0){
								for (var i = 0; i < len; i++) {
									var item = res.list[i];
									var typeStr = item.air_type == 1? "视频直播": "视频录播";
									var html = '<li class="col-4">\n' +
											'\t\t\t\t\t\t\t\t\t\t<a href="#">\n' +
											'\t\t\t\t\t\t\t\t\t\t\t<img src="'+item.cover_img+'" alt="" class="zph-img">\n' +
											'\t\t\t\t\t\t\t\t\t\t\t<div class="detail">\n' +
											'\t\t\t\t\t\t\t\t\t\t\t\t<div class="title">'+item.subject+'</div>\n' +
											'\t\t\t\t\t\t\t\t\t\t\t\t<p class="type c-light">'+typeStr+'</p>\n' +
											'\t\t\t\t\t\t\t\t\t\t\t\t<p class="date c-light">'+item.start_time+'</p>\n' +
											'\t\t\t\t\t\t\t\t\t\t\t</div>\n' +
											'\t\t\t\t\t\t\t\t\t\t</a></li>';
									$("#xjhList").append(html);
								}
							}
						}
					}, function (){});
				}

				function HomeZphList(kind){
					var jobFair = new JobFair();
					jobFair.getHomeJobFairList({
						page: 1,
						limit: 3,
						kind: kind,
					}, function (){

					}, function (res){
						if (res.success) {
							var len = res.data.length;
							if(len > 0){
								for (var i = 0; i < len; i++) {
									var item = res.data[i];
									var type = kind === "online"?"线上招聘会":"线下招聘会";
									var html = '<li class="col-4">\n' +
											'\t\t\t\t\t\t\t\t\t\t<a href="3.2-招聘会详情.html">\n' +
											'\t\t\t\t\t\t\t\t\t\t\t<img src="'+item.logopath+'" alt="" class="zph-img">\n' +
											'\t\t\t\t\t\t\t\t\t\t\t<div class="detail">\n' +
											'\t\t\t\t\t\t\t\t\t\t\t\t<div class="title">'+item.name+'</div>\n' +
											'\t\t\t\t\t\t\t\t\t\t\t\t<p class="type c-light">'+type+'</p>\n' +
											'\t\t\t\t\t\t\t\t\t\t\t\t<p class="date c-light">'+item.starttime+'</p>\n' +
											'\t\t\t\t\t\t\t\t\t\t\t</div>\n' +
											'\t\t\t\t\t\t\t\t\t\t</a>\n' +
											'\t\t\t\t\t\t\t\t\t</li>';
									if(kind === "online"){
										$("#xsList").append(html);
									}else{
										$("#xxList").append(html);
									}
								}
							}
						}
					}, function (){});
				}

				laydate.render({
					elem: '#calendar', //容器id,CLass
					position: 'static',
					change: function (value, date, endDate){
						window.location.href = '/plugin/jobfair/date/list';
					},
					mark: {
						'2023-09-16': '16',
					},

		        })
			})

			$(document).on('click', '.tab-box .tab-head ul li', function () {
				var index = $(this).index();
				var innerDiv = $($(this).parents('.tab-box').find('.inner-div')[index]);

				$(this).addClass('active').siblings().removeClass('active');
				innerDiv.addClass('active').siblings().removeClass('active')

				var aId = $(this).parents('.tab-head').find('a').attr("id");
				var url;
				if(aId === "xwggMore"){
					url = xwggList[index].link_url === ""
							? ("/" + siteFlag + "/"+ xwggList[index].channel_name +"/" + xwggList[index].call_index)
							: xwggList[index].link_url;
					$("#xwggMore").attr("href", url);
				}else if(aId === "jyfwMore"){
					url = jyfwList[index].link_url === ""
							? ("/" + siteFlag + "/"+ jyfwList[index].channel_name +"/" + jyfwList[index].call_index)
							: jyfwList[index].link_url;
					$("#jyfwMore").attr("href", url);
				}else if(aId === "jyMore"){
					url = "";
					switch (index){
						case 0:
						case 5:
							url = "/plugin/job/list";
							break;
						case 1:
							url = "/plugin/airkeynote/list";
							break;
						case 2:
						case 3:
							url = "/plugin/jobfair/list";
							break;
						case 4:
							url = "/plugin/company/list";
							break;
					}
					$("#jyMore").attr("href", url);
				}
			})
			
		</script>
	</body>

</html>