<div class="cont-right">
    <div class="breadcrumb">
        <img src="{{.webroot}}images/position.png" alt="" class="position" /> 您所在的位置：
        <a href="/">首页</a>&gt;
        <a href="javascript:void(0)">学校概况</a>&gt;
        <a href="javascript:void(0)" class="active">列表</a>
    </div>
    <div class="list-con" id="divImg">
        <ul class="imgTextlist-ul">
            <li>
                <div class="img-box">
                    <img src="{{.webroot}}images/zy_img1.png" class="img" />
                </div>
                <div class="info-box">
                    <div class="title">从 内容摘要 取值</div>
                    <div class="info">
                        <div class="item">
                            <div class="name">培养方向：</div>
                            <div class="txt">从 SEO标题 取值</div>
                        </div>
                        <div class="item">
                            <div class="name">就业方向：</div>
                            <div class="txt">从 SEO描述 取值</div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div id="pagination" class="pagination"></div>
    </div>
</div>
<script id="templateLi" type="text/template">
    <li>
        <div class="img-box">
            <img data-original="${img_url1}" src="${img_url1}" class="img" />
        </div>
        <div class="info-box">
            <div class="title">&nbsp;&nbsp;&nbsp;&nbsp;${summary}</div>
            <div class="info">
                <div class="item">
                    <div class="name">培养方向：</div>
                    <div class="txt">${seo_title}</div>
                </div>
                <div class="item">
                    <div class="name">就业方向：</div>
                    <div class="txt">${seo_description}</div>
                </div>
            </div>
        </div>
    </li>
</script>
<script type="text/javascript" src="/static/plugins/jquery-viewer/viewer.js"></script>
<link rel="stylesheet" href="/static/plugins/jquery-viewer/viewer.css">
<script type="text/javascript" src="/static/plugins/jquery-viewer/jquery-viewer.js"></script>
<script type="text/javascript">
    $(function () {
        $.ajax({
            url: "/api/category/nav?call_index=" + actionName + "&r=" + Math.random(),
            dataType: "json",
            type: "get",
            beforeSend: function () {
                $(".breadcrumb").html("");
            },
            success: function (res) {
                $(".breadcrumb").append('<img src="{{.webroot}}images/position.png" alt="" class="position" /> 您所在的位置：');
                $(".breadcrumb").append('<a href="/">首页</a>&nbsp;&gt;');
                if (res.code == 0) {
                    var len = res.data.length;
                    for (var i = 0; i < len; i++) {
                        $(".breadcrumb").append('&nbsp;<a href="javascript:void(0)">' + res.data[i].title + '</a>&nbsp;&gt;');
                    }
                }
                $(".breadcrumb").append('&nbsp;<a href="javascript:void(0)" class="active">列表</a>');
            },
            error: function () {
            },
            complete: function () {
            }
        });
    })

    var loadData = function (page, limit, call_index) {
        $.ajax({
            url: "/api/article/paginate?call_index=" + call_index + "&limit=" + limit + "&page=" + page + "&r=" + Math.random(),
            dataType: "json",
            type: "get",
            beforeSend: function () {
                if (debug != "debug") {
                    $(".imgTextlist-ul").html("");
                }
                $(".list-con").busyLoad("show", { spinner: "circle-line" });
            },
            success: function (res) {
                if (res.code == 0) {
                    if (debug != "debug") {
                        var len = res.data.length;
                        var tmpl = $('#templateLi').html();
                        for (var i = 0; i < len; i++) {
                            var item = res.data[i];
                            var url = item.link_url == "" ? "/article/detail/" + item.article_id : item.link_url;
                            var html = tmpl.replaceAll("${img_url1}", item.img_url1)
                                .replaceAll("${title}", item.title).replaceAll("${summary}", item.summary)
                                .replaceAll("${seo_title}", item.seo_title)
                                .replaceAll("${seo_description}", item.seo_description);
                            $(".imgTextlist-ul").append(html);
                        }
                        if (page == 1 && len > 0) {
                            laypage.render({
                                elem: 'pagination'
                                , limit: 6
                                , prev: '上页'
                                , next: '下页'
                                , limits: [6, 12, 24, 36, 48, 54]
                                , count: res.count //数据总数，从服务端得到
                                , jump: function (obj, first) {
                                    //首次不执行
                                    if (!first) {
                                        //do something
                                        loadData(obj.curr, obj.limit, call_index);
                                    }
                                }
                            });
                        }

                        var viewer = new Viewer(document.getElementById('divImg'), {
                            url: 'data-original'
                        });
                    }
                }
            },
            error: function () {
                alert('failed!');
            },
            complete: function () {
                $(".list-con").busyLoad("hide", { animate: "fade" });
            }
        });
    };

    layui.use(['form', 'element', 'laypage', 'layer'], function () {
        var form = layui.form,
            element = layui.element
        laypage = layui.laypage,
            layer = layui.layer;

        loadData(1, 6, actionName)

        form.render(); //刷新所有渲染效果，也可以单独熟悉某个效果	
        form.render('select'); //刷新select选择框渲染
    })
</script>