<div class="cont-right">
    <div class="breadcrumb">
        <img src="{{.webroot}}images/position.png" alt="" class="position" /> 您所在的位置：
        <a href="/">首页</a>&gt;&nbsp;
        <a href="javascript:void(0)">学校概况</a>&nbsp;&gt;&nbsp;
        <a href="javascript:void(0)" class="active">学校简介</a>
    </div>
    <div class="cont-detail">
        <div class="detail-box">
        </div>
    </div>
</div>
<script type="text/javascript">
    var loadData = function () {
        $.ajax({
            url: "/api/article/article?call_index=" + actionName + "&r=" + Math.random(),
            dataType: "json",
            type: "get",
            beforeSend: function () {
                $(".detail-box").html("");
                $(".cont-detail").busyLoad("show", { spinner: "circle-line" });
            },
            success: function (res) {
                if (res.code == 0) {
                    $(".detail-box").html(res.data.content);
                }
            },
            error: function () {
                alert('failed!');
            },
            complete: function () {
                $(".cont-detail").busyLoad("hide", { animate: "fade" });
            }
        });
    };

    layui.use(['form', 'element', 'laypage', 'layer'], function () {
        var form = layui.form,
            element = layui.element,
            laypage = layui.laypage,
            layer = layui.layer;

        loadData();
        ArticleClick(0, actionName);

        form.render(); //刷新所有渲染效果，也可以单独熟悉某个效果	
        form.render('select'); //刷新select选择框渲染
    })
</script>