<style>
    .single-item2 {
        width: 28.125rem;
        margin: 0 auto;
    }

    .slick-prev {
        left: -80px;
    }

    .slick-next {
        right: -80px;
    }

    .slick-slide img {
        width: 450px;
    }
</style>
<script src="/static/www/js/slick.js?r={{.time}}"></script>
<script type="text/javascript" src="/static/plugins/jquery-viewer/viewer.js"></script>
<link rel="stylesheet" href="/static/plugins/jquery-viewer/viewer.css">
<script type="text/javascript" src="/static/plugins/jquery-viewer/jquery-viewer.js"></script>
<div class="cont-right">
    <div class="breadcrumb">
        <img src="{{.webroot}}images/position.png" alt="" class="position" /> 您所在的位置：
        <a href="/">首页</a>&gt;
        <a href="javascript:void(0)">学校概况</a>&gt;
        <a href="javascript:void(0)" class="active">学校荣誉</a>
    </div>
    <div class="cont-detail" id="divImg">
        <div class="sliderList">
            <div class="slider single-item2" id="lunbo">
                {{range $index,$item := .album}}
                <div class="carousel-item">
                    <img data-original="{{$item.OriginalPath}}" title="{{$item.Title}}" src="{{$item.OriginalPath}}" />
                </div>
                {{end}}
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        var viewer = new Viewer(document.getElementById('divImg'), {
            url: 'data-original'
        });

        $('.single-item2').slick({
            dots: true,
            speed: 300,
            autoplay: true,
            slidesToShow: 1,
            slidesToScroll: 1,
            arrow: true
        });

        $.ajax({
            url: "/api/category/nav?call_index=" + actionName + "&r=" + Math.random(),
            dataType: "json",
            type: "get",
            beforeSend: function () {
                $(".breadcrumb").html("");
            },
            success: function (res) {
                $(".breadcrumb").append('<img src="{{.webroot}}images/position.png" alt="" class="position" /> 您所在的位置：');
                $(".breadcrumb").append('<a href="/">首页</a>&nbsp;&gt;');
                if (res.code == 0) {
                    var len = res.data.length;
                    for (var i = 0; i < len; i++) {
                        if (i != len - 1) {
                            $(".breadcrumb").append('&nbsp;<a href="javascript:void(0)">' + res.data[i].title + '</a>&nbsp;&gt;');
                        } else {
                            $(".breadcrumb").append('&nbsp;<a href="javascript:void(0)" class="active">' + res.data[i].title + '</a>');
                        }
                    }
                }
            },
            error: function () {
            },
            complete: function () {
            }
        });

    })
</script>